doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="/styles/guideline.css")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -var links = []

        -links.push({'url': '../../lvl_3_01_klinker', 'name': '01 Клинкер'});
        -links.push({'url': '../../lvl_3_02_rychnik', 'name': '02 Ручник'});
        -links.push({'url': '../../lvl_3_03_brushantka', 'name': '03 Брусчатка'});
        -links.push({'url': '../../lvl_3_04_chimia', 'name': '04 Химия'});
        -links.push({'url': '../../lvl_3_04_chimia', 'name': '05 Системные решения'});
        -links.push({'url': '../../lvl_3_01_klinker-animation', 'name': '01 Клинкер анимация'});

        h2 01 Каталог lvl 3 Выбор цвета

        ol
            each link in links
                li
                    a(href!=link.url+'.html')=link.name
