doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="/styles/guideline.css")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -var links = []

        -links.push({'url': '../menu_lvl_2_01_how_to_buy', 'name': '01 Как купить'});
        -links.push({'url': '../menu_lvl_2_02_about_company', 'name': '02 О компании'});
        -links.push({'url': '../menu_lvl_2_03_service', 'name': '03 Сервис'});
        -links.push({'url': '../menu_lvl_2_04_blog_1', 'name': '04 Блог 1'});
        -links.push({'url': '../menu_lvl_2_04_blog_2', 'name': '04 Блог 2'});

        h2 2 Меню второго уровня

        ol
            each link in links
                li
                    a(href!=link.url+'.html')=link.name
