doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="/styles/guideline.css")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -var links = []

        -links.push({'url': 'catalog_lvl_1_select_category/index', 'name': '01 Каталог lvl 1 Выбор категорий'});
        -links.push({'url': 'catalog_lvl_2_select_collection/index', 'name': '01 Каталог lvl 2 Выбор коллекций'});
        -links.push({'url': 'catalog_lvl_3_select_color/index', 'name': '01 Каталог lvl 3 Выбор цвета'});
        -links.push({'url': 'catalog_lvl_4_level_card_product/index', 'name': '01 Каталог lvl 4 Уровень карточки товара'});

        -links.push({'url': '', 'name': '------------------------------------------------'});
        -links.push({'url': '', 'name': '------------------------------------------------'});

        -links.push({'url': '../02_photobank_1', 'name': '02 Фотобанк 1'});
        -links.push({'url': '../02_photobank_2', 'name': '02 Фотобанк 2'});
        -links.push({'url': '../03_configurator', 'name': '03 Конфигуратор'});
        -links.push({'url': '../04_price', 'name': '04 Прайсы - ДОРАБОТАТЬ'});


        h2 1 Меню первого уровня

        ol
            each link in links
                li
                    a(href!=link.url+'.html')=link.name
