.b-blog
    .b-blog__header
        .container
            h1 СОФЬИНСКИЙ РЕКОРД
            p На майской встрече дилеров компании Stroeher в Дилленбурге были  анонсированы новинки сезона 2017-2018. Наибольший интерес гостей вызвала новая серия фасадной плитки Kontur (Контюр). - p
            .b-blog__label
                span smartbuy
                span stroeher
                span технология

            img(src='./images/blog_detail/1.jpg')
            span Фотография проекта с сайта архитектора Л. Лунёвой.
    .b-blog__body
        .container
            h2 Клинкерная плитка
            p Клинкерная плитка Ströher Keravette Weiss 140 крепится к фасаду на компоненты  от стратегического партнёра Ströher GmbH, узкоспециализированной компании STO Thermokeramik, сфокусированной на создании комплексных фасадных систем.
            .b-blog__divider В скором времени в подмосковном Софьино будет введён в эксплуатацию офисно-складской комплекс.
            p Важной составляющей этого, в общем, непримечательного события является то, что на сегодняшний день это крупнейший в России объект, выполненный в соответствии с широко распространённой в Германии традиционной технологией мокрого фасада.
            .b-blog__slider.js-blog-slider
                img(src='./images/blog_detail/2.jpg')
                img(src='./images/blog_detail/2.jpg')
            p Клинкерная плитка Ströher Keravette Weiss 140 крепится к фасаду на компоненты  от стратегического партнёра Ströher GmbH, узкоспециализированной компании STO Thermokeramik, сфокусированной на создании комплексных фасадных систем.
            .b-blog__quote Кстати, это не единичный случай. В Европе подобная практика очень распространена, и завод изготавливает такие спецзаказы с существенным запасом, чтобы не настраивать производственные линии повторно, еслизаказчик решит закупить еще немного.
            p Клинкерная плитка Ströher Keravette Weiss 140 крепится к фасаду на компоненты  от стратегического партнёра Ströher GmbH, узкоспециализированной компании STO Thermokeramik, сфокусированной на создании комплексных фасадных систем.
            img(src='./images/blog_detail/3.jpg')

            h2 Мы получаем нашу напольную керамику через экструзию влажной глиняной массы

            .b-block__right-content
                ol
                    li
                        span 1
                        | Подобная технология позволяет сохранить поры и капиллярные каналы необожженной глины.
                    li
                        span 2
                        | Глиняная масса газопроницаема, характеризуется устойчивостью против атмосферных влияний и гомогенной структурой частиц, позволяющей отводить воду.
                    li
                        span 3
                        | Мы называем это мембранным эффектом, так как даже малейшее количество конденсационной влаги может испаряться естественным путем.
                    li
                        span 4
                        | Обратная сторона керамики имеет ярко выраженную структурированную поверхность.
                    li
                        span 5
                        | Для придания оптимальных свойств, обеспечивающих сцепление и зацепление.


                .b-block__text
                    h4 Используемые цветовые решения
                    span Это соответствует стандарту DIN EN ISO 10545-12.
            p В зависимости от объекта, такие «остатки» могут быть весьма внушительного объёма, поэтому через пару лет невостребованный материал Sonderbrand реализуется любому желающему с существенным дисконтом. Это тот уникальный случай, когда отличный товар можно купить по очень привлекательной цене. «Керамик груп» имеет практику выкупать такие коллекции: их цена привлекательна, и они пользуются хорошим спросом.

            .b-block__right-content
                img(src='./images/blog_detail/4.jpg')
                .right-content
                    .right-content__title Используемые цветовые решения
                    .right-content__blocks
                        .right-content__card
                            img(src='./images/blog_detail/5.jpg')
                            span 454 CREME-WEISS USED LOOK
                        .right-content__card
                            img(src='./images/blog_detail/6.jpg')
                            span 452 SILBER-GRAU USED LOOK

            p Так, совсем давно мы получили две больших партии спецпродукции Sonderbrand, и что-то уже можно увидеть на нашем специализированном сайте discontceramic.ru. Заглядывайте на него время от времени, там бывает много интересных вариантов, вот только из-за ограниченного объёма хранятся они недолго.

    .b-block__footer
        .container
            h2 Читайте так же по этой теме
            .b-block__list
                a(href='').b-block__card
                    img(src='./images/blog_detail/7.jpg')
                    span Хороший год хорошо заканчивается
                a(href='').b-block__card
                    img(src='./images/blog_detail/8.jpg')
                    span Тротуарная плитка: Один раз и на долго
                a(href='').b-block__card
                    img(src='./images/blog_detail/7.jpg')
                    span Тольяттинский дворец спорта
                a(href='').b-block__card
                    img(src='./images/blog_detail/8.jpg')
                    span Просто я работаю  волшебником

            h2 Другие статьи
            .b-block__list
                a(href='').b-block__card
                    img(src='./images/blog_detail/steinlinge_373_01.png')
                    span Что такое клинкер
                a(href='').b-block__card
                    img(src='./images/blog_detail/zeitlos_355_03.png')
                    span Как правильно укладывать клинкер?
                a(href='').b-block__card
                    img(src='./images/blog_detail/steinlinge_373_01.png')
                    span ТКоллекция Aera: мнения дизайнеров
                a(href='').b-block__card
                    img(src='./images/blog_detail/zeitlos_355_03.png')
                    span Обзов выставки Ceramicgroup

