include ../mixins/all-mixins
- var img_1_f = './images/company/ardex_2.png'
- var img_2_f = './images/company/kerawil.png'
- var img_3_f = './images/company/sanselmo.png'
- var img_4_f = './images/company/qm_2.png'
- var img_5_f = './images/company/sto_2.png'

- var img_5_f1 = './images/company/stroeher.png'

- var img_right_img_1 = './images/company/img_right.jpg'

- var img_long_1 = './images/company/stroeher_img_long.jpg'
- var img_right_img_1 = './images/company/img_right.jpg'

.b-blog.b-blog--company
    .b-blog__body
        .container
            .b-blog__container-right
                .b-blog__list-firms
                    .b-blog__list-firms-items.b-blog__list-firms-items--ardex
                        span 2006
                        +img(img_1_f)
                    .b-blog__list-firms-items
                        span 2010
                        +img(img_2_f)
                    .b-blog__list-firms-items
                        span 2013
                        +img(img_3_f)
                    .b-blog__list-firms-items
                        span 2014
                        +img(img_4_f)
                    .b-blog__list-firms-items
                        span 2016
                        +img(img_5_f)
                p.b-blog__paragraph-desk Все началось в 2006 г., когда небольшая российская компания начала импортировать из Германии клинкерную плитку, материал традиционный для Европы, но мало кому известный в России. И несмотря на то, что на рынке было немало поставщиков отделочных материалов, компания стала процветать. Готовность помочь заказчику
                    |
                    b  разобраться в сложных технических деталях,
                    |  пройти с ним весь путь от начала до конца, а главное —
                    |
                    b  дать гарантию на результат
                    |  позволили молодому бизнесу начать нарастить обороты и расширить ассортимент.
                p.b-blog__paragraph-desk Сегодня торговый дом CeramicGroup является официальным российским представльством нескольких европейских производителей клинкера, керамикии спецсоставов.

                p.b-blog__paragraph-tb Торговый дом CeramicGroup является официальным российским представльством нескольких европейских производителей клинкера, керамикии спецсоставов.

                .b-blog__divider В нашем ассортименте кирпич ручной формовки S.Anselmoиз Италии, немецкая традиционная брусчатка Kerawil, сопутствующие материалы — профессиональная химия и сухие строительные смеси Quick-Mix, Ardex, STO.
                p.b-blog__paragraph-desk В основном, это семейные предприятия, основанные еще в XIX веке, но теперьуже признанные лидеры отрасли, эксперты с серёзными технологическими наработками и компетенциями. Но самое главное — это компании, за которые мы можем поручиться. А они могут ручаться за нас.

            .b-blog__bg-ligh-blue
                .b-blog__list-firms
                    .b-blog__list-firms-items
                        span 2006
                        +img(img_5_f1)
                p.b-blog__paragraph-desk И всё же нашим главным партнёром был и остаётся Ströher, немецкий производитель клинкерных ступеней и плитки — фасадной, напольной, террасной, промышленной. Когда-то с этого партнёрства начался бизнес,а сегодня CeramicGroup является официальным представителем завода на территории Российской Федерации.
                p.b-blog__paragraph-tb Главным нашим партнёром является Ströher, немецкий производитель клинкерных ступеней и плитки — фасадной, напольной, террасной, промышленной. CeramicGroup является официальным представителем завода на территории Российской Федерации.

            .b-blog__container-right
                .b-blog__list-firms
                    a(href='').b-blog__right-img
                        +img(img_right_img_1)
                        span Интерьер шоу-румов CeramicGroup.
                .b-blog__block-yellow
                    h3 Весь ассортимент представлен в шоу-румах Москвы, Краснодара, Екатеринбурга, Новосибирска и Владивостока.
                    p Торговый дом СeramicGroup — первый российский поставщик и официальный представитель европейских производителей клинкера, керамики и спецсоставов.

            h5 Партнерская программа для дилеров и сообственные филиалы в шести федеральных округах формируют обширную розничную сеть.

            .b-blog__list-city
                .b-blog__city-map
                ul
                    li Москва
                    li Брянск
                    li Санкт-Петербург
                    li Тверь
                    li Ярославль
                    li Нижний Новгород
                    li Тула
                ul
                    li Курск
                    li Киров
                    li Калуга
                    li Орёл
                    li Воронеж
                    li Тамбов
                    li Белгород
                ul
                    li Волгоград
                    li Ростов-на-дону
                    li Краснодар
                    li Грозный
                    li Казань
                    li Самара
                ul
                    li Екатеринбург
                    li Тюмень
                    li Барнаул
                    li Южно-Сахалинск
                    li Владивосток

            .b-blog__show-rooms
                p Шоу-румы компании расположены в административных центрах пяти федеральных округов. Главный принцип создания шоу-рума — упростить выбор, представить как можно более полный ассортимент товаров в наличии.
                .b-blog__slider.js-blog-slider
                    .b-blog__slider-item
                        img(src='./images/office/Москва.jpg')
                        span Шоу-рум компании в Москве
                    .b-blog__slider-item
                        img(src='./images/office/Краснодар.jpg')
                        span Шоу-рум компании в Краснодаре
                    .b-blog__slider-item
                        img(src='./images/office/Новосибирск.jpg')
                        span Шоу-рум компании в Новосибирске
                    .b-blog__slider-item
                        img(src='./images/office/Екат.jpg')
                        span Шоу-рум компании в Екатеринбурге
                    .b-blog__slider-item
                        img(src='./images/office/Владивосток.jpg')
                        span Шоу-рум компании во Владивостоке

            +img(img_long_1)

            #business.b-blog__section
                h2 Бизнес, который мы представляем

                .b-certificates-slider.js-certificates-slider.js-zoom-certificates
                    - for (var i = 0; i < 9; i++)
                        .b-certificates-slider__item
                            a(href='./images/sertific/Stroeher.jpg')
                                img(src='./images/sertific/Stroeher.jpg' alt='')

                .b-blog__list-firms
                    .b-blog__right-text.b-blog__right-text--first «Усердие рождает качество» — плакат в производственном помещении завода Ströher.
                    .b-blog__company
                        .b-blog__right-logo.b-blog__right-logo--stroeher
                            img(src='./images/company/stroeher.png' width='143px')
                        .b-blog__right-text «Штроер» — всемирно известный производитель экструдированных клинкерных ступеней и плитки — фасадной, напольной, террасной и промышленной.
                        a(href='./images/sertific/Stroeher.jpg').b-blog__right-link.js-popup-block
                            span Сертификат официального
                            span дистрибьютора Ströher
                    .b-blog__company
                        .b-blog__right-logo.b-blog__right-logo--sto
                            img(src='./images/company/sto_2.png' width='188px')
                        .b-blog__right-text Крупный немецкий концерн, специализирующийся на производстве материалов для внутренних и наружных фасадных работ. Мажоритарный акционер Ströher GmbH.
                        a(href='./images/sertific/STO интерьер.jpg').b-blog__right-link.js-popup-block
                            span Сертификат официального
                            span дистрибьютора STO

                h3 Stroeher: технологичный
                .b-blog__slash
                    .b-blog__slash-item Крупнейший экспортёр
                    .b-blog__slash-item Широкий ассортимент
                    .b-blog__slash-item Уникальные технологии
                .b-blog__two-p
                    p Немецкий завод Ströher GmbH считается одним из наиболее авторитетных производителей клинкера в мире. Как и у многих крупных европейских компаний, история завода берет своё начало в XIX веке, от скромной семейной мастерской до промышленного гиганта. Сегодня продукция Ströher очень ценится в России, а самые знаменитые мировые архитектурные объекты отделаны знаменитым клинкером из Германии. В ассортимент производителя входят элементы для всех фасадных системных решений, применяемых на российском рынке — как для мокрых, так и вентилируемых фасадов, под затирку и без шва.
                    p Высокая популярность материала объясняется изысканностью дизайна и широким ассортиментом: плитка «Штроер» выпускается более чем в 200 различных цветах, форматах и фактурах поверхности. Это изобилие многократно превосходит аналогичные производства по всему миру. В этом ключевое отличие немецкого производителя: беспрестанные инженерные разработки открывают новые высокотехнологичные методы очистки, формовки, обжига и сушки, позволяя добиваться идеальных параметров итоговой продукции с точки зрения геометрии, прочности и морозостойкости.


                .b-blog__block-yellow.b-blog__block-yellow--long
                    p Среди технологических достижений, в которых Ströher стал основоположником, можно выделить сверхдлинные форматы фасадной плитки, например Riegel 50; производство напольной клинкерной плитки крупных форматов, вплоть до 40х80 см; цифровую печать на клинкере, позволяющая получить рисунок любой текстуры. Многие профессиональные достижения компании Ströher до сих пор остаются не повторёнными, а продукция — уникальной.

            .b-blog__two-img
                div
                    img(src='./images/company/1_1-2_img.png')
                    img(src='./images/company/img_sto_building.jpg')
                span Штаб-квартира Sto AG в Штюлингене, на Юго-Западе Германии. «Лучшее коммерческое здание в Европе» по версии RIBA в 1999 году




            .b-blog__section.b-blog__section--top-right
                .b-blog__list-firms
                    .b-blog__company
                        .b-blog__right-logo.b-blog__right-logo--ardex
                            img(src='./images/company/ardex_2.png' width='86px')
                        .b-blog__right-text Независимое семейное предприятиес более чем 70-летней историей производства бескомпромиссно качественной строительной химии. Компания с годовым оборотом €720М, 70% которого осуществляется за пределами Германии.
                        a(href='./images/sertific/Ardex.jpg').b-blog__right-link.js-popup-block
                            span Сертификат официального
                            span дистрибьютора Ardex
                    .b-blog__company
                        .b-blog__right-logo.b-blog__right-logo--qm
                            img(src='./images/company/qm_2.png' width='135px')
                        .b-blog__right-text Крупный немецкий концерн, специализирующийся на производстве материалов для внутренних и наружных фасадных работ. Мажоритарный акционер Ströher GmbH.
                        a(href='./images/sertific/Quick-mix.jpg').b-blog__right-link.js-popup-block
                            span Сертификат официального
                            span дистрибьютора quick-mix

                h3 Ardex, STO, quick-mix: профессиональный

                .b-blog__slash
                    .b-blog__slash-item Эталон качества строительных смесей
                    .b-blog__slash-item Гарантированный результат
                    .b-blog__slash-item Передовые научные разработки
                .b-blog__two-p
                    p Три мировых химических гиганта, немецкие концерны Ardex Group GmbH, Sto SE& Co. KGaA и quick-mix Gruppe GmbH & Co. KG являются известными во всем мире производителями высококачественных сухих смесей и химии для строительства. При этом каждый из них уверенно занимает свою нишу: специализация Ardex — составы для пола, Sto — для фасадов, quick-mix силён в вопросах мощения, кладочных растворов и затирок. Все трое имеют огромный опыт и ведут беспрестанный поиск новых решений.
                    p Продукцию этих марок нельзя встретить в популярном магазине стройматериалов, и всё же без кого-нибудь из этой троицы не обошлась ни одна серьёзная стройка, и немудрено: профессиональные системные компоненты, в отличие от материалов серии «сделай сам» гарантируют не только увлекательный процесс, но и гарантированный результат.


                img(src='./images/company/img_kerawil_photo.jpg' width='820px;')


                //.b-blog__slider.js-blog-slider
                //    img(src='./images/blog_detail/2.jpg')
                //    img(src='./images/blog_detail/2.jpg')




            .b-blog__section.b-blog__section--top-right
                .b-blog__list-firms
                    .b-blog__company
                        .b-blog__right-logo.b-blog__right-logo--kerawil
                            img(src='./images/company/kerawil.png' width='125px')
                        .b-blog__right-text «Керавил» — это относительно небольшое семейное предприятие по производству клинкерной брусчатки в Нижней Саксонии.
                        a(href='./images/sertific/Kerawil.jpg').b-blog__right-link.js-popup-block
                            span Сертификат официального
                            span дистрибьютора Kerawil


                h3 Kerawil: специализированный

                .b-blog__slash
                    .b-blog__slash-item Пятое поколение собственников бизнеса
                    .b-blog__slash-item Индивидуальный подход
                    .b-blog__slash-item Европейская классика
                .b-blog__two-p
                    p Kerawil Tonwerk Wilhelmshöhe GmbH — ещё одно семейное производство с вековой историей. В отличие от Ströher, фабрика «Керавил» небольшая, и до сих пор остается полностью семейным бизнесом. Его специализация — ландшафтные решения. Это спецэлементы для мощения и тротуарный кирпич (брусчатка) различных расцветок, форматов и толщины: пожалуй, самый консервативный, вековой европейский материал для мостовых.

                    p Ключевой особенностью и безусловным преимуществом работы с «Керавил» является тот факт, что компания практически не формирует складских запасов: вся продукция делается под индивидуальный заказ, что открывает практически безграничные возможности для индивидуального дизайна.


                .b-blog__single-img
                    img(src='./images/company/hand_long_img.jpg')
                    span Кирпич ручной формовки — вещь с характером. В руках мастера — S.Anselmo Corso Aqua.



                //.b-blog__slider.js-blog-slider
                //    img(src='./images/blog_detail/2.jpg')
                //    img(src='./images/blog_detail/2.jpg')



            .b-blog__section.b-blog__section--top-right
                .b-blog__list-firms
                    .b-blog__company
                        .b-blog__right-logo.b-blog__right-logo--s-anselmo
                            img(src='./images/company/s_anselmo_2_brown.png' width='125px')
                        .b-blog__right-text «Сан Ансельмо» — это кирпич ручной формовки, позволяющий создавать подчеркнуто индивидуальный стиль фасада в различных направлениях. Для этого помимо классического, может применяться состаренный, дымчатый, удлинненный, и смешанный вид кирпича.

                        a(href='./images/sertific/Anselmo.jpg').b-blog__right-link.js-popup-block
                            span Сертификат официального
                            span дистрибьютора San Anselmo


                h3 S.Anselmo: крафтовый

                .b-blog__slash
                    .b-blog__slash-item Итальянские мастера
                    .b-blog__slash-item Премиальный стиль
                    .b-blog__slash-item Dolce Vita!
                .b-blog__two-p
                    p Fornace S.Anselmo S.p.A. — классический итальянский семейный бизнес, почти сто лет назад основанный главой семейства Де Кекки. Сегодня это средиземноморская группа компаний, предлагающая широкий ассортимент керамической продукции для строительства.

                    p CeramicGroup поставляет на российский рынок кирпич ручной формовки этого производителя. Он создается из различных сортов глины тосканского месторождения, и стоит отметить, что это особое чувство, когда наблюдаешь более ста примеров того, какой изысканной и экстравагантной может быть такая, казалось бы, обыденная вещь, как кирпич. Оказывается, каждый продукт может быть наделён своим неповторимым характером.








            #advantages.b-blog__bg-ligh-blue.b-blog__bg-ligh-blue--large
                .b-blog__list-firms
                    .desc Шоу-рум компании в Москве
                h2 Наши преимущества
                p Шоу-румы компании расположены в административных центрах пяти федеральных округов. Главный принцип создания шоу-рума — упростить выбор, представить как можно более полный ассортимент товаров в наличии.
                .b-blog__slider.js-blog-slider
                    .b-blog__slider-item
                        img(src='./images/office/Москва.jpg')
                        span Шоу-рум компании в Москве
                    .b-blog__slider-item
                        img(src='./images/office/Краснодар.jpg')
                        span Шоу-рум компании в Краснодаре
                    .b-blog__slider-item
                        img(src='./images/office/Новосибирск.jpg')
                        span Шоу-рум компании в Новосибирске
                    .b-blog__slider-item
                        img(src='./images/office/Екат.jpg')
                        span Шоу-рум компании в Екатеринбурге
                    .b-blog__slider-item
                        img(src='./images/office/Владивосток.jpg')
                        span Шоу-рум компании во Владивостоке

                .b-blog__desc
                    h3 Прямое представительство
                    p Статус «правой руки» производителя позволяет нам полностью располагать производственными мощностями завода для реализации проектов, требующих индивидуального подхода и несерийных решений. Как правило, результатом является возможность как минимум, существенно сэкономить средства, а как максимум — сделать невозможное.

                .b-blog__desc
                    h3 Логистика представительство
                    .b-blog__two-p
                        p Все материалы, присутствующие у нас в ассортименте, мы продаем на особых правах официального регионального представительства производителя.
                        p Особые права официального представительства сказываются и на стоимости. Мы обеспечиваем наиболее эффективную «белую» логистику и контролируем цены в дилерской сети, исключая как ценовой демпинг, так и спекуляцию нашим товаром на всей территории страны. Поэтому покупая у нас, вы покупаете 100% качественный товар без переплаты.


                .b-blog__desc
                    h3 Системные решения
                    .b-blog__about-icon
                        img(src='./images/icon/about_company.png')
                    .b-blog__two-p
                        p Стратегический упор в своем бизнесе мы делаем на комплексный подход. Когда заказчик  покупает плитку в одном месте, клей — в другом, а в третьем нанимает бригаду, от этого понемногу теряют все, и в первую очередь — сам заказчик:в случае, если что-то пойдёт не так, никто не сможет и не захочет взять на себя совокупную ответственность. А цена ошибки, как правило, высока.
                        p Другое дело, если к решению задачи подходит единый сертифицированный исполнитель, обеспечивая технически грамотное, выверенное решение, и беретна себя ответственность за результат. Гарантированное качество — это стратегически оправданный подход.

            #client.b-blog__client
                    .b-blog__client-title
                        h2 Наши клиенты
                        a(href='') Скачать каталог выполненных объектов в России (PDF)

                    .b-blog__client-lisr
                        a(href='').b-blog__client-card
                            h4 АО «Дон-Строй Инвест»
                            .square 76 000 м2
                            img(src='./images/company/client/Frame (1).png')

                        a(href='').b-blog__client-card
                            h4 ПАО «Группа Компаний ПИК»
                            .square 8 665 м2
                            img(src='./images/company/client/Frame (2).png')

                        a(href='').b-blog__client-card
                            h4 АО «Центр-Инвест»
                            .square 14 500 м2
                            img(src='./images/company/client/Frame (3).png')


                        a(href='').b-blog__client-card
                            h4 ПАО «Инград»
                            .square 31 100 м2
                            img(src='./images/company/client/Frame (4).png')

                        a(href='').b-blog__client-card
                            h4 АО «Левел Групп»
                            .square 3 700 м2
                            img(src='./images/company/client/Frame (5).png')

                        a(href='').b-blog__client-card
                            h4 ГК «Пионер»
                            .square 14 500 м2
                            img(src='./images/company/client/Frame (6).png')

                        a(href='').b-blog__client-card
                            h4 АО «Баркли»
                            .square 1 500 м2
                            img(src='./images/company/client/Frame (7).png')
                        a(href='').b-blog__client-card
                            h4 АО «А101 Девелопмент»
                            .square 30 000 м2
                            img(src='./images/company/client/Frame (8).png')

                        a(href='').b-blog__client-card
                            h4 ООО «Вилладжио Истейт»
                            .square 15 000 м2
                            img(src='./images/company/client/Frame (9).png')

                        a(href='').b-blog__client-card
                            h4 ООО «Стоунхендж»
                            .square 3 500 м2
                            img(src='./images/company/client/Frame (10).png')

                        a(href='').b-blog__client-card
                            h4 ООО «Стадион «Спартак»
                            .square 5 000 м2
                            img(src='./images/company/client/Frame (11).png')

                        a(href='').b-blog__client-card
                            h4 ООО «ЭС Эй Риччи»
                            .square 2 500 м2
                            img(src='./images/company/client/Frame (12).png')

                        a(href='').b-blog__client-card
                            h4 ООО «ЮИТ»
                            .square 3 000 м2
                            img(src='./images/company/client/Frame (13).png')

                        a(href='').b-blog__client-card
                            h4 ООО «Авирон»
                            .square 6 000 м2
                            img(src='./images/company/client/Frame (14).png')

                        a(href='').b-blog__client-card
                            h4 ООО ИСК «Ареал»
                            .square 4 300 м2
                            img(src='./images/company/client/Frame (15).png')

                        a(href='').b-blog__client-card
                            h4 ЗАО «Красная Роза 1875»
                            .square 3 000 м2
                            img(src='./images/company/client/Frame (16).png')

                    button.btn.btn--more.js-show-client Показать еще

                    .b-blog__requisites
                        h2 Реквизиты
                        p Общество с ограниченной ответственностью
                            |
                            br
                            | «Торговый Дом «Керамик Груп»
                        .b-blog__requisites-list
                            .b-blog__requisites-item
                                p (ООО «ТД «Керамик Груп»)
                                p
                                    |
                                    b ИНН
                                    |  7718840104 КПП 771345001
                                p
                                    |
                                    b Факт. адрес:
                                    |  127247 г. Москва,
                                p Дмитровское ш., д. 100, стр. 2, оф. 2401

                            .b-blog__requisites-item
                                p
                                    |
                                    b Юр. адрес:
                                    |  107023, г. Москва, ул.
                                p Буженинова, д. 30, стр. 4
                                p
                                    |
                                    b Расчетный счет:
                                    |  40702810101100005236
                                p
                                    |
                                    b Название Банка:
                                    |  АО «АЛЬФА-БАНК»


                            .b-blog__requisites-item
                                p
                                    |
                                    b Кор.счет:
                                    |  30101810200000000593
                                p
                                    |
                                    b БИК банка:
                                    |  044525593
                                p
                                    |
                                    b ОКПО
                                    |  90647231
                                p
                                    |
                                    b ОГРН
                                    |  1117746197579


    //#contacts.b-blog__contacts
    //    .container
    //        .b-block__contacts-slider
    //            .select-city
    //                .select-city__region.active
    //                    p Центральный ФО
    //                    a.select-city__item.js-select-city.active(href="#" data-reg_id="1")
    //                        span Москва
    //                    a.select-city__item.js-select-city(href="#" data-reg_id="8")
    //                        span Белгород
    //                    a.select-city__item.js-select-city(href="#" data-reg_id="9")
    //                        span Воронеж
    //                    a.select-city__item.js-select-city(href="#" data-reg_id="10")
    //                        span Курск
    //                    a.select-city__item.js-select-city(href="#" data-reg_id="3")
    //                        span Тамбов
    //                    a.select-city__item.js-select-city(href="#" data-reg_id="5")
    //                        span Тула
    //                .select-city__region
    //                    p Сев.запад. ФО
    //                    a.select-city__item.js-select-city(href="#" data-reg_id="11")
    //                        span Санкт-Петербург
    //                .select-city__region
    //                    p Южный ФО
    //                    a.select-city__item.js-select-city(href="#" data-reg_id="7")
    //                        span Краснодар
    //                .select-city__region
    //                    p Уральский ФО
    //                    a.select-city__item.js-select-city(href="#" data-reg_id="2")
    //                        span Екатеринбург
    //                    a.select-city__item.js-select-city(href="#" data-reg_id="12")
    //                        span Тюмень
    //                .select-city__region.active
    //                    p Сибирский ФО
    //                    a.select-city__item.js-select-city(href="#" data-reg_id="4")
    //                        span Новосибирск
    //                .select-city__region
    //                    p Дальневосточный ФО
    //                    a.select-city__item.js-select-city(href="#" data-reg_id="6")
    //                        span Владивосток
    //
    //        .b-block__mobile-select
    //            select.js-change-city
    //                optgroup(label="ЦЕНТРАЛЬНЫЙ ФО")
    //                    option(value='1') Москва
    //                    option(value='8') Белгород
    //                    option(value='9') Воронеж
    //                    option(value='10') Курск
    //                    option(value='3') Тамбов
    //                optgroup(label="СЕВ.ЗАПАД. ФО")
    //                    option(value='11') Санкт-Петербург
    //                optgroup(label="Южный ФО")
    //                    option(value='7') Краснодар
    //                optgroup(label="УРАЛЬСКИЙ ФО")
    //                    option(value='2') Екатеринбург
    //                optgroup(label="СИБИРСКИЙ ФО")
    //                    option(value='4') Новосибирск
    //                optgroup(label="ДАЛЬНЕВОСТОЧНЫЙ ФО")
    //                    option(value='6') Владивосток
    //        .b-block__map
    //            .b-block__map-top
    //                .b-block__map-city Москва
    //            .b-block__map-center
    //                .b-block__map-phone.rst_stroeher +7 (499) 348-84-91
    //                a.b-block__map-email(href="mailto:info@ceramicgroup.ru") info@ceramicgroup.ru
    //            .b-block__map-left
    //                h3 Адреса шоу-румов
    //                #map-left
    //                .b-block__map-top.b-block__map-top--mobile
    //                    .b-block__map-city Москва
    //                #contact_map_office_list.b-block__map-contacts
    //                    div
    //                        | Москва, Дмитровское ш., д. 100 стр. 2, оф. 2401.
    //                        a(href="#" data-coord_map="55.881911, 37.547652" data-coord_marker="") ПОКАЗАТЬ НА КАРТЕ
    //                    div
    //                        | Москва, ул. Твардовского, д. 12, корп. 1.
    //                        a(href="#" data-coord_map="55.794128, 37.400378" data-coord_marker="") ПОКАЗАТЬ НА КАРТЕ
    //                    // div
    //                    // | Телефон:
    //                    // = " "
    //                    // span.rst_stroeher_msk +7 (499) 348-85-59
    //                    // br
    //                    // | E-mail:
    //                    // = " "
    //                    // a(href='mailto:info@ceramicgroup.ru') info@ceramicgroup.ru
    //                .b-block__map-center.b-block__map-center--mobile
    //                    .b-block__map-mobile-con
    //                        span Телефон:
    //                        .b-block__map-phone.rst_stroeher +7 (499) 348-84-91
    //                    .b-block__map-mobile-con
    //                        span E-mail:
    //                        a.b-block__map-email(href="mailto:info@ceramicgroup.ru") info@ceramicgroup.ru
    //
    //            .b-block__map-right
    //                h3 Адрес регионального склада
    //                #map-right
    //                #contact_map_stock_list.b-block__map-contacts
    //                    span МО, Красногорский р-н, с. Петрово-Дальнее, вл.1, стр. 1
    //                    a(href="#" data-coord_map="55.085743, 82.976316" data-coord_marker="55.085743, 82.976316") [ПОКАЗАТЬ НА КАРТЕ]
    //        .b-block__copy
    //            p CeramicGroup 2004-2019
    //            a(href="https://www.ceramicgroup.ru/confident_politics.html") Положение о политике конфиденциальности

    //#contacts.b-block__contacts
    //    .container
    //        h2 Контакты
    //        .b-block__contacts-slider
    //            .select-city
    //                .select-city__region
    //                    p ЦЕНТРАЛЬНЫЙ ФО
    //                    a.select-city__item.js-select-city.active(href='', data-reg_id='1') Москва
    //                    a.select-city__item.js-select-city(href='', data-reg_id='8') Белгород
    //                    a.select-city__item.js-select-city(href='', data-reg_id='9') Воронеж
    //                    a.select-city__item.js-select-city(href='', data-reg_id='10') Курск
    //                    a.select-city__item.js-select-city(href='', data-reg_id='3') Тамбов
    //                .select-city__region
    //                    p СЕВ.ЗАПАД. ФО
    //                    a.select-city__item.js-select-city(href='', data-reg_id='11') Санкт-Петербург
    //                .select-city__region
    //                    p Южный ФО
    //                    a.select-city__item.js-select-city(href='', data-reg_id='7') Краснодар
    //                .select-city__region
    //                    p УРАЛЬСКИЙ ФО
    //                    a.select-city__item.js-select-city(href='', data-reg_id='2') Екатеринбург
    //                .select-city__region
    //                    p СИБИРСКИЙ ФО
    //                    a.select-city__item.js-select-city(href='', data-reg_id='4') Новосибирск
    //                .select-city__region
    //                    p ДАЛЬНЕВОСТОЧНЫЙ ФО
    //                    a.select-city__item.js-select-city(href='', data-reg_id='6') Владивосток
    //
    //        .b-block__mobile-select
    //            select
    //                optgroup(label="ЦЕНТРАЛЬНЫЙ ФО")
    //                    option(value='1') Москва
    //                    option(value='8') Белгород
    //                    option(value='9') Воронеж
    //                    option(value='10') Курск
    //                    option(value='3') Тамбов
    //                optgroup(label="СЕВ.ЗАПАД. ФО")
    //                    option(value='11') Санкт-Петербург
    //                optgroup(label="Южный ФО")
    //                    option(value='7') Краснодар
    //                optgroup(label="УРАЛЬСКИЙ ФО")
    //                    option(value='2') Екатеринбург
    //                optgroup(label="СИБИРСКИЙ ФО")
    //                    option(value='4') Новосибирск
    //                optgroup(label="ДАЛЬНЕВОСТОЧНЫЙ ФО")
    //                    option(value='6') Владивосток
    //
    //        .b-block__map
    //            .b-block__map-left
    //                h3 Адрес офиса
    //                #map-left
    //                #contact_map_office_list.b-block__map-contacts
    //                    div
    //                        h4 Шоу-рум в БЦ «Норд Хаус»
    //                        | Москва, Дмитровское ш., д. 100 стр. 2, оф. 2401.
    //                        a(href='#', data-coord_map='55.881911, 37.547652', data-coord_marker='') [ПОКАЗАТЬ НА КАРТЕ]
    //                    div
    //                        h4 Шоу-рум на Твардовского
    //                        | Москва, Дмитровское ш., д. 100 стр. 2, оф. 2401.
    //                        a(href='#', data-coord_map='55.794128, 37.400378', data-coord_marker='') [ПОКАЗАТЬ НА КАРТЕ]
    //                    div
    //                        | Телефон:
    //                        span.rst_stroeher_msk +7 (499) 348-85-59
    //                        br
    //                        | E-mail:
    //                        a(href='mailto:info@ceramicgroup.ru') info@ceramicgroup.ru
    //            .b-block__map-right
    //                h3 Адрес регионального склада
    //                #map-right
    //                #contact_map_stock_list.b-block__map-contacts
    //                    h4 Центральный склад
    //                    span МО, Красногорский р-н, с. Петрово-Дальнее, вл.1, стр. 1
    //                    a(href='#', data-coord_map='55.881911, 37.547652', data-coord_marker='') [ПОКАЗАТЬ НА КАРТЕ]









