include ../mixins/all-mixins
- var img_1 = './images/catalog_detail_2/image-2.png'

- var img_2 = './images/catalog_detail_2/image-5.png'

- var img_3 = './images/catalog_detail_2/image-7.png'


.b-content
    .container
        .b-content__wrap
            .b-content__column.b-content__column--4
                .b-content-left.js-dropdown
                    h2.js-dropdown-head Фильтр
                    .b-filter.js-filter-select.js-filter-select--item.js-dropdown-content
                        form(name='_form' method='GET')
                            .b-filter__item.js-dropdown
                                .b-filter__title.js-dropdown-head Тип крепления
                                .b-filter__choice.js-dropdown-content
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_1f' name="catalog_feature_value[]" value="Мокрый фасад")
                                        label(for='_1f') Мокрый фасад

                                    .b-filter__checkbox
                                        input(type='checkbox' id='_2f' name="catalog_feature_value[]" value="Вент. фасад")
                                        label(for='_2f') Вент. фасад

                                    .b-filter__checkbox
                                        input(type='checkbox' id='_22f' name="catalog_feature_value[]" value="Мокрый")
                                        label(for='_22f') Мокрый
                            .b-filter__item.js-dropdown
                                .b-filter__title.js-dropdown-head Применение
                                .b-filter__choice.js-dropdown-content
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_14' name="catalog_parent_id[]" value="11")
                                        label(for='_14') Плитка для стен и фасадов
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_24' name="catalog_parent_id[]" value="12")
                                        label(for='_24') Напольная плитка и ступени
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_224' name="catalog_parent_id[]" value="13")
                                        label(for='_224') Тротуарная плитка
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_234' name="catalog_parent_id[]" value="14")
                                        label(for='_234') Промышленная плитка
                            .b-filter__item.js-dropdown
                                .b-filter__title.js-dropdown-head Коллекции
                                .b-filter__choice.js-dropdown-content
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_1`' name="catalog_id[]" value="16")
                                        label(for='_1`') Riegel 50
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_2`' name="catalog_id[]" value="17")
                                        label(for='_2`') Handstrich
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_22`' name="catalog_id[]" value="18")
                                        label(for='_22`') Steinlinge
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_1`d' name="catalog_id[]" value="27")
                                        label(for='_1`d') Duro
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_2s`' name="catalog_id[]" value="19")
                                        label(for='_2s`') Glanzstucke
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_1`1' name="catalog_id[]" value="28")
                                        label(for='_1`1') Roccia X
                                    .b-filter__checkbox
                                        input(type='checkbox' id='q_2`2' name="catalog_id[]" value="20")
                                        label(for='q_2`2') Zeitlos
                                    .b-filter__checkbox
                                        input(type='checkbox' id='a_2`2' name="catalog_id[]" value="29")
                                        label(for='a_2`2') Asar
                                    .b-filter__checkbox
                                        input(type='checkbox' id='s_2`2' name="catalog_id[]" value="21")
                                        label(for='s_2`2') Keraprotect
                                    .b-filter__checkbox
                                        input(type='checkbox' id='d_2`2' name="catalog_id[]" value="30")
                                        label(for='d_2`2') Epos
                                    .b-filter__checkbox
                                        input(type='checkbox' id='d_34' name="catalog_id[]" value="51")
                                        label(for='d_34') Terio Tec
                            .b-filter__item.js-dropdown
                                .b-filter__title.js-dropdown-head Цвета
                                .b-filter__choice.js-dropdown-content
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_1у' name="color_id[]" value="1")
                                        label(for='_1у') бежевый
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_2у' name="color_id[]" value="3")
                                        label(for='_2у') белый
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_223у' name="color_id[]" value="4")
                                        label(for='_223у') красный
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_22у' name="color_id[]" value="2")
                                        label(for='_22у') желтый
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_23у' name="color_id[]" value="5")
                                        label(for='_23у') коричневый
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_1уq' name="color_id[]" value="8")
                                        label(for='_1уq') черный
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_2уq' name="color_id[]" value="9")
                                        label(for='_2уq') серый
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_22уq' name="color_id[]" value="6")
                                        label(for='_22уq') голубой
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_23уq' name="color_id[]" value="7")
                                        label(for='_23уq') оранжевый
                            .b-filter__item.js-dropdown
                                .b-filter__title.js-dropdown-head Размеры (mm)
                                .b-filter__choice.js-dropdown-content
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_1' name="element_id[]" value="1")
                                        label(for='_1') 394x394x35
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_2' name="element_id[]" value="2")
                                        label(for='_2') 394x394x20
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_22' name="element_id[]" value="3")
                                        label(for='_22') 594x394x20
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_23' name="element_id[]" value="4")
                                        label(for='_23') 794x394x20

                                    .b-filter__checkbox
                                        input(type='checkbox' id='_1qw' name="element_id[]" value="5")
                                        label(for='_1qw') 794x394x20
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_2qw' name="element_id[]" value="6")
                                        label(for='_2qw') 794x394x20
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_22qw' name="element_id[]" value="21")
                                        label(for='_22qw') 240x115x10
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_23qw' name="element_id[]" value="22")
                                        label(for='_23qw') 240x115x13

                                    .b-filter__checkbox
                                        input(type='checkbox' id='_1qwqw' name="element_id[]" value="23")
                                        label(for='_1qwqw') 240x115x15
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_2qwqw' name="element_id[]" value="24")
                                        label(for='_2qwqw') 240x115x18
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_22qwqw' name="element_id[]" value="25")
                                        label(for='_22qwqw') 240x115x20
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_23qwqw' name="element_id[]" value="26")
                                        label(for='_23qwqw') 240x240x12
                            //input.js-hidden-input(type='hidden' name='last' value='')

                            .b-filter__item
                                //button.b-filter__btn.btn.btn--submit Применить
                                .b-filter__reset.js-reset-filter Сбросить фильтр

                                button.btn.btn--reset.b-filter__btn.js-reset-filter Сбросить
                                button.btn.btn--submit.b-filter__btn.js-submit-filter Применить


            .b-content__column.b-content__column--8
                .b-content-right
                    .b-gallery.b-gallery--card(data-last='12')
                        //a.card.card--info-left.js-gallery-card(href="/img/photo_item/big/1438.jpg" title="Custom Blends, CH Chester")
                        //    img(src="/img/photo_item/icon/1438.jpg")

                        .card.card--info-left
                            .card__wrap-img
                                a(href='./images/catalog_item/small/1.jpg').js-gallery-card
                                    +img('./images/catalog_item/small/1.jpg')
                                p Увеличить
                                a(href='').link Подробнее
                            .card__info
                                h4
                                    a(href='') Spaltklinker, 120 Beige

                        .card.card--info-left
                            .card__wrap-img
                                a(href='./images/catalog_item/small/2.jpg').js-gallery-card
                                    +img('./images/catalog_item/small/2.jpg')
                                p Увеличить
                                a(href='').link Подробнее
                            .card__info
                                h4
                                    a(href='') Spaltklinker, 120 Beige

                        .card.card--info-left
                            .card__wrap-img
                                a(href='./images/catalog_item/small/3.jpg').js-gallery-card
                                    +img('./images/catalog_item/small/3.jpg')
                                p Увеличить
                                a(href='').link Подробнее
                            .card__info
                                h4
                                    a(href='') Spaltklinker, 120 Beige

                        .card.card--info-left
                            .card__wrap-img
                                a(href='./images/catalog_item/small/3.jpg').js-gallery-card
                                    +img('./images/catalog_item/small/3.jpg')
                                p Увеличить
                                a(href='').link Подробнее
                            .card__info
                                h4
                                    a(href='') Spaltklinker, 120 Beige

                    button.btn.btn--more Показать ещё
        #js-scrolltop.sroll-top

