include ../mixins/all-mixins
- var img_1 = './images/detail/mil-combi-865-0004@2x.png'
- var img_2 = './images/detail/mil-kerabig-ks-01-001@2x.png'
- var img_3 = './images/detail/mil-sasso-515-0002@2x.png'
- var img_4 = './images/detail/roccia-833-02@2x.png'

.b-detail
    .b-blog__header
        .container
            h1 КОНФИГУРАТОР
            p Здесь вы можете применить серийные цвета клинкерной плитки и брусчатки на 3D-модель. Используйте фильтр для выбора цвета.

    .b-select-filter.b-select-filter--col-4
        .container
            .b-select-filter__wrap
                .b-select-filter__item
                    .b-select-filter__close
                    .b-select-filter__block
                        .b-select-filter__name Коллекция плитки
                        .b-select-filter__select(data-default='Любая коллекция') Любая коллекция
                    .b-select-filter__dropdown
                        .b-select-filter__dropdown-wrap
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_14' name="arrFilter_1_3510096238" value="Y")
                                label(for='_14') Пример-1
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_24')
                                label(for='_24') длинный Пример-2 в две строки
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_224')
                                label(for='_224') длинный Пример-2 в две строки
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_234')
                                label(for='_234') длинный Пример-2 в две строки
                        button.btn.btn--submit применить
                .b-select-filter__item
                    .b-select-filter__close
                    .b-select-filter__block
                        .b-select-filter__name Цвет плитки
                        .b-select-filter__select(data-default='Любой цвет') Любой цвет
                    .b-select-filter__dropdown
                        .b-select-filter__dropdown-wrap
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_1`' name="arrFilter_1_3510096238" value="Y")
                                label(for='_1`') Пример-1
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_2`')
                                label(for='_2`') длинный Пример-2 в две строки
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_22`')
                                label(for='_22`') длинный Пример-2 в две строки
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_23`')
                                label(for='_23`') длинный Пример-2 в две строки
                        button.btn.btn--submit применить
                .b-select-filter__item
                    .b-select-filter__close
                    .b-select-filter__block
                        .b-select-filter__name Коллекция брусчатки
                        .b-select-filter__select(data-default='Любая коллекция') Любая коллекция
                    .b-select-filter__dropdown
                        .b-select-filter__dropdown-wrap
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_1f' name="arrFilter_1_3510096238" value="Y")
                                label(for='_1f') Пример-1
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_2f')
                                label(for='_2f') длинный Пример-2 в две строки
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_22f')
                                label(for='_22f') длинный Пример-2 в две строки
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_23f')
                                label(for='_23f') длинный Пример-2 в две строки
                        button.btn.btn--submit применить

                .b-select-filter__item
                    .b-select-filter__close
                    .b-select-filter__block
                        .b-select-filter__name Цвет брусчатки
                        .b-select-filter__select(data-default='Любой цвет') Любой цвет
                    .b-select-filter__dropdown
                        .b-select-filter__dropdown-wrap
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_1' name="arrFilter_1_3510096238" value="Y")
                                label(for='_1') Пример-1
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_2')
                                label(for='_2') длинный Пример-2 в две строки
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_22')
                                label(for='_22') длинный Пример-2 в две строки
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_23')
                                label(for='_23') длинный Пример-2 в две строки
                        button.btn.btn--submit применить
    .container
        .b-detail-config
            a(href='').b-detail-config__card
                img(src='./images/detail/stroeher_gravel_blend_960.jpg')
