include ../mixins/all-mixins
- var img_1 = './images/gallery_list/KERABIG_KS14_02 копия.jpg'

- var img_2 = './images/gallery_list/KERAVETTE_319_02 копия@1x.jpg'

- var img_3 = './images/gallery_list/STROEHER Gravel Blend 960.jpg'


.b-content
    .container
        .b-content__wrap
            .b-content__column.b-content__column--4
                .b-content-left
                    h2 Фильтр
                    .b-filter.js-filter-select.js-filter-select--photo
                        form(name='_form' method='GET')
                            .b-filter__item
                                .b-filter__title Применение
                                .b-filter__choice
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_14' name="catalog_parent_id[]" value="11")
                                        label(for='_14') Плитка для стен и фасадов
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_24' name="catalog_parent_id[]" value="12")
                                        label(for='_24') Напольная плитка и ступени
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_224' name="catalog_parent_id[]" value="13")
                                        label(for='_224') Тротуарная плитка
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_234' name="catalog_parent_id[]" value="14")
                                        label(for='_234') Промышленная плитка
                            .b-filter__item
                                .b-filter__title Коллекции
                                .b-filter__choice
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_1`' name="catalog_id[]" value="16")
                                        label(for='_1`') Riegel 50
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_2`' name="catalog_id[]" value="17")
                                        label(for='_2`') Handstrich
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_22`' name="catalog_id[]" value="18")
                                        label(for='_22`') Steinlinge
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_1`d' name="catalog_id[]" value="27")
                                        label(for='_1`d') Duro
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_2s`' name="catalog_id[]" value="19")
                                        label(for='_2s`') Glanzstucke
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_1`1' name="catalog_id[]" value="28")
                                        label(for='_1`1') Roccia X
                                    .b-filter__checkbox
                                        input(type='checkbox' id='q_2`2' name="catalog_id[]" value="20")
                                        label(for='q_2`2') Zeitlos
                                    .b-filter__checkbox
                                        input(type='checkbox' id='a_2`2' name="catalog_id[]" value="29")
                                        label(for='a_2`2') Asar
                                    .b-filter__checkbox
                                        input(type='checkbox' id='s_2`2' name="catalog_id[]" value="21")
                                        label(for='s_2`2') Keraprotect
                                    .b-filter__checkbox
                                        input(type='checkbox' id='d_2`2' name="catalog_id[]" value="30")
                                        label(for='d_2`2') Epos
                                    .b-filter__checkbox
                                        input(type='checkbox' id='d_34' name="catalog_id[]" value="51")
                                        label(for='d_34') Terio Tec
                            .b-filter__item
                                .b-filter__title Цвета
                                .b-filter__choice
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_1у' name="color_id[]" value="1")
                                        label(for='_1у') бежевый
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_2у' name="color_id[]" value="3")
                                        label(for='_2у') белый
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_223у' name="color_id[]" value="4")
                                        label(for='_223у') красный
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_22у' name="color_id[]" value="2")
                                        label(for='_22у') желтый
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_23у' name="color_id[]" value="5")
                                        label(for='_23у') коричневый
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_1уq' name="color_id[]" value="8")
                                        label(for='_1уq') черный
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_2уq' name="color_id[]" value="9")
                                        label(for='_2уq') серый
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_22уq' name="color_id[]" value="6")
                                        label(for='_22уq') голубой
                                    .b-filter__checkbox
                                        input(type='checkbox' id='_23уq' name="color_id[]" value="7")
                                        label(for='_23уq') оранжевый

                            input.js-hidden-input(type='hidden' name='last' value='')
                            .b-filter__item
                                button.b-filter__btn.btn.btn--submit Применить
                                .b-filter__reset.js-reset-filter Сбросить фильтр


            .b-content__column.b-content__column--8
                .b-content-right
                    .b-gallery
                        //a(href='').card.card--info-left
                        //    +img(img_1)
                        //    .card__info
                        //        h4 Университет Бакингемшир
                        //        p Эйлсбери, Англия
                        //a(href='').card.card--info-left
                        //    +img(img_2)
                        //    .card__info
                        //        h4 Строительство башни
                        //        p Лейпциг, Германия
                        //a(href='').card.card--info-left
                        //    +img(img_3)
                        //    .card__info
                        //        h4 Центр плавания
                        //        p Лустенау, Австрия

                    .btn.btn--more.js-button-more(style='visibility: hidden;') Показать еще

