include ../mixins/all-mixins
- var img_1 = './images/detail/mil-combi-865-0004@2x.png'
- var img_2 = './images/detail/mil-kerabig-ks-01-001@2x.png'
- var img_3 = './images/detail/mil-sasso-515-0002@2x.png'
- var img_4 = './images/detail/roccia-833-02@2x.png'

.b-detail
    .container
        .b-breadcrumbs-detail.b-breadcrumbs-detail--new
            a(href='') Главная
            a(href='') Каталог
            a(href='') Строительные смеси и химия
    .b-detail__top-title.b-detail__top-title--list
        .container
            h1 ГОТОВЫЕ СИСТЕМНЫЕ РЕШЕНИЯ
            p Отработанные многокомпонентные рецепты применения профессиональной химии, составов
                br
                | и смесей для получения гарантированного результата.
    .container
        .b-detail__system-list
            .b-detail__system-list-aside CeramicGroup, как предствавитель производителя в России, предоставляет гарантию на многолетнюю беспроблемную эксплуатацию системных компонентов только при скрупулёзном соблюдении условий их применения.
            .b-detail__system-list-content
                .b-detail__system-list-top
                    h2 Содержание
                    ul
                        li Фасадные решения
                        li Санирование и реставрация
                        li Ландшафтный дизайн и дорожное строительство
                        li Укладка плитки на улице
                    .b-detail__system-list-all
                        .b-detail__system-list-dropdown.js-dropdown
                            h3.js-dropdown-head Фасадные решения
                        
                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Система утепления СФТК с клинкерной плиткой
                                ul.js-dropdown-content
                                    li StoTherm Keramik
                                    li Quick mix Lobatherm Rimchen

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Система утепления СФТК с декоративной штукатуркой
                                ul.js-dropdown-content
                                    li StoTherm Minera
                                    li StoTherm Vario
                                    li StoTherm Classic
                                    li Quick mix Lobatherm Mineral
                                    li Quick mix Lobatherm Vario

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Система отделки без утепления с клинкерной плиткой
                                ul.js-dropdown-content
                                    li STO ячеестый бетон
                                    li Quick mix ячеистый бетон
                                    li Quick mix керамический блок
                                    li Quick mix бетон и полнотелый кирпич
                                    li Ardex бетон

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Система отделки без утепления с декоративной штукатуркой
                                ul.js-dropdown-content
                                    li Quick mix ячеистый бетон
                                    li Quick mix керамический блок
                                    li Quick mix бетон и полнотелый кирпич
                                    li Sto ячеистый бетон
                                    li Sto кирпич, бетон, блок

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Системы вентфасада (НВФ) с керамической плиткой
                                ul.js-dropdown-content
                                    li Пустошовная система
                                    li Система с заполнением швов
                                    li StoVentec Fassade
                                    li Hilti VFH + Кнауф Аквапанель
                                    li Модульная фасадная система

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Системы вентфасада (НВФ) с декоративной штукатуркой
                                ul.js-dropdown-content
                                    li StoVentec Fassade

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Система вентфасада (НВФ) с кирпичом ручной формовки
                                ul.js-dropdown-content
                                    li S.Anselmo Skin пластины ручной формовки
                                    li НВФ с кладкой из кирпича ручной формовки

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Отделка каркасного дома клинкерной плиткой
                                ul.js-dropdown-content
                                    li Quick mix Lobatherm Rimchen
                                    li StoTherm Keramik

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Отделка каркасного дома декоративной штукатуркой
                                ul.js-dropdown-content
                                    li StoTherm Mineral H
                                    li StoTherm Vario H
                                    li StoTherm Classic /L
                                    li Quick mix Lobatherm Mineral
                                    li Quick mix Lobatherm Vario

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Готовые термопанели
                                ul.js-dropdown-content
                                    li CGTherm Keramik

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Санирование и реставрация
                                ul.js-dropdown-content
                                    li StoReno Plan
                                    li StoLastic Color
                                    li StoRenoPutz

                        .b-detail__system-list-dropdown.js-dropdown
                            h3.js-dropdown-head Ландшафтный дизайн
                                br
                                | и дорожное строительство

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Клеевые системы
                                ul.js-dropdown-content
                                    li Ardex для камня, брусчатки и тротурной плитки
                                    li Ardex для террасных пластин
                                    li Ardex-TeMa для брусчатки, натурального камня и плитки

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Системы с применением дренажного бетона на щебень
                                ul.js-dropdown-content
                                    li Quick mix Tubag Trass для камня, брусчатки и тротуарной плитки на щебень.
                                    li Quick mix- TeMa с применением дренажного мата на щебень.

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Системы с применением дренажного бетона на бетонное основание
                                ul.js-dropdown-content
                                    li Quick mix Tubag Trass для камня, брусчатки и тротуарной плитки на бетон.
                                    li Quick mix- TeMa с применением дренажного мата на бетон

                        .b-detail__system-list-dropdown.js-dropdown
                            h3.js-dropdown-head Укладка плитки на улице

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Клеевые системы для наружных работ
                                ul.js-dropdown-content
                                    li Ardex Step
                                    li Quick mix Step

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Системы с дренажным матом для наружных работ
                                ul.js-dropdown-content
                                    li Ardex-Gutjahr
                                    li Ardex-TeMa
                                    li Quick mix–TeMa
                                    li Quick mix Tubag-Gutjahr
                                    li Quick mix Tubag- TeMa

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Укладка плитки внутри
                                ul.js-dropdown-content
                                    li Плитка и мозаика на пол и стены
                                    li Ardex Tile
                                    li Quick mix Tile

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Натуральный камень
                                ul.js-dropdown-content
                                    li Ardex Stone
                                    li Quick mix Stone

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Влажные помещения, бассейны, сауны
                                ul.js-dropdown-content
                                    li Ardex Влажные помещения
                                    li Ardex Бассейн
                                    li Ardex Быстрая, усиленная гидроизоляция.
                                    li Quick mix Влажные помещения
                                    li Quick mix Быстрая, усиленная гидроизоляция.

                            .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                h4.js-dropdown-head Промышленные полы
                                ul.js-dropdown-content
                                    li Ardex Heavy Duty
                                    li Ardex Parking
