include ../mixins/all-mixins
- var img_1 = './images/detail/Group3-sys.png'
- var img_2 = './images/detail/mil-kerabig-ks-01-001@2x.png'
- var img_3 = './images/detail/mil-sasso-515-0002@2x.png'
- var img_4 = './images/detail/roccia-833-02@2x.png'
- var img_11 = './images/detail/Mask Group1.png'
- var img_22 = './images/detail/Mask Group2.png'

.b-detail
    .container
        .b-breadcrumbs-detail.b-breadcrumbs-detail--new
            a(href='') Строительные смеси и химия
            a(href='') Ландшафтный дизайн и дорожное строительство
            a(href='') Клеевые системы

        .b-detail__top-title-system
                h1 наименование: QUICK MIX TUBAG TRASS-TEMA С ПРИМЕНЕНИЕМ ДРЕНАЖНОГО МАТА НА БЕТОН
                p Сфера применения: Укладка натурального камня, брусчатки и тротуарной плитки.
        .b-detail-body
            .b-detail__system-scheme
                .b-detail__system-scheme-block

                    .b-detail__system-scheme-left
                        .b-detail__system-scheme-list-num
                            ol
                                li Клеевой состав
                                    ul
                                        li Sto–Baukleber
                                        li StoLevell Duo Plus

                                li Утеплитель: пенополистирол
                                    ul
                                        li Sto–Polystirol–Hartschaumplatte PS15SE
                                        li Российский аналог ПСБ–С 25Ф
                                li Крепление
                                    ul
                                        li Дюбели - Sto-Thermodübel
                                li Армирующий состав
                                    ul
                                        li Sto–Glasfasergewebe
                                li Финишное покрытие
                                    ul
                                        li Stolit K/R/MP
                                        li StoNivellit
                                        li StoSilco K/R/MP
                                        li StoLotusan K/MP

                        img(src=img_1)

                        .b-detail__system-scheme-list.b-detail__system-scheme-list--desktop
                            ul
                                li ПРЕИМУЩЕСТВА:
                                li Срок безремонтной эксплуатации не менее 10 лет.
                                li Возможность уборки подметальными машинами и мойками высого давления.
                                li Устойчивость к снеготаятельным реагентам.
                                li Защита от появления пятен на натуральном камне.
                                li Защита от появления высолов.
                                li Защита от прорастания сорняков.
                                li Возможность укладки на свежие бетоны.
                                li Большой выбор клеевых составов для приклеивания различных материалов мощения.
                                li Высокая скорость монтажа.

                        .b-detail__system-list-all.b-detail__system-list-all--mobile
                            .b-detail__system-list-dropdown.js-dropdown
                                h3.js-dropdown-head Преимущества

                                .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                    .b-detail__system-scheme-list
                                        ul
                                            li Срок безремонтной эксплуатации не менее 10 лет.
                                            li Возможность уборки подметальными машинами и мойками высого давления.
                                            li Устойчивость к снеготаятельным реагентам.
                                            li Защита от появления пятен на натуральном камне.
                                            li Защита от появления высолов.
                                            li Защита от прорастания сорняков.
                                            li Возможность укладки на свежие бетоны.
                                            li Большой выбор клеевых составов для приклеивания различных материалов мощения.
                                            li Высокая скорость монтажа.
                    .b-detail__system-scheme-img
                        img(src=img_1)

                        .b-detail__system-scheme-text
                            .b-detail__system-scheme-text-wrap
                                p ОПИСАНИЕ: В современной российской практике мощение брусчаткой, тротуарной плиткой и натуральным камнем дорожек, парковочных зон и т.п. очень часто производится на бетонное основание. При укладке на террасах, балконах и отмостках, а так же для монтажа мозаики клеевой метод укладки является основным.
                            .b-detail__system-scheme-text-wrap
                                p Наиболее частыми ошибками при таком методе укладки являются:
                                p -плохая подготовка основания и как следствие укладка на толстый слой клея, что приводит к усадке отдельных элементов, растрескиванию швов и самих камней мощения;
                                p -использование дешевых, не предназначенных для мощения плиточных клеевых составов и заполнителей швов, пренебрежение гидроизоляцией, укладка без швов приводит к проникновению влаги в глубь «пирога», коррозии бетонного основания и «отщелкиванию» элементов мощения, образованию высолов, изменению цвета натурального и бетонного камня;
                                p -отсутствие термокомпенсационных и деформационных швов, а так же укладка на свежий бетон и толстый слой клея вызывает трещины и разрушения даже такого прочного материала, как клинкерная брусчатка.
                            .b-detail__system-scheme-text-wrap
                                p Применяя профессиональную систему для мощения Ardex Вы можете избежать всех этих негативных последствий. В клеевых составах применена запатентованная технология Ardurapid, позволяющая затирать швы уже через 2-3 часа после укладки и технология Microtec
                                p – позволяющая укладывать на средний и толстый слоя клея без усадки и снижающая риск образования трещин.

                        .b-detail__system-list-all.b-detail__system-list-all--mobile
                            .b-detail__system-list-dropdown.js-dropdown
                                h3.js-dropdown-head Описание

                                .b-detail__system-list-subdropdown.js-dropdown.js-dropdown-content
                                    .b-detail__system-scheme-text-wrap
                                        p В современной российской практике мощение брусчаткой, тротуарной плиткой и натуральным камнем дорожек, парковочных зон и т.п. очень часто производится на бетонное основание. При укладке на террасах, балконах и отмостках, а так же для монтажа мозаики клеевой метод укладки является основным.
                                    .b-detail__system-scheme-text-wrap
                                        p Наиболее частыми ошибками при таком методе укладки являются:
                                        p -плохая подготовка основания и как следствие укладка на толстый слой клея, что приводит к усадке отдельных элементов, растрескиванию швов и самих камней мощения;
                                        p -использование дешевых, не предназначенных для мощения плиточных клеевых составов и заполнителей швов, пренебрежение гидроизоляцией, укладка без швов приводит к проникновению влаги в глубь «пирога», коррозии бетонного основания и «отщелкиванию» элементов мощения, образованию высолов, изменению цвета натурального и бетонного камня;
                                        p -отсутствие термокомпенсационных и деформационных швов, а так же укладка на свежий бетон и толстый слой клея вызывает трещины и разрушения даже такого прочного материала, как клинкерная брусчатка.
                                    .b-detail__system-scheme-text-wrap
                                        p Применяя профессиональную систему для мощения Ardex Вы можете избежать всех этих негативных последствий. В клеевых составах применена запатентованная технология Ardurapid, позволяющая затирать швы уже через 2-3 часа после укладки и технология Microtec
                                        p – позволяющая укладывать на средний и толстый слоя клея без усадки и снижающая риск образования трещин.



            .b-product-yt
                iframe(width="560" height="315" src="https://www.youtube.com/embed/qjay7v8PE_4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

            .b-product-journal.b-product__other
                h2 Другие клеевые системы

                .b-product-journal__list
                    +product_card(img_11, 'Ardex террасные пластины', '')
                    +product_card(img_22, 'Ardex-TeMa брусчатка, натуральный камень, плитка ', '')
                    +product_card(img_11, 'Quick mix Tubag Trass -TeMa с применением дренажного мата на щебень.', '')
                    +product_card(img_22, 'Quick mix Tubag Trass -TeMa с применением дренажного мата на щебень.', '')

            .b-product__full-bg
                .b-product__other.b-product__other--tb
                    h2 Другие клеевые системы
                    ul
                        li
                            a(href='#') Ardex-TeMa брусчатка, натуральный камень, плитка
                        li
                            a(href='#') Quick mix Tubag Trass -TeMa с применением дренажного мата на щебень.
                        li
                            a(href='#') Quick mix Tubag Trass для камня, брусчатки и тротуарной плитки на бетон.
                    .btn.btn--more Показать ещё
