include ../mixins/all-mixins
- var img_1 = './images/detail/mil-combi-865-0004@2x.png'
- var img_2 = './images/detail/mil-kerabig-ks-01-001@2x.png'
- var img_3 = './images/detail/mil-sasso-515-0002@2x.png'
- var img_4 = './images/detail/roccia-833-02@2x.png'

.b-detail
    .b-detail__top-title.b-detail__top-title--list
        .container
            .b-breadcrumbs
                a(href='') Главная
                a(href='') Каталог
                a(href='') Строительные смеси и химия
                a(href='') Для пола
                a(href='') Затирка
            h1 Строительные смеси и химия
    .container
        .b-detail__material
            .b-detail__filter.js-dropdown
                h2.js-dropdown-head Фильтр
                .b-filter.b-filter--dropdown.js-dropdown-content
                    form(name='_form' method='GET')
                        .b-filter__link
                            span Все
                        .b-filter__link
                            span Клеюще-армирующие  составы
                        .b-filter__link
                            span Декоротивные краски
                        .b-filter__link
                            span Кладочные растворы
                        .b-filter__link
                            span Материалы для санации
                        .b-filter__link
                            span Затирка
                        .b-filter__link
                            span Дополнительные  материалы
                        .b-filter__link
                            span Герметики
                        .b-filter__link
                            span Грунт
                        .b-filter__link
                            span Гидроизоляция
                        .b-filter__link
                            span Декоротивные  штукатурки
                        .b-filter__link
                            span Инструмент

                        .b-filter__item
                            button.btn.btn--reset.b-filter__btn Сбросить
                            button.btn.btn--submit.b-filter__btn Применить

            .b-detail__aside
                .b-detail__aside-item.active
                    span Все
                .b-detail__aside-item(data-catalog_id='154')
                    span Клеюще-армирующие  составы
                .b-detail__aside-item
                    span Декоротивные краски
                .b-detail__aside-item
                    span Кладочные растворы
                .b-detail__aside-item
                    span Материалы для санации
                .b-detail__aside-item
                    span Затирка
                .b-detail__aside-item
                    span Дополнительные  материалы
                .b-detail__aside-item
                    span Герметики
                .b-detail__aside-item
                    span Грунт
                .b-detail__aside-item
                    span Гидроизоляция
                .b-detail__aside-item
                    span Декоротивные штукатурки
                .b-detail__aside-item
                    span Инструмент
            .b-detail__card-material
                .card-material
                    .card-material__wrap
                        .card-material__img
                            img(src='./images/stroitel_smesi_and_chimia/image 3.jpg')
                        .card-material__text
                            h3 Клей для укладки Tubag
                            p Универсальная сухая  смесь на цементной основе  с повышенной эластичностью и адгезией.
                    .card-material__footer
                        .card-material__select
                            .card-material__select-wrap.js-select-items
                                span Цвет:
                                span Серый
                            .card-material__select-dropdown
                                span Черный
                                span Белый
                                span Фиолетовый
                                span Оранжевый


                        .card-material__select
                            .card-material__select-wrap.js-select-items
                                span 25 кг
                            .card-material__select-dropdown
                                span 10кг
                                span 25кг
                                span 50кг
                .card-material
                    .card-material__wrap
                        .card-material__img
                            img(src='./images/stroitel_smesi_and_chimia/Слой 29.jpg')
                        .card-material__text
                            h3 Затирка «Ceresit»
                            p 2-компонентная химически стойкая эпоксидная затирка  для заполнения швов
                    .card-material__footer
                        .card-material__select
                            .card-material__select-wrap.js-select-items
                                span Цвет:
                                span Серый
                            .card-material__select-dropdown
                                span Черный
                                span Белый
                                span Фиолетовый
                                span Оранжевый
                        .card-material__select
                            .card-material__select-wrap.js-select-items
                                span 25 кг
                            .card-material__select-dropdown
                                span 10кг
                                span 25кг
                                span 50кг

                .card-material
                    .card-material__wrap
                        .card-material__img
                            img(src='./images/stroitel_smesi_and_chimia/image 3.jpg')
                        .card-material__text
                            h3 Затирка LITOCHROM 3-15
                            p Затирочная смесь на цементной основе для заполнения межплиточных швов
                    .card-material__footer
                        .card-material__select
                            .card-material__select-wrap.js-select-items
                                span Цвет:
                                span Серый
                            .card-material__select-dropdown
                                span Черный
                                span Белый
                                span Фиолетовый
                                span Оранжевый
                        .card-material__select
                            .card-material__select-wrap.js-select-items
                                span 25 кг
                            .card-material__select-dropdown
                                span 10кг
                                span 25кг
                                span 50кг
                .card-material
                    .card-material__wrap
                        .card-material__img
                            img(src='./images/stroitel_smesi_and_chimia/Слой 29.jpg')
                        .card-material__text
                            h3 Грунт «Ceresit»
                            p Грунтовка для впитывающих оснований.
                    .card-material__footer
                        .card-material__select
                            .card-material__select-wrap.js-select-items
                                span Цвет:
                                span Серый
                            .card-material__select-dropdown
                                span Черный
                                span Белый
                                span Фиолетовый
                                span Оранжевый
                        .card-material__select
                            .card-material__select-wrap.js-select-items
                                span 25 кг
                            .card-material__select-dropdown
                                span 10кг
                                span 25кг
                                span 50кг

                .card-material
                    .card-material__wrap
                        .card-material__img
                            img(src='./images/stroitel_smesi_and_chimia/image 3.jpg')
                        .card-material__text
                            h3 Клей для укладки Tubag
                            p Универсальная сухая  смесь на цементной основе  с повышенной эластичностью и адгезией.
                    .card-material__footer
                        .card-material__select
                            .card-material__select-wrap.js-select-items
                                span Цвет:
                                span Серый
                            .card-material__select-dropdown
                                span Черный
                                span Белый
                                span Фиолетовый
                                span Оранжевый
                        .card-material__select
                            .card-material__select-wrap.js-select-items
                                span 25 кг
                            .card-material__select-dropdown
                                span 10кг
                                span 25кг
                                span 50кг
                .card-material
                    .card-material__wrap
                        .card-material__img
                            img(src='./images/stroitel_smesi_and_chimia/Слой 29.jpg')
                        .card-material__text
                            h3 Клей для укладки Ceresit
                            p Универсальная сухая смесь  на цементной основе с повышенной эластичностью и адгезией.
                    .card-material__footer
                        .card-material__select
                            .card-material__select-wrap.js-select-items
                                span Цвет:
                                span Серый
                            .card-material__select-dropdown
                                span Черный
                                span Белый
                                span Фиолетовый
                                span Оранжевый
                        .card-material__select
                            .card-material__select-wrap.js-select-items
                                span 25 кг
                            .card-material__select-dropdown
                                span 10кг
                                span 25кг
                                span 50кг

                .b-detail__card-material-btn
                    button.btn.btn--more Показать ещё
