include ../mixins/all-mixins
- var img_1 = './images/detail/sys.png'
- var img_2 = './images/detail/mil-kerabig-ks-01-001@2x.png'
- var img_3 = './images/detail/mil-sasso-515-0002@2x.png'
- var img_4 = './images/detail/roccia-833-02@2x.png'
- var img_11 = './images/detail/Mask Group1.png'
- var img_22 = './images/detail/Mask Group2.png'

.b-detail
    .container
        .b-breadcrumbs-detail
            a(href='') Строительные смеси и химия
            a(href='') Для фасада
            a(href='') Клеюще-армирующие составы
            a(href='') KBS

        .b-detail-card
            .b-detail-card__pic
                img(src='./images/detail/image-4@2x.png')
            .b-detail-card__text
                h1 Клеевой состав для СФТК KBS
                .b-detail-card__components
                    p
                        b Форма поставки:
                        span  мешок, 25 кг
                    p
                        b Цвет:
                        span  Серый
                figure
                    img(src='./images/detail/image-4@2x.png')
                .b-detail-card__desc Состав для приклеивания теплоизоляционных плит  в СФТКс наружными штукатурными слоями «LOBATHERM». Обладает водоотталкивающими свойствами.


        .b-detail-body
            .b-detail-tabs.js-tab-link
                .b-detail-tabs__item.active Описание
                .b-detail-tabs__item Применение
                .b-detail-tabs__item Характеристики
                .b-detail-tabs__item Тех.данные
                .b-detail-tabs__item Документы
                .b-detail-tabs__item Фото и видео

            .b-detail-content.js-tab-content
                .b-detail-content__item.b-detail-desc.active
                    h2 Свойства
                    ul
                        li клеевой состав на смешанном вяжущем для СФТК снаружными штукатурными слоями : B5; Btb2,4;Aab3; F 50, ГОСТ Р 54359-2011
                        li легкое нанесение
                        li контролируемое качество
                        li вяжущие согласно нормам DIN EN 197
                    h2 Подготовка основания
                    p Для приклеивания изоляционных плит подходят все прочные, чистые поверхности, такие как: бетон,любая кирпичная кладка, известково-цементная или цементная штукатурка. Неплотно прилегающие части, рыхлую штукатурку, загрязнения и плохо прилипшую краску следует удалить. При необходимости основание следует обработать грунтовкой UG. Приоценке основания и его подготовке учитывать указания СНиП 3.04.01-87, СП 70.13330.2012, СП15.13330.2012.


                .b-detail-content__item.b-detail-use
                    h2 Области применения
                    ul
                        li для приклеивания изоляционных плит из полистирола и минеральной ваты  в СФТК «LOBATHERM»
                        li для фиксации экструдированных плит из полистирола при теплоизоляции по периметру цоколя или фундамента (следует предварительно обеспечить шероховатость плиты)

                    h2 Выполнение работ

                    p Раствор наносится вручную. При нанесении вручную содержимое мешка (25 кг) высыпать в чистую емкость с точно отмеренным количеством воды (~ 5,0-5,5 л). Перемешать смесь электромеханическим миксером до достижения пластичной консистенции без комков в течение примерно 3 минут. Выдержать время дозревания смеси (2-3 минуты), затем - снова перемешать в течение примерно 1-2 минут. Ручное перемешивание не допускается. Полученный раствор необходимо израсходовать примерно за 1-2 часа.
                    p Состав наносится по периметру обрабатываемой поверхности изоляционной плиты сплошным валиком и в центре несколькими "куличами". Следует наносить столько раствора, чтобы после установки плиты раствором было покрыто примерно 60% (не менее 40%) ее площади. Внимание: не допускать проникновения состава в швы между плитами; при попадании - следует немедленно его оттуда удалить. При фиксации на ровном основании раствор равномерно наносится на изоляционные плиты с помощью зубчатого шпателя (10×10×10 мм). Время высыхания состава зависит от погодных условий и составляет не менее 24 часов

                .b-detail-content__item.b-detail-property
                    h2 Характеристики
                    ul
                        li минеральный состав
                        li водоотталкивающие свойства (wa)
                        li высокая адгезия к основанию
                        li минимальные внутренние напряжения
                        li практически безусадочный
                        li устойчивость к погодным условиям и ультрафиолетовому излучению

                .b-detail-content__item.b-detail-tex
                    h2 Технические данные

                    .b-product-table
                        .b-product-table__content
                            table
                                tr
                                    td  Класс смеси
                                    td  B5; Btb2,4;Aab3; F 50, ГОСТ Р 54359-2011

                                tr
                                    td  Прочность на сжатие
                                    td  6,5 МПа

                                tr
                                    td  Размер заполнителя
                                    td  0-1 мм

                                tr
                                    td  Температура применения
                                    td  +5°С до +30°С
                                tr
                                    td  Время использования
                                    td  ~ 1-2 часа
                                tr
                                    td Количество воды затворения
                                    td ~ 5,0-5,5 л на 25 кг
                                tr
                                    td Морозостойкость
                                    td F 50
                                tr
                                    td Выход раствора
                                    td ~ 0,7 л из 1 кг сухой смеси

                                tr
                                    td Расход при приклеивании
                                    td Расход при приклеивании	~ 5-7
                                tr
                                    td Цвет
                                    td Серый



                .b-detail-content__item.b-detail-document

                    .b-icon-file
                        a(href='').b-icon-file__item.icon-png Техническая документация

                .b-detail-content__item.b-detail-media


            .b-product-journal.b-product__other
                h2 Используется в системных решения
                .b-product-journal__list
                    +product_card(img_1, 'Система утепления со штукатурным слоем', '')
                    +product_card(img_1, 'Система утепления с клинкерной плиткой', '')
                    +product_card(img_1, 'Система вентилируемых фасадов', '')
                    +product_card(img_1, 'Системы санирования и реставрации зданий', '')

            .b-product__other.b-product__other--tb
                h2 Используется в системных решениях
                ul
                    li
                        a(href='#') Ardex-TeMa брусчатка, натуральный камень, плитка 
                    li
                        a(href='#') Quick mix Tubag Trass -TeMa с применением дренажного мата на щебень.
                    li
                        a(href='#') Quick mix Tubag Trass для камня, брусчатки и тротуарной плитки на бетон.
                .btn.btn--more Показать ещё

            .b-product-yt
                iframe(width="560" height="315" src="https://www.youtube.com/embed/qjay7v8PE_4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

            .b-product-journal.b-product__other
                h2 Другие клеевые составы

                .b-product-journal__list
                    +product_card(img_11, 'Ardex террасные пластины', '')
                    +product_card(img_22, 'Ardex-TeMa брусчатка, натуральный камень, плитка ', '')
                    +product_card(img_11, 'Quick mix Tubag Trass -TeMa с применением дренажного мата на щебень.', '')
                    +product_card(img_22, 'Quick mix Tubag Trass -TeMa с применением дренажного мата на щебень.', '')

            .b-product__full-bg
                .b-product__other.b-product__other--tb
                    h2 Другие клеевые составы
                    ul
                        li
                            a(href='#') Ardex-TeMa брусчатка, натуральный камень, плитка 
                        li
                            a(href='#') Quick mix Tubag Trass -TeMa с применением дренажного мата на щебень.
                        li
                            a(href='#') Quick mix Tubag Trass для камня, брусчатки и тротуарной плитки на бетон.
                    .btn.btn--more Показать ещё