.b-download
    .container
        .b-download__title СКАЧАТЬ

        .b-download__content
            .b-download__left
                .b-download__list
                    .b-download__item
                        .b-download__item-title Прайсы на продукцию
                        .b-download__wrap
                            a(href='#tab1').b-download__link.active Керамика
                            a(href='#tab2').b-download__link Сухие смеси
                            a(href='#tab3').b-download__link Прочее
                    .b-download__item
                        .b-download__item-title 3D-текстуры Stroeher
                        .b-download__wrap
                    .b-download__item
                        .b-download__item-title 3D-текстуры S.Anselmo
                        .b-download__wrap
                            a(href='#tab4').b-download__link Custom Blend
                            a(href='#tab5').b-download__link Smoked
                            a(href='#tab6').b-download__link Superior Line
                            a(href='#tab7').b-download__link Antic Line
                            a(href='#tab8').b-download__link Corso
                    .b-download__item
                        .b-download__item-title Дополнительные материалы
                        .b-download__wrap
                            a(href='#tab9').b-download__link Каталоги и буклеты
                            a(href='#tab10').b-download__link Сертификаты соответствия

            .b-download__right
                #tab1.b-blog__price.active
                    a(href='').b-price
                        span.zip
                        | Розничный прайс ARDEX 2018
                    a(href='').b-price
                        span.pdf
                        | Розничный прайс KERAWIL 2017
                    a(href='').b-price
                        span
                        | Розничный прайс STO 2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER 19.02.18
                    a(href='').b-price
                        span
                        | Розничный прайс QUICKMIX 07.2018
                    a(href='').b-price
                        span
                        | Розничный прайс S.ANSELMO 2018
                    a(href='').b-price
                        span
                        | Розничный прайс Lithofin 2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER вентфасад 01.03.2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER Riemchen X 19.02.18.xls

                #tab2.b-blog__price
                    a(href='').b-price
                        span
                        | ARDEX retail 2018.xls
                    a(href='').b-price
                        span.zip
                        | KERAWIL_retail_2017.xls
                    a(href='').b-price
                        span.pdf
                        | Lithofin retail 2018.xls
                    a(href='').b-price
                        span
                        | ARDEX retail 2018.xls
                    a(href='').b-price
                        span
                        | KERAWIL_retail_2017.xls

                #tab3.b-blog__price
                    a(href='').b-price
                        span.zip
                        | Розничный прайс ARDEX 2018
                    a(href='').b-price
                        span.pdf
                        | Розничный прайс KERAWIL 2017
                    a(href='').b-price
                        span
                        | Розничный прайс STO 2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER 19.02.18
                    a(href='').b-price
                        span
                        | Розничный прайс QUICKMIX 07.2018
                    a(href='').b-price
                        span
                        | Розничный прайс S.ANSELMO 2018

                #tab4.b-blog__price
                    a(href='').b-price.b-price--card
                        span
                            img(src='http://2018.ceramicgroup.ru/img/catalog_item/icon/46.jpg')
                        p Клинкерная плитка STROEHER.xls
                    a(href='').b-price.b-price--card
                        span
                            img(src='http://2018.ceramicgroup.ru/img/catalog_item/icon/46.jpg')
                        p Клинкерная плитка STROEHER.xls
                    a(href='').b-price.b-price--card
                        span
                            img(src='http://2018.ceramicgroup.ru/img/catalog_item/icon/46.jpg')
                        p Клинкерная плитка STROEHER.xls
                    a(href='').b-price.b-price--card
                        span
                            img(src='http://2018.ceramicgroup.ru/img/catalog_item/icon/46.jpg')
                        p Клинкерная плитка STROEHER.xls



                #tab5.b-blog__price
                    a(href='').b-price
                        span.zip
                        | Розничный прайс ARDEX 2018
                    a(href='').b-price
                        span.pdf
                        | Розничный прайс KERAWIL 2017
                    a(href='').b-price
                        span
                        | Розничный прайс STO 2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER 19.02.18
                    a(href='').b-price
                        span
                        | Розничный прайс QUICKMIX 07.2018
                    a(href='').b-price
                        span
                        | Розничный прайс S.ANSELMO 2018
                    a(href='').b-price
                        span
                        | Розничный прайс Lithofin 2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER вентфасад 01.03.2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER Riemchen X 19.02.18.xls

                #tab6.b-blog__price
                    a(href='').b-price
                        span.zip
                        | Розничный прайс ARDEX 2018
                    a(href='').b-price
                        span.pdf
                        | Розничный прайс KERAWIL 2017
                    a(href='').b-price
                        span
                        | Розничный прайс STO 2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER 19.02.18
                    a(href='').b-price
                        span
                        | Розничный прайс QUICKMIX 07.2018
                    a(href='').b-price
                        span
                        | Розничный прайс S.ANSELMO 2018
                    a(href='').b-price
                        span
                        | Розничный прайс Lithofin 2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER вентфасад 01.03.2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER Riemchen X 19.02.18.xls

                #tab7.b-blog__price
                    a(href='').b-price
                        span.zip
                        | Розничный прайс ARDEX 2018
                    a(href='').b-price
                        span.pdf
                        | Розничный прайс KERAWIL 2017
                    a(href='').b-price
                        span
                        | Розничный прайс STO 2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER 19.02.18
                    a(href='').b-price
                        span
                        | Розничный прайс QUICKMIX 07.2018
                    a(href='').b-price
                        span
                        | Розничный прайс S.ANSELMO 2018
                    a(href='').b-price
                        span
                        | Розничный прайс Lithofin 2018


                #tab8.b-blog__price
                    a(href='').b-price
                        span.zip
                        | Розничный прайс ARDEX 2018
                    a(href='').b-price
                        span.pdf
                        | Розничный прайс KERAWIL 2017
                    a(href='').b-price
                        span
                        | Розничный прайс STO 2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER 19.02.18
                    a(href='').b-price
                        span
                        | Розничный прайс QUICKMIX 07.2018
                    a(href='').b-price
                        span
                        | Розничный прайс S.ANSELMO 2018
                    a(href='').b-price
                        span
                        | Розничный прайс Lithofin 2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER вентфасад 01.03.2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER Riemchen X 19.02.18.xls

                #tab9.b-blog__price
                    a(href='').b-price
                        span.zip
                        | Розничный прайс ARDEX 2018
                    a(href='').b-price
                        span.pdf
                        | Розничный прайс KERAWIL 2017
                    a(href='').b-price
                        span
                        | Розничный прайс STO 2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER 19.02.18
                    a(href='').b-price
                        span
                        | Розничный прайс QUICKMIX 07.2018
                    a(href='').b-price
                        span
                        | Розничный прайс S.ANSELMO 2018


                #tab10.b-blog__price
                    a(href='').b-price
                        span.zip
                        | Розничный прайс ARDEX 2018
                    a(href='').b-price
                        span.pdf
                        | Розничный прайс KERAWIL 2017
                    a(href='').b-price
                        span
                        | Розничный прайс STO 2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER 19.02.18
                    a(href='').b-price
                        span
                        | Розничный прайс QUICKMIX 07.2018
                    a(href='').b-price
                        span
                        | Розничный прайс S.ANSELMO 2018
                    a(href='').b-price
                        span
                        | Розничный прайс Lithofin 2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER вентфасад 01.03.2018
                    a(href='').b-price
                        span
                        | Розничный прайс STROEHER Riemchen X 19.02.18.xls

