footer.b-footer
    .container
        .b-block__contacts-slider
            .select-city
                .select-city__region
                    p Центральный ФО
                    a(href='').select-city__item.js-select-city.active(data-reg_id='1')
                        span Москва
                    a(href='').select-city__item.js-select-city(data-reg_id='8')
                        span Белгород
                    a(href='').select-city__item.js-select-city(data-reg_id='9')
                        span Воронеж
                    a(href='').select-city__item.js-select-city(data-reg_id='10')
                        span Курск
                    a(href='').select-city__item.js-select-city(data-reg_id='3')
                        span Тамбов

                .select-city__region
                    p Сев.запад. ФО
                    a(href='').select-city__item.js-select-city(data-reg_id='11')
                        span Санкт-Петербург

                .select-city__region
                    p Южный ФО
                    a(href='').select-city__item.js-select-city(data-reg_id='7')
                        span Краснодар

                .select-city__region
                    p Уральский ФО
                    a(href='').select-city__item.js-select-city(data-reg_id='2')
                        span Екатеринбург

                .select-city__region
                    p Сибирский ФО
                    a(href='').select-city__item.js-select-city(data-reg_id='4')
                        span Новосибирск

                .select-city__region
                    p Дальневосточный ФО
                    a(href='').select-city__item.js-select-city(data-reg_id='6')
                        span Владивосток


        .b-block__map
            .b-block__map-top
                .b-block__map-city Москва
            .b-block__map-center
                .b-block__map-phone +7 (383) 377-74-12
                a(href='mailto:cgsib@ceramicgroup.ru').b-block__map-email cgsib@ceramicgroup.ru
            .b-block__map-left
                h3 Адреса шоу-румов
                #map-left

                #contact_map_office_list.b-block__map-contacts
                    div Москва, Дмитровское ш., д. 100 стр. 2, оф. 2401.
                        a(href='#' data-coord_map='55.881911, 37.547652' data-coord_marker='') ПОКАЗАТЬ НА КАРТЕ

                    div Москва, Дмитровское ш., д. 100 стр. 2, оф. 2401.
                        = ' '
                        a(href='#' data-coord_map='55.794128, 37.400378' data-coord_marker='') ПОКАЗАТЬ НА КАРТЕ

            .b-block__map-right
                h3 Адрес регионального склада
                #map-right
                #contact_map_stock_list.b-block__map-contacts
                    span МО, Красногорский р-н, с. Петрово-Дальнее, вл.1, стр. 1
                    a(href='#' data-coord_map='55.881911, 37.547652' data-coord_marker='') ПОКАЗАТЬ НА КАРТЕ





        .b-block__copy
            p CeramicGroup 2004-2019
            a(href='https://www.ceramicgroup.ru/confident_politics.html') Положение о политике конфиденциальности
