//footer#contacts.b-footer
//    .container
//        .b-block__contacts-slider
//            .select-city
//                .select-city__region.active
//                    p Центральный ФО
//                    a.select-city__item.js-select-city.active(href="#" data-reg_id="1")
//                        span Москва
//                    a.select-city__item.js-select-city(href="#" data-reg_id="8")
//                        span Белгород
//                    a.select-city__item.js-select-city(href="#" data-reg_id="9")
//                        span Воронеж
//                    a.select-city__item.js-select-city(href="#" data-reg_id="10")
//                        span Курск
//                    a.select-city__item.js-select-city(href="#" data-reg_id="3")
//                        span Тамбов
//                    a.select-city__item.js-select-city(href="#" data-reg_id="5")
//                        span Тула
//                .select-city__region
//                    p Сев.запад. ФО
//                    a.select-city__item.js-select-city(href="#" data-reg_id="11")
//                        span Санкт-Петербург
//                .select-city__region
//                    p Южный ФО
//                    a.select-city__item.js-select-city(href="#" data-reg_id="7")
//                        span Краснодар
//                .select-city__region
//                    p Уральский ФО
//                    a.select-city__item.js-select-city(href="#" data-reg_id="2")
//                        span Екатеринбург
//                    a.select-city__item.js-select-city(href="#" data-reg_id="12")
//                        span Тюмень
//                .select-city__region
//                    p Сибирский ФО
//                    a.select-city__item.js-select-city(href="#" data-reg_id="4")
//                        span Новосибирск
//                .select-city__region
//                    p Дальневосточный ФО
//                    a.select-city__item.js-select-city(href="#" data-reg_id="6")
//                        span Владивосток
//        .b-block__mobile-select
//            select
//                optgroup(label="ЦЕНТРАЛЬНЫЙ ФО")
//                    option(value='1') Москва
//                    option(value='8') Белгород
//                    option(value='9') Воронеж
//                    option(value='10') Курск
//                    option(value='3') Тамбов
//                optgroup(label="СЕВ.ЗАПАД. ФО")
//                    option(value='11') Санкт-Петербург
//                optgroup(label="Южный ФО")
//                    option(value='7') Краснодар
//                optgroup(label="УРАЛЬСКИЙ ФО")
//                    option(value='2') Екатеринбург
//                optgroup(label="СИБИРСКИЙ ФО")
//                    option(value='4') Новосибирск
//                optgroup(label="ДАЛЬНЕВОСТОЧНЫЙ ФО")
//                    option(value='6') Владивосток
//        .b-block__map
//            .b-block__map-top
//                .b-block__map-city Новосибирск
//            .b-block__map-center
//                .b-block__map-phone.rst_stroeher +7 (383) 227-85-12
//                a.b-block__map-email(href="mailto:cgsib@ceramicgroup.ru") cgsib@ceramicgroup.ru
//            .b-block__map-left
//                h3 Адреса шоу-румов
//                #map-left
//                #contact_map_office_list.b-block__map-contacts
//                    div
//                        | Новосибирск, ул. Дуси Ковальчук,  д. 238, 1-этаж.
//                        a(href="#" data-coord_map="55.052998, 82.897502" data-coord_marker="") ПОКАЗАТЬ НА КАРТЕ
//                    // div
//                    // | Телефон:
//                    // = " "
//                    // span.rst_stroeher_msk +7 (499) 348-85-59
//                    // br
//                    // | E-mail:
//                    // = " "
//                    // a(href='mailto:info@ceramicgroup.ru') info@ceramicgroup.ru
//            .b-block__map-right
//                h3 Адрес регионального склада
//                #map-right
//                #contact_map_stock_list.b-block__map-contacts
//                    span Новосибирск, ул. Богдана Хмельницкого, 90к1
//                    a(href="#" data-coord_map="55.085743, 82.976316" data-coord_marker="55.085743, 82.976316") [ПОКАЗАТЬ НА КАРТЕ]
//        .b-block__copy
//            p CeramicGroup 2004-2019
//            a(href="https://www.ceramicgroup.ru/confident_politics.html") Положение о политике конфиденциальности
