include ../mixins/all-mixins
- var img_1 = './images/catalog_list/2_2.png'


- var img_2 = './images/catalog_list/3_3.png'

- var img_3 = './images/catalog_list/1_1.png'
- var img_5 = './images/catalog_list/4_4.jpg'
- var img_4 = 'http://dev.ceramicgroup.ru/images/catalog_list/1_1.png'



.b-grid.b-grid--catalog
    .container

        .b-grid__row
            .b-grid__card.b-grid__card--7.b-grid__card--nohover
                .card.card--catalog-image.card--accordion.js-accordion
                    +img(img_1)
                    .card__wrap
                        .card__list
                            h3 Клинкер
                            ul
                                li
                                    a(href='') Плитка для стен и фасадов
                                li
                                    a(href='') Напольная плитка и ступени
                                li
                                    a(href='') Тротуарная плитка
                                li
                                    a(href='') Промышленная плитка


            .b-grid__card.b-grid__card--5.b-grid__card--nohover
                .card.card--catalog.card--accordion.js-accordion.card--mobile-img.dark
                    img(src='./images/company/hand_long_img.jpg')
                    .card__wrap
                        .card__list
                            h3 Кирпич ручной формовки
                            ul
                                li
                                    a(href='') Классическая Superior Line
                                li
                                    a(href='') Удлинённый кирпич Corso
                                li
                                    a(href='') Миксы Custom Blends
                                li
                                    a(href='') Дымчатый кирпич Smoked Line
                                li
                                    a(href='') Состаренный кирпич Antic Line

                        .card__bg.card__bg---icon-4



        .b-grid__row.b-grid__row-mobile-reverse
            .b-grid__card.b-grid__card--5.b-grid__card--nohover.b-grid__card--separate.b-grid__card--hidden-mobile
                .card.card--catalog.card--accordion.js-accordion
                    .card__wrap
                        .card__list
                            h3 Готовые объекты
                            ul
                                li
                                    a(href='') Клинкер
                                li
                                    a(href='') Кирпич ручной кладки
                                li
                                    a(href='') Брусчатка

                        .card__bg.card__bg---icon-5

            .b-grid__card.b-grid__card--7.b-grid__card--nohover
                .card.card--catalog-image.card--accordion.js-accordion
                    +img(img_2)
                    .card__wrap
                        .card__list
                            h3 Брусчатка
                            ul
                                li
                                    a(href='') Классическая
                                li
                                    a(href='') Классическая ригель
                                li
                                    a(href='') Состаренная Keratique
                                li
                                    a(href='') Состаренная Keratique ригель
                                li
                                    a(href='') Мозайка


        .b-grid__row
            .b-grid__card.b-grid__card--7.b-grid__card--nohover
                .card.card--catalog-image.card--accordion.js-accordion
                    +img(img_5)
                    .card__wrap
                        .card__list
                            h3 Готовые системные решения
                            ul
                                li
                                    a(href='') Ландшафтный дизайн и дорожное строительство
                                li
                                    a(href='') Плитка, ступени
                                li
                                    a(href='') Промышленные полы
                                li
                                    a(href='') Фасадные решения


            .b-grid__card.b-grid__card--5.b-grid__card--nohover
                .card.card--catalog.card--accordion.js-accordion.card--mobile-img
                    +img(img_4)
                    .card__wrap
                        .card__list
                            h3 Строительные смеси и химия
                            ul
                                li
                                    a(href='') Фасадные материалы
                                li
                                    a(href='') Плитка и ступени внутри и снаружи
                                li
                                    a(href='') Ландшафтный дизайн и дорожное строительство
                                li
                                    a(href='') Промышленные полы и медицинские учреждения
                                li
                                    a(href='') Специальные составы

                        .card__bg.card__bg---icon-4





        .b-grid__row.b-grid__row--mobile
            .b-grid__card.b-grid__card--5.b-grid__card--nohover.b-grid__card--separate
                .card.card--catalog.card--accordion
                    .card__wrap
                        .card__list
                            h3 Фотогалерея



























