include ../mixins/all-mixins
- var img_1 = './images/blog/1.jpg'

- var img_2 = './images/blog/2.jpg'

- var img_3 = './images/blog/3.jpg'
- var img_4 = './images/blog/4.jpg'
- var img_5 = './images/blog/5.jpg'

.b-grid.b-grid--blog
    .container
        .b-grid__row
            a.card-blog.card-blog--col-4
                .card-blog__label.card-blog__label--action Акция
                .card-blog__img
                    +img(img_1)
                    .card-blog__title
                        h3 Хороший год хорошо заканчивается!
                        span 28 ноября 2017
                .card-blog__desc
                    p С 22 ноября до 31 декабря 2017 года всем покупателям клинкерной плитки и ступеней Zoe, Gravel Blend, Roccia, Asar (кроме ступеней Asar loft), Euramic Cavar, Spaltklinker, Kontur, Handstrich, Keravette, Keraprotect, Steinlinge и Glanzstuck предоставляется скидка 25%  от розничной стоимости.уложенная на бетонное основание. Да, такое техническое решение тоже имеет право на жизнь, но если даже подойти к делу со всеми предосторожностями, все равно нельзя будет дать гарантию его длительной эксплуатации.
            a.card-blog.card-blog--col-8
                .card-blog__label Материалы
                .card-blog__img
                    +img(img_2)
                    .card-blog__title
                        h3 Golden hits in da mix
                        span 28 ноября 2017
                .card-blog__desc
                    p Мы анонсируем выпуск «новинки», которая новинкой, по сути, не является. Несколько цветов-бестселлеров получили новое форматное решение и теперь выходят на рынок в знакомом, но очень посвежевшем звучании.Spaltklinker, Kontur, Handstrich, Keravette, Keraprotect, Steinlinge и Glanzstuck предоставляется скидка 25% от розничной стоимости.
        .b-grid__row
            a.card-blog.card-blog--col-4
                .card-blog__label Материалы
                .card-blog__img
                    +img(img_3)
                    .card-blog__title
                        h3 Тротуарная плитка: Один раз и на долго
                        span 28 ноября 2017
                .card-blog__desc
                    p Выезжая на объекты, наши специалисты часто сталкиваются с плачевным состоянием покрытия, для которого использовалась клинкерная брусчатка, уложенная на бетонное основание. Да, такое техническое решение тоже имеет право на жизнь, но если даже подойти к делу со всеми предосторожностями, все равно нельзя будет дать гарантию его длительной эксплуатации.
            a.card-blog.card-blog--col-4
                .card-blog__label Практика
                .card-blog__img
                    +img(img_4)
                    .card-blog__title
                        h3 Тольяттинский дворец спорта
                        span 28 ноября 2017
                .card-blog__desc
                    p Уютное местечко в зелёной зоне города Тольятти, корпоративная база отдыха местного «КуйбышевАзота» с наивным названием «Подснежник» мало чем отличалась от тысяч подобных турбаз по всей стране, пока администрация не взялась перестроить на ней спортивный комплек
            a.card-blog.card-blog--col-4
                .card-blog__label Новые объекты
                .card-blog__img
                    +img(img_5)
                    .card-blog__title
                        h3 Просто я работаю волшебником
                        span 28 ноября 2017
                .card-blog__desc
                    p В наше время модно говорить о клиентоориентированности. Однако никто не может дать этому понятию четкого определения. Конечно, подобные тонкие материи каждый понимает по-своему, находит свой стиль работы и своих клиентов. И сегодня я хочу рассказать,

        button.btn.btn--more Показать еще



























