include ../mixins/all-mixins
- var img_1 = './images/home/Stroeher Riegel 50 .jpg'

- var img_2 = './images/home/GLANZSTUECKE_NO01_03.jpg'
- var img_3 = './images/home/STROEHER Riegel50_2.jpg'

- var img_4 = './images/home/S.ANSELMO Corso Terra.jpg'
- var img_5 = './images/home/Photo.jpg'

- var img_6 = './images/home/Stroeher Zeitloss 352.jpg'
- var img_7 = './images/home/KERAWIL Keratique.jpg'

- var img_slider_1 = './images/home_page/29@2x.jpg'

- var img_8 = './images/home/STROEHER Stiltreu 452.jpg'
- var img_9 = './images/home/Stroeher Spaltklinker 366.jpg'

- var img_10 = './images/home/STROEHER Asar 640.jpg'
- var img_11 = './images/home/S.ANSELMO Smoked.jpg'

- var img_slider_2 = './images/home/glass-house-wows-modern.jpg'

- var img_12 = './images/home/S.ANSELMO Londra Sabbia Fine.jpg'

- var img_13 = './images/home/STROEHER Gravel Blend 960.jpg'
- var img_14 = './images/home_page/papenburg_03_a@2x.jpg'

- var img_15 = './images/home/STROEHER  Steinlinge 376.jpg'
- var img_16 = './images/home/4U5A2855.jpg'


.b-grid
    .b-grid__container.container
        .b-grid__row
            .b-grid__card.b-grid__card--7.b-grid__card--nohover
                .card.card--catalog
                    .card__wrap
                        .card__list
                            h3 Каталог товаров
                            ul
                                li
                                    a(href='') Клинкерная плитка Stroeher (Германия)
                                li
                                    a(href='') Кирпич ручной формовки S. Anselmo (Италия)
                                li
                                    a(href='') Клинкерная брусчатка Kerawil (Германия)
                                li
                                    a(href='') Строительные смеси и химия

                        .card__bg.card__bg---icon-1

            a(href='').b-grid__card.b-grid__card--5
                .card.card--info-left
                    +img(img_1)
                    .card__info
                        h4 Клинкерная плитка
                        p Stroeher Riegel 50

            .b-grid__card.b-grid__card--5.b-grid__card--nohover
                .card
                    +img(img_2)

            a(href='').b-grid__card.b-grid__card--7
                .card.card--info-left
                    +img(img_3)
                    .card__info
                        h4 Клинкерная плитка
                        p Stroeher Riegel 50


        .b-grid__row.b-grid__row--no-bottom
            .b-grid__column
                a(href='').b-grid__card.b-grid__card--5
                    .card.card--info-right
                        +img(img_4)
                        .card__info
                            h4 Кирпич ручной формовки
                            p S.Anselmo Corso Terra
                .b-grid__card.b-grid__card--5.b-grid__card--nohover
                    .card
                        +img(img_5)
            .b-grid__column
                a(href='').b-grid__card.b-grid__card--7
                    .card.card--info-left
                        +img(img_6)
                        .card__info
                            h4 Клинкерная плитка
                            p Stroeher Zeitloss 352



                a(href='').b-grid__card.b-grid__card--7
                    .card.card--info-left
                        +img(img_7)
                        .card__info
                            h4 Клинкерная брусчатка
                            p Kerawil Keratique

        .b-grid__row.b-grid__row--animation
            .b-grid__single-slider
                .single-slider.js-home-slider
                    a(href='').single-slider__item
                        .single-slider__content
                            h2 Конфигуратор онлайн
                            p Пробуйте. Вдохновляйтесь. Творите.
                        img(src='http://2018.ceramicgroup.ru/images/home_page/29@2x.jpg' data--450-top="transform: translate3d(0,-300px,0)"  data-150-bottom="transform: translate3d(0,0px,0)")



        .b-grid__row
            .b-grid__column
                a(href='').b-grid__card.b-grid__card--5
                    .card.card--info-right
                        +img(img_8)
                        .card__info
                            h4 Клинкерная плитка
                            p Stroeher Stiltreu 452
            .b-grid__column
                .b-grid__card.b-grid__card--7.b-grid__card--nohover
                    .card.card--catalog
                        .card__wrap
                            .card__list
                                h3 Клинкер и керамика
                                ul
                                    li
                                        a(href='') Плитка для стен и фасадов
                                    li
                                        a(href='') Напольная плитка и ступени
                                    li
                                        a(href='') Тротуарная плитка
                                    li
                                        a(href='') Промышленная плитка
                                    li
                                        a(href='') Подбор клинкерной плитки

                            .card__bg.card__bg---icon-2
                a(href='').b-grid__card.b-grid__card--7
                    .card.card--info-left
                        +img(img_9)
                        .card__info
                            h4 Клинкерная плитка
                            p Stroeher Spaltklinker 366

        .b-grid__row.b-grid__row--no-bottom
            a(href='').b-grid__card.b-grid__card--7
                .card.card--info-right
                    +img(img_10)
                    .card__info
                        h4 Клинкерные ступени
                        p Stroeher Asar 640
            a(href='').b-grid__card.b-grid__card--5
                .card.card--info-left
                    +img(img_11)
                    .card__info
                        h4 Кирпич ручной формовки
                        p S.Anselmo Smoked

        .b-grid__row.b-grid__row--animation
            .b-grid__single-slider
                .single-slider
                    a(href='').single-slider__item
                        .single-slider__content
                            h2 Мужской интерьер на 28-м этаже
                            p Журнал CeramicGroup
                        img(src='http://blog.ceramicgroup.ru/wp-content/uploads/2016/12/blog-title.jpg' data--450-top="transform: translate3d(0,-180px,0)"  data-300-bottom="transform: translate3d(0,0px,0)")


        .b-grid__row
            .b-grid__column
                .b-grid__card.b-grid__card--5.b-grid__card--nohover
                    .card.card--catalog
                        .card__wrap
                            .card__list
                                h3 Строительные смеси и химия
                                ul
                                    li
                                        a(href='') Ландшафтного дизайна и дорожного строительства
                                    li
                                        a(href='') Плитки, ступени
                                    li
                                        a(href='') Промышленного пола
                                    li
                                        a(href='') Фасадного решения

                            .card__bg.card__bg---icon-3
                a(href='').b-grid__card.b-grid__card--5
                    .card.card--info-right
                        +img(img_12)
                        .card__info
                            h4 Клинкер ручной формовки
                            p S.Anselmo Londra Sabbia Fine
            .b-grid__column
                a(href='').b-grid__card.b-grid__card--7
                    .card.card--info-left
                        +img(img_13)
                        .card__info
                            h4 Клинкерная плитка
                            p Stroeher Gravel Blend 960



                a(href='').b-grid__card.b-grid__card--7
                    .card.card--info-left
                        +img(img_14)
                        .card__info
                            h4 Клинкерная брусчатка
                            p Kerawil Riegel

        .b-grid__row
            a(href='').b-grid__card.b-grid__card--7
                .card.card--info-right
                    +img(img_15)
                    .card__info
                        h4 Клинкерная плитка
                        p Stroeher Steinlinge 376
            .b-grid__card.b-grid__card--5.b-grid__card--nohover
                .card
                    +img(img_16)



    .b-grid__container.b-grid__container--tb.container
        .b-grid__row
            .b-grid__card.b-grid__card--fullscreen.b-grid__card--nohover
                .card.card--catalog
                    .card__wrap
                        .card__list
                            h3 Каталог товаров
                            ul
                                li
                                    a(href='') Клинкерная плитка Stroeher (Германия)
                                li
                                    a(href='') Кирпич ручной формовки S. Anselmo (Италия)
                                li
                                    a(href='') Клинкерная брусчатка Kerawil (Германия)
                                li
                                    a(href='') Строительные смеси и химия
                        .card__bg.card__bg---icon-1

            a(href='').b-grid__card.b-grid__card--low
                .card.card--info-left
                    +img(img_1)
                    .card__info
                        h4 Клинкерная плитка
                        p Stroeher Riegel 50

            .b-grid__column
                a(href='').b-grid__card
                    .card
                        +img(img_4)
                        .card__info
                            h4 Кирпич ручной формовки
                            p S.Anselmo Corso Terra

            .b-grid__column
                .b-grid__card.b-grid__card--low.b-grid__card--nohover
                    .card
                        +img(img_5)
                a(href='').b-grid__card.b-grid__card--low
                    .card
                        +img(img_7)
                        .card__info
                            h4 Клинкерная брусчатка
                            p Kerawil Keratique

            a(href='').b-grid__card.b-grid__card--low
                .card.card--info-left
                    +img(img_6)
                    .card__info
                        h4 Клинкерная плитка
                        p Stroeher Zeitloss 352

            .b-grid__single-slider
                .single-slider.js-home-slider
                    a(href='').single-slider__item
                        .single-slider__content
                            h2 Конфигуратор онлайн
                            p Пробуйте. Вдохновляйтесь. Творите.
                        img(src='http://2018.ceramicgroup.ru/images/home_page/29@2x.jpg' data--450-top="transform: translate3d(0,-300px,0)"  data-150-bottom="transform: translate3d(0,0px,0)")

            a(href='').b-grid__card.b-grid__card--low
                .card
                    +img(img_8)
                    .card__info
                        h4 Клинкерная плитка
                        p Stroeher Stiltreu 452

            .b-grid__card.b-grid__card--fullscreen.b-grid__card--nohover
                .card.card--catalog
                    .card__wrap
                        .card__list
                            h3 Клинкер и керамика
                            ul
                                li
                                    a(href='') Плитка для стен и фасадов
                                li
                                    a(href='') Напольная плитка и ступени
                                li
                                    a(href='') Тротуарная плитка
                                li
                                    a(href='') Промышленная плитка
                                li
                                    a(href='') Подбор клинкерной плитки

                        .card__bg.card__bg---icon-2

            .b-grid__column
                a(href='').b-grid__card.b-grid__card--low
                    .card
                        +img(img_9)
                        .card__info
                            h4 Клинкерная плитка
                            p Stroeher Spaltklinker 366

            .b-grid__column
                a(href='').b-grid__card.b-grid__card--low
                    .card
                        +img(img_10)
                        .card__info
                            h4 Клинкерные ступени
                            p Stroeher Asar 640

            a(href='').b-grid__card.b-grid__card--high
                .card.card--info-left
                    +img(img_11)
                    .card__info
                        h4 Кирпич ручной формовки
                        p S.Anselmo Smoked

            .b-grid__single-slider
                .single-slider
                    a(href='').single-slider__item
                        .single-slider__content
                            h2 Мужской интерьер на 28-м этаже
                            p Журнал CeramicGroup
                        img(src='http://blog.ceramicgroup.ru/wp-content/uploads/2016/12/blog-title.jpg' data--450-top="transform: translate3d(0,-180px,0)"  data-300-bottom="transform: translate3d(0,0px,0)")

            .b-grid__card.b-grid__card--fullscreen.b-grid__card--nohover
                .card.card--catalog
                    .card__wrap
                        .card__list
                            h3 Строительные смеси и химия
                            ul
                                li
                                    a(href='') Ландшафтного дизайна и дорожного строительства
                                li
                                    a(href='') Плитки, ступени
                                li
                                    a(href='') Промышленного пола
                                li
                                    a(href='') Фасадного решения
                        .card__bg.card__bg---icon-3

            a(href='').b-grid__card.b-grid__card--low
                .card.card--info-left
                    +img(img_13)
                    .card__info
                        h4 Клинкерная плитка
                        p Stroeher Gravel Blend 960

            .b-grid__column
                .b-grid__card.b-grid__card--low.b-grid__card--nohover
                    .card
                        +img(img_16)

                a(href='').b-grid__card.b-grid__card--low
                    .card
                        +img(img_14)
                        .card__info
                            h4 Клинкерная брусчатка
                            p Kerawil Riegel

            .b-grid__column
                a(href='').b-grid__card
                    .card
                        +img(img_12)
                        .card__info
                            h4 Клинкер ручной формовки
                            p S.Anselmo Londra Sabbia Fine

            a(href='').b-grid__card.b-grid__card--low
                .card.card--info-left
                    +img(img_15)
                    .card__info
                        h4 Клинкерная плитка
                        p Stroeher Steinlinge 376


    .b-grid__full-bg
        .b-product-slider.b-product-slider--show-room
            h2 Увидеть своими глазами

            .b-product-slider__product-slider
                .b-product-slider__arrow
                .product-slider.js-product-slider
                    .product-slider__item
                        .product-slider__img
                            img(src='./images/office/Москва.jpg')
                        .product-slider__item-text
                            h3 Увидеть своими глазами
                            span Шоу-рум компании в Москве
                    .product-slider__item
                        .product-slider__img
                            img(src='./images/office/Краснодар.jpg')
                        .product-slider__item-text
                            h3 Увидеть своими глазами
                            span Шоу-рум компании в Краснодаре
                    .product-slider__item
                        .product-slider__img
                            img(src='./images/office/Новосибирск.jpg')
                        .product-slider__item-text
                            h3 Увидеть своими глазами
                            span Шоу-рум компании в Новосибирске
                    .product-slider__item
                        .product-slider__img
                            img(src='./images/office/Екат.jpg')
                        .product-slider__item-text
                            h3 Увидеть своими глазами
                            span Шоу-рум компании в Екатеринбурге
                    .product-slider__item
                        .product-slider__img
                            img(src='./images/office/Владивосток.jpg')
                        .product-slider__item-text
                            h3 Увидеть своими глазами
                            span Шоу-рум компании во Владивостоке

