include ../mixins/all-mixins
- var img_1 = './images/detail_product/22.jpg'
- var img_2 = './images/detail_product/24.jpg'

.b-product-el.b-product-el--mobile-sq
    .b-product-el__row
        h2 Нескользящая поверхность
        .b-product-el__list
            +product_card(img_1, 'Гладкая поверхность', 'Коэфф.противоскольжения: R10/A')
            +product_card(img_1, 'Зернистая поверхность', 'Коэфф.противоскольжения: R11/B')

        //- button.btn.btn--more Показать еще


    .b-product-el__row
        h2 Мозайка и бордюры
        .b-product-el__list
            +product_card(img_2, 'Мозайка. Тип №1', '')
            +product_card(img_2, 'Мозайка. Тип №1', '')
            +product_card(img_2, 'Мозайка. Тип №1', '')
            +product_card(img_2, 'Мозайка. Тип №1', '')
        //- button.btn.btn--more Показать еще
