.b-product-info
    h2 Морозоустойчивая. Нескользящая. Современная.
    .b-product-info__text
        span Очень эффектная керамическая плитка по структуре рисунка напоминающая природный камень
        p Сохранение фактуры и минеральных составляющих натурального природного камня, характерные прожилки и натуральный блеск - это отличительные особенности серии «Аэра». От камня их отличают только улучшенные качества: морозоустойчивость, простота в уходе. Керамический природный камень - это новая фактурная керамика первоклассного уровня.
    img(src='./images/detail_product/stroeher_riegel_50_455.png')