include ../mixins/all-mixins
- var img_1 = './images/detail_product/17.jpg'


.b-product-el
    .container
        .b-tooltip-color
            .b-tooltip-color__wrap
                .b-tooltip-color__title
                .b-tooltip-color__gallery

        .b-product-el__row
            h2 Форматы
            .b-product-el__list
                +product_card(img_1, 'Артикул: 8081', 'Габариты: 240х240х10 mm')
                +product_card(img_1, 'Артикул: 8081', 'Габариты: 240х240х10 mm')
                +product_card(img_1, 'Артикул: 8081', 'Габариты: 240х240х10 mm')

                a.product-card.js-zoom-color(href='http://2018.ceramicgroup.ru/img/catalog_item/icon/1986.jpg')
                    .product-card__img
                        img(src=img_1)
                    .product-card__info
                        .product-card__title wew
                        .product-card__desc wew

            //- button.btn.btn--more Показать еще

        .b-product-el__row
            h2 Спецэлементы
            .b-product-el__list
                +product_card(img_1, 'Артикул: 8081', 'Габариты: 240х240х10 mm')
                +product_card(img_1, 'Артикул: 8081', 'Габариты: 240х240х10 mm')
                +product_card(img_1, 'Артикул: 8081', 'Габариты: 240х240х10 mm')
                +product_card(img_1, 'Артикул: 8081', 'Габариты: 240х240х10 mm')
            //- button.btn.btn--more Показать еще
