.b-product-table.b-product-table--tb
    h2 Характеристики

    section.b-product-table__dropdown.js-dropdown
        h3.js-dropdown-head 7753 Плитка фасадная
        .js-dropdown-content.b-product-table__content
            table
                tr
                    td Штук в упаковке
                    td 18
                tr
                    td Штук на м²/п/м, включая шов
                    td 38,31
                tr
                    td Штук в палете
                    td 1080
                tr
                    td Кол-во м²/п/м в упаковке
                    td 0,47
                tr
                    td Кол-во м²/п/м в палете
                    td 28,19
                tr
                    td Упаковок в палете
                    td 60
                tr
                    td Вес палеты в кг
                    td 670
                tr
                    td Вес штуки в кг
                    td 0,62
                tr
                    td Вес м²/п/м в кг
                    td 23,752
                tr
                    td Вес упаковки в кг
                    td 11,66
                tr
                    td Размер растра в см
                    td Ригель-формат
                tr
                    td Класс противоскольжения (?)
                    td -
                tr
                    td Группа истираемости
                    td -
                tr
                    td Технологические стандартные размеры в мм
                    td 490x40x14

    section.b-product-table__dropdown.js-dropdown
        h3.js-dropdown-head 7750 Плитка фасадная
        .js-dropdown-content.b-product-table__content
            table
                tr
                    td Штук в упаковке
                    td 18
                tr
                    td Штук на м²/п/м, включая шов
                    td 38,31
                tr
                    td Штук в палете
                    td 1080
                tr
                    td Кол-во м²/п/м в упаковке
                    td 0,47
                tr
                    td Кол-во м²/п/м в палете
                    td 28,19
                tr
                    td Упаковок в палете
                    td 60
                tr
                    td Вес палеты в кг
                    td 670
                tr
                    td Вес штуки в кг
                    td 0,62
                tr
                    td Вес м²/п/м в кг
                    td 23,752
                tr
                    td Вес упаковки в кг
                    td 11,66
                tr
                    td Размер растра в см
                    td Ригель-формат
                tr
                    td Класс противоскольжения (?)
                    td -
                tr
                    td Группа истираемости
                    td -
                tr
                    td Технологические стандартные размеры в мм
                    td 490x40x14

    section.b-product-table__dropdown.js-dropdown
        h3.js-dropdown-head 7754 Плитка угловая
        .js-dropdown-content.b-product-table__content
            table
                tr
                    td Штук в упаковке
                    td 18
                tr
                    td Штук на м²/п/м, включая шов
                    td 38,31
                tr
                    td Штук в палете
                    td 1080
                tr
                    td Кол-во м²/п/м в упаковке
                    td 0,47
                tr
                    td Кол-во м²/п/м в палете
                    td 28,19
                tr
                    td Упаковок в палете
                    td 60
                tr
                    td Вес палеты в кг
                    td 670
                tr
                    td Вес штуки в кг
                    td 0,62
                tr
                    td Вес м²/п/м в кг
                    td 23,752
                tr
                    td Вес упаковки в кг
                    td 11,66
                tr
                    td Размер растра в см
                    td Ригель-формат
                tr
                    td Класс противоскольжения (?)
                    td -
                tr
                    td Группа истираемости
                    td -
                tr
                    td Технологические стандартные размеры в мм
                    td 490x40x14

    section.b-product-table__dropdown.js-dropdown
        h3.js-dropdown-head 7751 Плитка угловая
        .js-dropdown-content.b-product-table__content
            table
                tr
                    td Штук в упаковке
                    td 18
                tr
                    td Штук на м²/п/м, включая шов
                    td 38,31
                tr
                    td Штук в палете
                    td 1080
                tr
                    td Кол-во м²/п/м в упаковке
                    td 0,47
                tr
                    td Кол-во м²/п/м в палете
                    td 28,19
                tr
                    td Упаковок в палете
                    td 60
                tr
                    td Вес палеты в кг
                    td 670
                tr
                    td Вес штуки в кг
                    td 0,62
                tr
                    td Вес м²/п/м в кг
                    td 23,752
                tr
                    td Вес упаковки в кг
                    td 11,66
                tr
                    td Размер растра в см
                    td Ригель-формат
                tr
                    td Класс противоскольжения (?)
                    td -
                tr
                    td Группа истираемости
                    td -
                tr
                    td Технологические стандартные размеры в мм
                    td 490x40x14
