
- var img_1 = './images/detail_product/31.jpg'
.b-product-more.b-product-more--hidden-mobile
    h2 Вам также могут потребоваться
    .b-product-more__list
        a.product-card(href='')
            .product-card__img
                img(src=img_1)
            .product-card__info
                .product-card__title Грунт
        a.product-card(href='')
            .product-card__img
                img(src=img_1)
            .product-card__info
                .product-card__title Грунт
        a.product-card(href='')
            .product-card__img
                img(src=img_1)
            .product-card__info
                .product-card__title Грунт
        a.product-card(href='')
            .product-card__img
                img(src=img_1)
            .product-card__info
                .product-card__title Грунт
    button.btn.btn--more Показать еще
