.b-product-slider
    h2 Советы по укладке

    .b-product-slider__product-slider
        .b-product-slider__arrow
        .product-slider.js-product-slider
            .product-slider__item
                .product-slider__img
                    img(src='./images/detail_product/ttxp_11@2x.png')
                span Углы обрабатываются с использованием метода плавающего смазывания.
            .product-slider__item
                .product-slider__img
                    img(src='./images/detail_product/ttxp_11@2x.png')
                span Углы обрабатываются с использованием метода плавающего смазывания.
            .product-slider__item
                .product-slider__img
                    img(src='./images/detail_product/ttxp_11@2x.png')
                span Углы обрабатываются с использованием метода плавающего смазывания.
            .product-slider__item
                .product-slider__img
                    img(src='./images/detail_product/ttxp_11@2x.png')
                span Углы обрабатываются с использованием метода плавающего смазывания.