include ../mixins/all-mixins
- var img_1 = './images/detail_product/steinlinge_373_01.png'

.b-product-journal
    h2 Читайте в журнале
    .b-product-journal__list
        //- +product_card(img_1, 'Что такое клинкер', '21 марта 2018')
        //- +product_card(img_1, 'Как правильно укладывать клинкер?', '20 марта 2018')
        //- +product_card(img_1, 'Коллекция Aera: мнения дизайнеров', '20 марта 2018')
        //- +product_card(img_1, 'Коллекция Aera: мнения дизайнеров', '20 марта 2018')

        //- a.product-card.js-zoom-img(href='http://2018.ceramicgroup.ru/img/catalog_item/icon/1985.jpg' title=title)
        .product-card
            .product-card__img
                img(src=img_1)
            .product-card__info
                .product-card__title Что такое клинкер
                .product-card__desc 21 марта 2018
                .product-card__desc.product-card__desc--mobile Объекты

        //- a.product-card.js-zoom-img(href='http://2018.ceramicgroup.ru/img/catalog_item/icon/1985.jpg' title=title)
        .product-card
            .product-card__img
                img(src=img_1)
            .product-card__info
                .product-card__title Как правильно укладывать клинкер?
                .product-card__desc 20 марта 2018
                .product-card__desc.product-card__desc--mobile Материалы

        //- a.product-card.js-zoom-img(href='http://2018.ceramicgroup.ru/img/catalog_item/icon/1985.jpg' title=title)
        .product-card
            .product-card__img
                img(src=img_1)
            .product-card__info
                .product-card__title Коллекция Aera: мнения дизайнеров
                .product-card__desc 20 марта 2018

        //- a.product-card.js-zoom-img(href='http://2018.ceramicgroup.ru/img/catalog_item/icon/1985.jpg' title=title)
        .product-card
            .product-card__img
                img(src=img_1)
            .product-card__info
                .product-card__title Коллекция Aera: мнения дизайнеров
                .product-card__desc 20 марта 2018
