include ../mixins/all-mixins
- var img_1 = './images/catalog_detail/qq.jpg'

- var img_2 = './images/catalog_detail/ww.jpg'


.b-popup#popup-color.mfp-hide
    span.b-popup__close
    .b-popup__content
        .b-color
            .b-color__title ZOÉ
                span (50)

            .b-color__list.js-custom-scroll
                a(href='').b-color__item
                    +img(img_1)
                    span Selmo (BB)
                a(href='').b-color__item
                    +img(img_2)
                    span Selmo (BG)
                a(href='').b-color__item
                    +img(img_1)
                    span Selmo (BB)
                a(href='').b-color__item
                    +img(img_2)
                    span Selmo (BG)
                a(href='').b-color__item
                    +img(img_1)
                    span Selmo (BB)
                a(href='').b-color__item
                    +img(img_2)
                    span Selmo (BG)
                a(href='').b-color__item
                    +img(img_1)
                    span Selmo (BB)
                a(href='').b-color__item
                    +img(img_2)
                    span Selmo (BG)
                a(href='').b-color__item
                    +img(img_1)
                    span Selmo (BB)
                a(href='').b-color__item
                    +img(img_2)
                    span Selmo (BG)
                a(href='').b-color__item
                    +img(img_1)
                    span Selmo (BB)
                a(href='').b-color__item
                    +img(img_2)
                    span Selmo (BG)
                a(href='').b-color__item
                    +img(img_1)
                    span Selmo (BB)
                a(href='').b-color__item
                    +img(img_2)
                    span Selmo (BG)
                a(href='').b-color__item
                    +img(img_1)
                    span Selmo (BB)
                a(href='').b-color__item

                    +img(img_2)
                    span Selmo (BG)