- var test1 = 'http://2018.ceramicgroup.ru/img/advantage/icon/5.jpg'
- var test2 = 'http://2018.ceramicgroup.ru/img/advantage/icon/15.jpg'
- var test3 = 'http://2018.ceramicgroup.ru/img/advantage/icon/7.jpg'
- var test4 = 'http://2018.ceramicgroup.ru/img/advantage/icon/6.jpg'

.b-product-categories
    .b-product-categories__list.js-slider-category

        .b-product-categories__item
            div
                img(src=test1)
            span Износостойкая
        .b-product-categories__item
            div
                img(src=test2)
            span Антистатик
        .b-product-categories__item
            div
                img(src=test3)
            span Усточива к воздествию химических элементов
        .b-product-categories__item
            div
                img(src=test4)
            span Дополнительные элементы
        .b-product-categories__item
            div
                img(src=test1)
            span Натуральные цвета
        .b-product-categories__item
            div
                img(src=test2)
            span Огнеустойчивая
        .b-product-categories__item
            div
                img(src=test2)
            span Антистатик
        .b-product-categories__item
            div
                img(src=test3)
            span Усточива к воздествию химических элементов
