.b-product-table
    .b-tooltip
        .b-tooltip__wrap
            .b-tooltip__title
            .b-tooltip__text

    .b-product-table__tabs.js-tab-link
        .b-product-table__tabs-item.active Характеристики продукта
        .b-product-table__tabs-item Технические спецификации
        .b-product-table__tabs-item Документация
    .b-product-table__content.js-tab-content
        .b-product-table__first.active
            table
                tr
                    th  Артикул, Описание
                    td  8031 stoneware tile
                    td  8045 stoneware til
                    td  8031 stoneware tile
                    td  8045 stoneware til
                    td  8031 stoneware tile
                    td  8045 stoneware til
                    td  8031 stoneware tile
                    td  8045 stoneware til
                    td  8045 stoneware til
                    td  8045 stoneware til
                tr
                    th  Размер (см)

                    td  25 x 25
                    td  25 x 25
                    td  25 x 25
                    td  25 x 25
                    td  25 x 25
                    td  25 x 25
                    td  25 x 25
                    td  25 x 25
                    td  25 x 25
                    td  25 x 25

                tr
                    th  Габариты (мм)

                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10

                tr
                    th  Штук в упаковке
                        span.js-tooltip(data-title-tooltip='R-10—10-19°C' data-text-tooltip='Коэффициент сопротивления скольжению для плитки, предназначенной для общественных зон и помещений с вероятностью попадания воды (проведение периодической влажной уборки), залов кафе и ресторанов, общественных туалетов, раздевалок при бассейнах и спортивных центрах.')  (?)

                    td  16
                    td  16
                    td  16
                    td  16
                    td  16
                    td  16
                    td  16
                    td  16
                    td  16
                    td  16

                tr
                    th  Штук на кв.м./м.пог., включая шов

                    td  16,00
                    td  16,00
                    td  16,00
                    td  16,00
                    td  16,00
                    td  16,00
                    td  16,00
                    td  16,00
                    td  16,00
                    td  16,00
                tr
                    th  Кв.м./м.пог. в упаковке

                    td  1008
                    td  1008
                    td  1008
                    td  1008
                    td  1008
                    td  1008
                    td  1008
                    td  1008
                    td  1008
                    td  1008

        .b-product-table__second
            table
                tr
                    th  Стандарт качества DIN EN 14411
                    th  710 crio

                tr
                    th  Цвета
                    td  710 crio, 720 baccar, 722 paglio, 725 faveo, 750 rubeo, 755


                tr
                    th  Габариты (мм)
                    td  240 x 240 x 10


                tr
                    th  Устойчивость к истиранию по шкале твердости Мооса (минимальное значение) по EN 101
                    td  16


                tr
                    th  Классификация по DIN 51 130 для промышленных покрытий с повышенным риском скольжения.
                    td  16,00

                tr
                    th  Кв.м./м.пог. в упаковке
                    td  1008

        .b-product-table__third
            .b-blog__price
                a(href='').b-price
                    span
                    | ARDEX retail 2018.xls
                a(href='').b-price
                    span
                    | KERAWIL_retail_2017.xls
                a(href='').b-price
                    span
                    | Lithofin retail 2018.xls
                a(href='').b-price
                    span
                    | ARDEX retail 2018.xls

.b-product-table
    .b-tooltip
        .b-tooltip__wrap
            .b-tooltip__title
            .b-tooltip__text

    .b-product-table__tabs.js-tab-link
        .b-product-table__tabs-item.active Характеристики продукта
    .b-product-table__content.js-tab-content
        .b-product-table__first.active
            table.b-product-table--img
                tr
                    th
                    td
                        img(src='http://2018.ceramicgroup.ru/img/element/small/46.jpg')
                    td
                        img(src='http://2018.ceramicgroup.ru/img/element/small/46.jpg')
                    td
                        img(src='http://2018.ceramicgroup.ru/img/element/small/46.jpg')
                    td
                        img(src='http://2018.ceramicgroup.ru/img/element/small/46.jpg')
                    td
                        img(src='http://2018.ceramicgroup.ru/img/element/small/46.jpg')
                    td
                        img(src='http://2018.ceramicgroup.ru/img/element/small/46.jpg')
                    td
                        img(src='http://2018.ceramicgroup.ru/img/element/small/46.jpg')
                    td
                        img(src='http://2018.ceramicgroup.ru/img/element/small/46.jpg')
                    td
                        img(src='http://2018.ceramicgroup.ru/img/element/small/46.jpg')
                    td
                        img(src='http://2018.ceramicgroup.ru/img/element/small/46.jpg')
                tr
                    th  Размер (см)

                    td  25 x 25
                    td  25 x 25
                    td  25 x 25
                    td  25 x 25
                    td  25 x 25
                    td  25 x 25
                    td  25 x 25
                    td  25 x 25
                    td  25 x 25
                    td  25 x 25

                tr
                    th  Габариты (мм)

                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10
                    td  240 x 240 x 10

                tr
                    th  Штук в упаковке
                        span.js-tooltip(data-title-tooltip='R-10—10-19°C' data-text-tooltip='Коэффициент сопротивления скольжению для плитки, предназначенной для общественных зон и помещений с вероятностью попадания воды (проведение периодической влажной уборки), залов кафе и ресторанов, общественных туалетов, раздевалок при бассейнах и спортивных центрах.')  (?)

                    td  16
                    td  16
                    td  16
                    td  16
                    td  16
                    td  16
                    td  16
                    td  16
                    td  16
                    td  16

                tr
                    th  Штук на кв.м./м.пог., включая шов

                    td  16,00
                    td  16,00
                    td  16,00
                    td  16,00
                    td  16,00
                    td  16,00
                    td  16,00
                    td  16,00
                    td  16,00
                    td  16,00
                tr
                    th  Кв.м./м.пог. в упаковке

                    td  1008
                    td  1008
                    td  1008
                    td  1008
                    td  1008
                    td  1008
                    td  1008
                    td  1008
                    td  1008
                    td  1008


