include ../mixins/all-mixins
- var img_1 = './images/detail_product/10.png'

- var img_2 = './images/detail_product/10.png'
// - var img_2_zoom = './images/detail_product/10_zoom.png'
- var img_2_zoom = 'http://dev.ceramicgroup.ru/img/catalog_item/big/66.jpg'
- var img_3_zoom = 'http://dev.ceramicgroup.ru/img/catalog_item/big/59.jpg'

.b-product-color
    .b-product-color__wrap
        h2 Цветовые решения

        .b-color
            .b-color__list.js-custom-scroll
                .b-color__item
                    .b-color__item-img
                        a(href=img_2_zoom).popup.js-zoom-color
                            +img(img_1)
                        p Увеличить
                        a(href='').link Подробнее
                    span Selmo (BB)

                .b-color__item
                    .b-color__item-img
                        a(href=img_3_zoom).popup.js-zoom-color
                            +img(img_1)
                        p Увеличить
                        a(href='').link Подробнее
                    span Selmo (BB)



                .b-color__item
                    .b-color__item-img
                        a(href=img_2_zoom).popup.js-zoom-color
                            +img(img_1)
                        p Увеличить
                        a(href='').link Подробнее
                    span Selmo (BB)

                .b-color__item
                    .b-color__item-img
                        a(href=img_3_zoom).popup.js-zoom-color
                            +img(img_1)
                        p Увеличить
                        a(href='').link Подробнее
                    span Selmo (BB)



                .b-color__item
                    .b-color__item-img
                        a(href=img_2_zoom).popup.js-zoom-color
                            +img(img_1)
                        p Увеличить
                        a(href='').link Подробнее
                    span Selmo (BB)

                .b-color__item
                    .b-color__item-img
                        a(href=img_3_zoom).popup.js-zoom-color
                            +img(img_1)
                        p Увеличить
                        a(href='').link Подробнее
                    span Selmo (BB)



                .b-color__item
                    .b-color__item-img
                        a(href=img_2_zoom).popup.js-zoom-color
                            +img(img_1)
                        p Увеличить
                        a(href='').link Подробнее
                    span Selmo (BB)

                .b-color__item
                    .b-color__item-img
                        a(href=img_2_zoom).popup.js-zoom-color
                            +img(img_1)
                        p Увеличить
                        a(href='').link Подробнее
                    span Selmo (BB)
                .b-color__item
                    .b-color__item-img
                        a(href=img_2_zoom).popup.js-zoom-color
                            +img(img_1)
                        p Увеличить
                        a(href='').link Подробнее
                    span Selmo (BB)

                .b-color__item
                    .b-color__item-img
                        a(href=img_2_zoom).popup.js-zoom-color
                            +img(img_1)
                        p Увеличить
                        a(href='').link Подробнее
                    span Selmo (BB)



        //- button.btn.btn--more Показать еще
