
#js-popup-sub.b-popup-sub.mfp-hide
    .b-popup-sub__wrap
        .b-popup-sub__title Разрешите нам предложить свою помощь
        .b-popup-sub__desc Мы не заваливаем своих клиентов спамом и храним ваши контакты в тайне.
        form.js-submit-sub
            .b-form__row
                .b-form__item
                    input(type='text' placeholder='Имя' required name='name')
                .b-form__item
                    input(type='tel' placeholder='Телефон' required name='phone' ).phone-mask

            .b-form__row.b-form__row--last
                .b-form__checkbox
                    input(type='checkbox' id='agreement' required)
                    label(for='agreement') Я согласен на обработку моих
                    span.js-show-text  персональных данных

                .b-form__submit
                    button.btn.btn--submit Отправить
            .b-form__text.js-custom-scroll

                    p ФЗ «О персональных данных» № 152-ФЗ требует вашего согласия на обработку предоставленных вами персональных данных.
                    p
                        span Оставляя любую информацию о себе на этом сайте, вы в соответствии с ФЗ «О персональных данных» № 152-ФЗ выражаете согласие на обработку ваших персональных данных Обществом с ограниченной ответственностью «Торговый дом «Керамик груп» (ОГРН ‎1117746197579 ИНН ‎7718840104 КПП ‎771345001, место нахождения 127247 г. Москва, Дмитровское ш., д. 100, стр. 2, оф. 2401, далее «Общество»), в том числе для осуществления электронной рассылки с целью клиентской поддержки, продвижения Обществом своих товаров и услуг, проведения электронных и sms опросов и контроля результатов маркетинговых акций.
                        span Отзыв согласия на обработку персональных данных обеспечивается функционалом отписки, предусмотренным в каждом информационном сообщении или по телефону ‎+7 (495) 961-00-57.
                        span Общество вправе осуществлять записи всех телефонных разговоров. При этом Общество обязуется предотвращать попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров и передачу ее третьим лицам в соответствии с п. 4 ст. 16 Федерального закона «Об информации, информационных технологиях и о защите информации».

#js-popup-sub-success.b-popup-sub.b-popup-sub--success.mfp-hide
    .b-popup-sub__close
    .b-popup-sub__wrap
        .b-popup-sub__title Спасибо за подписку


        //.b-popup-sub__desc На указаный вами адрес электронной почты направлено письмо.
        //    br
        //    | Активируйте подписку по указанной в нем ссылке

