.b-subscribe
    .container
        .b-subscribe__wrap
            .b-subscribe__left
                h2 Подписывайтесь
                    br
                    | на рассылку
                p Подписывайтесь на нашу информационную рассылку, и первыми получайте актуальную информацию, свежие статьи, и конечно же скидки
            .b-subscribe__right
                form.js-form-sub
                    label(for='email')
                        input(id='email' name='email' required  type='email' placeholder='E-mail').js-sub-input
                    button(type='submmit').btn.btn--submit Подписаться
