.b-select-filter
    .container
        form(name='_form' method='GET').b-select-filter__wrap
            .b-select-filter__item
                .b-select-filter__close
                .b-select-filter__block
                    .b-select-filter__name Коллекция плитки
                    .b-select-filter__select(data-default='Любая коллекция') Любая коллекция
                .b-select-filter__dropdown
                    .b-select-filter__dropdown-wrap
                        .b-select-filter__dropdown-sroll
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_14' name="catalog_parent_id[]" value="11")
                                label(for='_14') Плитка для стен и фасадов
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_24' name="catalog_parent_id[]" value="12")
                                label(for='_24') Напольная плитка и ступени
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_224' name="catalog_parent_id[]" value="13")
                                label(for='_224') Тротуарная плитка
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_234' name="catalog_parent_id[]" value="14")
                                label(for='_234') Промышленная плитка


                    button.btn.btn--submit применить
            .b-select-filter__item
                .b-select-filter__close
                .b-select-filter__block
                    .b-select-filter__name Марка
                    .b-select-filter__select(data-default='Любая марка') Любая марка
                .b-select-filter__dropdown
                    .b-select-filter__dropdown-wrap
                        .b-select-filter__dropdown-sroll
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_1`' name="catalog_id[]" value="16")
                                label(for='_1`') Riegel 50
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_2`' name="catalog_id[]" value="17")
                                label(for='_2`') Handstrich
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_22`' name="catalog_id[]" value="18")
                                label(for='_22`') Steinlinge
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_1`d' name="catalog_id[]" value="27")
                                label(for='_1`d') Duro
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_2s`' name="catalog_id[]" value="19")
                                label(for='_2s`') Glanzstucke
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_1`1' name="catalog_id[]" value="28")
                                label(for='_1`1') Roccia X
                            .b-select-filter__checkbox
                                input(type='checkbox' id='q_2`2' name="catalog_id[]" value="20")
                                label(for='q_2`2') Zeitlos
                            .b-select-filter__checkbox
                                input(type='checkbox' id='a_2`2' name="catalog_id[]" value="29")
                                label(for='a_2`2') Asar
                            .b-select-filter__checkbox
                                input(type='checkbox' id='s_2`2' name="catalog_id[]" value="21")
                                label(for='s_2`2') Keraprotect
                            .b-select-filter__checkbox
                                input(type='checkbox' id='d_2`2' name="catalog_id[]" value="30")
                                label(for='d_2`2') Epos
                    button.btn.btn--submit применить
            .b-select-filter__item
                .b-select-filter__close
                .b-select-filter__block
                    .b-select-filter__name Фасад
                    .b-select-filter__select(data-default='Любой Фасад') Любой Фасад
                .b-select-filter__dropdown
                    .b-select-filter__dropdown-wrap
                        .b-select-filter__dropdown-sroll
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_1f' name="catalog_feature_value[]" value="Мокрый фасад")
                                label(for='_1f') Мокрый фасад
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_2f' name="catalog_feature_value[]" value="Вент. фасад")
                                label(for='_2f') Вент. фасад
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_22f' name="catalog_feature_value[]" value="Мокрый")
                                label(for='_22f') Мокрый

                    button.btn.btn--submit применить

            .b-select-filter__item
                .b-select-filter__close
                .b-select-filter__block
                    .b-select-filter__name Цвет брусчатки
                    .b-select-filter__select(data-default='Любой цвет') Любой цвет
                .b-select-filter__dropdown
                    .b-select-filter__dropdown-wrap
                        .b-select-filter__dropdown-sroll
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_1у' name="catalog_item_feature_value[]" value="бежевый")
                                label(for='_1у') бежевый
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_2у' name="catalog_item_feature_value[]" value="белый")
                                label(for='_2у') белый
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_22у' name="catalog_item_feature_value[]" value="желтый")
                                label(for='_22у') желтый
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_23у' name="catalog_item_feature_value[]" value="коричневый")
                                label(for='_23у') коричневый
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_1уq' name="catalog_item_feature_value[]" value="черный")
                                label(for='_1уq') черный
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_2уq' name="catalog_item_feature_value[]" value="серый")
                                label(for='_2уq') серый
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_22уq' name="catalog_item_feature_value[]" value="голубой")
                                label(for='_22уq') голубой
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_23уq' name="catalog_item_feature_value[]" value="оранжевый")
                                label(for='_23уq') оранжевый

                    button.btn.btn--submit применить

            .b-select-filter__item
                .b-select-filter__close
                .b-select-filter__block
                    .b-select-filter__name Формат
                    .b-select-filter__select(data-default='Любой формат') Любой формат
                .b-select-filter__dropdown
                    .b-select-filter__dropdown-wrap
                        .b-select-filter__dropdown-sroll
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_1' name="format_id[]" value="5")
                                label(for='_1') 490 х 40 х 14
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_2' name="format_id[]" value="4")
                                label(for='_2') 240 х 52 х 14
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_22' name="format_id[]" value="6")
                                label(for='_22') 240 х 71 х 14
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_23' name="format_id[]" value="7")
                                label(for='_23') 440 х 52 х 14

                            .b-select-filter__checkbox
                                input(type='checkbox' id='_1qw' name="format_id[]" value="8")
                                label(for='_1qw') 400 х 71 х 14
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_2qw' name="format_id[]" value="9")
                                label(for='_2qw') 400 х 35 х 14
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_22qw' name="format_id[]" value="10")
                                label(for='_22qw') 240 х 71 х 11
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_23qw' name="format_id[]" value="11")
                                label(for='_23qw') 302 х 148 х 12

                            .b-select-filter__checkbox
                                input(type='checkbox' id='_1qwqw' name="format_id[]" value="12")
                                label(for='_1qwqw') 604 х 296 х 12
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_2qwqw' name="format_id[]" value="13")
                                label(for='_2qwqw') 240 х 52 х 14
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_22qwqw' name="format_id[]" value="14")
                                label(for='_22qwqw') 240 х 71 х 8
                            .b-select-filter__checkbox
                                input(type='checkbox' id='_23qwqw' name="format_id[]" value="15")
                                label(for='_23qwqw') 240 х 52 х 8
                    button.btn.btn--submit применить
