.b-tabs-label
    .b-tabs-label__list
        .b-tabs-label__item.b-tabs-label__item--active Все
        .b-tabs-label__item АКЦИи
        .b-tabs-label__item Материалы
        .b-tabs-label__item Объеты
        .b-tabs-label__item Практика