//.whereami
header.b-header.b-header--style-black
    .container
        a(href='/').b-header__logo
        .b-header__top
            ul.b-header__list
                li
                    a(href='/') О компании
                li
                    a(href='/') Как купить?
                li
                    a(href='/') Сервис
                li
                    a(href='/') Журнал
                li
                    a(href='/') Контакты

            .b-header__city.js-select-city Владивосток
            .b-header__divider
        .b-header__bottom
            .b-header__menu
                .b-header__item.b-header__item--active.b-header__item--arrow
                    a.js-modal-catalog(href='#modal-catalog') Каталог
                    ul.b-header__dropdown
                        li
                            a(href='').b-header__subitem.arrow Клинкер
                            .b-header__subdropdown
                                a(href='').b-header__subitem wwwwwww
                                a(href='').b-header__subitem wwwwwww
                                a(href='').b-header__subitem wwwwwww
                                a(href='').b-header__subitem wwwwwww
                                a(href='').b-header__subitem wwwwwww
                                a(href='').b-header__subitem wwwwwww
                                hr
                                a(href='').b-header__subitem wwwwwww

                        li
                            a(href='').b-header__subitem.arrow Кирпич ручной формовки
                        li
                            a(href='').b-header__subitem.arrow Брусчатка
                            .b-header__subdropdown
                                a(href='').b-header__subitem qqqq
                                a(href='').b-header__subitem wwqqwwwww
                                a(href='').b-header__subitem wwqqwwwww
                                a(href='').b-header__subitem wwwwqqwww
                        li
                            a(href='').b-header__subitem.arrow Строительные  смеси и химия
                        li
                            a(href='').b-header__subitem.arrow и еще
                a(href='').b-header__item Готовые объекты
                a(href='').b-header__item Визуализации
                a(href='').b-header__item Прайсы
            a(href='#modal-tb-menu').b-header__burger.js-modal-tb-menu
                span
            a(href='tel:74959610053').b-header__phone +7 (495) 961-00-53
        .b-header__select-city
            .select-city
                a(href='').select-city__item
                    span
                    p Белгород
                a(href='').select-city__item
                    span Южный ФО
                    p Краснодар
                a(href='').select-city__item
                    span
                    p Курск
                a(href='').select-city__item.active
                    span
                    p Владивосток
                a(href='').select-city__item
                    span
                    p Воронеж
                a(href='').select-city__item
                    span Уральский ФО
                    p Тамбов
                a(href='').select-city__item
                    span Центральный ФО
                    p Москва
                a(href='').select-city__item
                    span
                    p Екатеринбург
                a(href='').select-city__item
                    span
                    p Тула
