//.whereami
header.b-header
    .container
        a(href='/').b-header__logo
        .b-header__top
            ul.b-header__list
                li
                    a(href='/') О компании
                li
                    a(href='/') Как купить?
                li
                    a(href='/') Сервис
                li
                    a(href='/') Журнал
                li
                    a(href='/') Контакты

            .b-header__city.js-show-city Москва
            .b-header__divider
        .b-header__bottom
            .b-header__menu
                .b-header__item.b-header__item--active.b-header__item--arrow
                    a.js-modal-catalog(href='#modal-catalog') Каталог
                    ul.b-header__dropdown
                        li
                            a(href='').b-header__subitem.arrow Клинкер
                            .b-header__subdropdown

                                a(href='').b-header__subitem wwwwwww
                                a(href='').b-header__subitem wwwwwww
                                a(href='').b-header__subitem wwwwwww
                                a(href='').b-header__subitem wwwwwww
                                a(href='').b-header__subitem wwwwwww
                                a(href='').b-header__subitem wwwwwww
                                a(href='').b-header__subitem wwwwwww
                                a(href='').b-header__subitem wwwwwww
                                hr
                                a(href='').b-header__subitem wwwwwww
                                a(href='').b-header__subitem wwwwwww
                        li
                            a(href='').b-header__subitem.arrow Кирпич ручной формовки
                        li
                            a(href='').b-header__subitem.arrow Брусчатка
                            .b-header__subdropdown
                                a(href='').b-header__subitem qqqq
                                a(href='').b-header__subitem wwqqwwwww
                                a(href='').b-header__subitem wwqqwwwww
                                a(href='').b-header__subitem wwwwqqwww
                        li
                            a(href='').b-header__subitem.arrow Строительные  смеси и химия
                        li
                            a(href='').b-header__subitem.arrow и еще
                a(href='').b-header__item Готовые объекты
                a(href='').b-header__item Визуализации
                a(href='').b-header__item Прайсы

            a(href='#modal-tb-menu').b-header__burger.js-modal-tb-menu
                span

            .b-header__list-phone
                span.b-header__phone.b-header__phone--main +7 (499) 348-85-65
                span.b-header__phone.b-header__phone--child
        .b-header__select-city(data-display_flag='false')
            .b-header__select-city-bg
            .b-header__select-city-wrap
                .select-city__sub Выбран шоу-рум
                .select-city__name в
                    = ' '
                    span Москве

                .select-city__title Указать другой город:
                .select-city
                    .select-city__column
                        .select-city__region
                            p Центральный ФО 
                            a(href='').select-city__item.js-select-city.active(data-reg_id='1') Москва
                            a(href='').select-city__item.js-select-city(data-reg_id='8') Белгород
                            a(href='').select-city__item.js-select-city(data-reg_id='9') Воронеж
                            a(href='').select-city__item.js-select-city(data-reg_id='10') Курск
                            a(href='').select-city__item.js-select-city(data-reg_id='3') Тамбов
                    .select-city__column
                        .select-city__region
                            p Сев.запад. ФО
                            a(href='').select-city__item.js-select-city(data-reg_id='11') Санкт-Петербург

                        .select-city__region
                            p Южный ФО 
                            a(href='').select-city__item.js-select-city(data-reg_id='7') Краснодар

                        .select-city__region
                            p Уральский ФО 
                            a(href='').select-city__item.js-select-city(data-reg_id='2') Екатеринбург
                    .select-city__column
                        .select-city__region
                            p Сибирский ФО 
                            a(href='').select-city__item.js-select-city(data-reg_id='4') Новосибирск

                        .select-city__region
                            p Дальневосточный ФО 
                            a(href='').select-city__item.js-select-city(data-reg_id='6') Владивосток



