include ../mixins/all-mixins
- var img_1 = './images/collection/kirpich/gr_atlantis.jpg'

- var img_2 = './images/collection/kirpich/interior_2908.jpg'

- var img_3 = './images/collection/kirpich/1.jpg'

- var img_4 = './images/collection/kirpich/glass_house_wows_modern_creativity_artistic_designs_7_fireplace.jpg'

- var img_5 = './images/collection/kirpich/10.jpg'

- var img_1_color = './images/catalog_detail/11.jpg'
- var img_2_color = './images/catalog_detail/22.jpg'
- var img_3_color = './images/catalog_detail/33.jpg'
- var img_4_color = './images/catalog_detail/44.jpg'

.b-grid.b-grid--collection-color
    .b-grid__single
        .container
            .b-single-card
                .b-single-card__img.b-single-card--8.b-single-card--r-4
                    +img(img_1)
                .b-single-card__content.b-single-card--5
                    h2 Superior Line
                    p Универсальная серия традиционных, наиболее популярных решений в дизайне крафтового кирпича.
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)
                        .b-single-card__color-item
                            +img(img_4_color)
                        a(href="#popup-color").b-single-card__color-item.b-single-card__color-item--popup.js-popup
                            span +45
                            +img(img_4_color)
                    a(href='').btn.btn--submit Подробнее

    .b-grid__single.b-grid__single--fullpage
        .b-single-card
            .b-single-card__img
                +img(img_2)
            .container
                .b-single-card__content.b-single-card--5
                    h2 CORSO
                    p Необыкновенно стильный, изготовленный вручную из особых сортов глины, Corso — настоящая находка для изысканного дизайна.
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)
                        .b-single-card__color-item
                            +img(img_4_color)
                    a(href='').btn.btn--submit Подробнее

    .b-grid__single
        .container
            .b-single-card
                .b-single-card__img
                    +img(img_3)
                .b-single-card__content.b-single-card--5
                    h2 Custom Blends
                    p Коллекции специально подобранных цветов в необычных миксованных сочетаниях. Готовые решения для проявления яркой индивидуальности.
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                    a(href='').btn.btn--submit Подробнее

    .b-grid__single.b-grid__single--fullpage
        .b-single-card
            .b-single-card__img
                +img(img_4)
            .container
                .b-single-card__content.b-single-card--5
                    h2 Smoked Line
                    p Непревзойдённое решение для стильных интерьеров. Благодаря особой технологии обжига, каждый элемент имеет индивидуальный рисунок.
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)

                    a(href='').btn.btn--submit Подробнее
    .b-grid__single
        .container
            .b-single-card
                .b-single-card__img
                    +img(img_5)
                .b-single-card__content.b-single-card--5
                    h2 Antic Line
                    p Классические оттенки модных архитектурных направлений: прохладный серый цвет, теплый коричневый цвет и элегантный желтый цвет.
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)
                        .b-single-card__color-item
                            +img(img_4_color)
                    a(href='').btn.btn--submit Подробнее


























