include ../mixins/all-mixins
- var img_1 = './images/service/Ceramic_group_Vibor_i_raschet.jpg'

- var img_2 = './images/service/Ceramic_group_Rezka_plitki.jpg'

- var img_3 = './images/service/Ceramic_group_Obychenie.jpg'
- var img_4 = './images/service/Ceramic_group_Shef_montazh.jpg'
- var img_5 = './images/service/Ceramic_group_Dostavka.jpg'

.b-blog
    .b-blog__header
        .container
            h1 Сервис
            p
                | Наша главная задача — предоставить сервис
                | на уровне европейских стандартов, это значит, что мы ставим себе задачу быть внимательным помощником, экспертом, который поможет найти лучшее решение, гарантирует качественный результат. Довольные клиенты
                | и повторные заказы — главная ценность в нашей работе.


    .b-blog__body.b-blog__body--service
        .container
            .b-blog__service
                .b-grid__column
                    .card-service
                        h3 Помощь в выборе и расчет количества материалов
                        +img(img_1)
                        p Одно из ключевых преимуществ нашей компании в том, что мы не просто продаем привлекательные товары, а разрабатываем для заказчика гарантированное решение его задачи. И если подходить системно, то для любой задачи можно найти несколько альтернативных решений. Одно может быть быстрым, другое — дешевым, третье — долговечным, и так далее. Прорабатывая каждый отдельный проект, мы предлагаем на ваш выбор несколько различных технологий его воплощения, гарантируя результат.
                    .card-service
                        h3 Обучение
                        +img(img_3)
                        p Монтаж клинкера и кладка декоративного кирпича — не самая сложная работа, если знать, как делать всё правильно. К сожалению, даже опытные бригады отделочников имеют весьма туманное представление и о клинкере, и о методах работы с этим материалом. Мы проводим демонстрации применения материала на объекте, обучаем нанятые вами бригады перед предстоящей работой.
                .b-grid__column
                    .card-service
                        h3 Резка плитки кирпича
                        +img(img_2)
                        p CeramicGroup передает все процессы по обработке и применению материалов специализированным компаниям.
                    .card-service
                        h3 Шеф-монтаж
                        +img(img_4)
                        p Закажите ревизию объекта нашим техническим специалистом. По окончании работ и в процессе, когда еще не поздно исправить огрехи, инженер проведёт контроль качества монтажа и оформит экспертное заключение.
                .b-grid__column
                    .card-service
                        h3 Доставка
                        +img(img_5)
                        p После того, как вы оплатили товар, он доступен к отгрузке на нашем складе по адресу М.О., Красногорский р-н, с. Петрово-Дальнее, вл.1, стр. 1. Мы поручаем логистику проверенным контрагентам, которых можем порекомендовать — например, в Московской области это может быть частный извозчик Вадим (его номер +7 926 980-40-80), он просит за свои услуги очень приемлемую плату, которая многих устраивает. В любом случае, ваш менеджер поможет вам подыскать лучшее решение по доставке.

            .b-blog__service.b-blog__service--tb
                .card-service
                    h3 Помощь в выборе и расчет количества материалов
                    p Одно из ключевых преимуществ нашей компании в том, что мы не просто продаем привлекательные товары, а разрабатываем для заказчика гарантированное решение его задачи. И если подходить системно, то для любой задачи можно найти несколько альтернативных решений. Одно может быть быстрым, другое — дешевым, третье — долговечным, и так далее. Прорабатывая каждый отдельный проект, мы предлагаем на ваш выбор несколько различных технологий его воплощения, гарантируя результат.

                .card-service
                    h3 Резка плитки и кирпича
                    p CeramicGroup передает все процессы по обработке и применению материалов специализированным компаниям.

                .card-service
                    h3 Доставка
                    p После того, как вы оплатили товар, он доступен к отгрузке на нашем складе. Вы можете использовать своего транспортного агента для доставки груза до места назначения или обратиться за помощью к вашему менеджеру.

                .card-service
                    h3 Обучение
                    p Монтаж клинкера и кладка декоративного кирпича — не самая сложная работа, если знать, как делать всё правильно. К сожалению, даже опытные бригады отделочников имеют весьма туманное представление и о клинкере, и о методах работы с этим материалом. Мы проводим демонстрации применения материала на объекте, обучаем нанятые вами бригады перед предстоящей работой.

                .card-service
                    h3 Шеф-монтаж
                    p Закажите ревизию объекта нашим техническим специалистом. По окончании работ и в процессе, когда еще не поздно исправить огрехи, инженер проведёт контроль качества монтажа и оформит экспертное заключение.


















