include ../mixins/all-mixins
- var img_1 = './images/collection/brushatca/flammenbunt_02.jpg'

- var img_2 = './images/collection/brushatca/papenburg_03_a.jpg'

- var img_3 = './images/collection/brushatca/keratique_rot_blau_bunt_04.png'

- var img_4 = './images/collection/brushatca/12.jpg'

- var img_5 = './images/collection/brushatca/kleinpflaster_35133_cn_neu.jpg'

- var img_1_color = './images/catalog_detail/11.jpg'
- var img_2_color = './images/catalog_detail/22.jpg'
- var img_3_color = './images/catalog_detail/33.jpg'
- var img_4_color = './images/catalog_detail/44.jpg'

.b-grid.b-grid--collection-color
    .b-grid__single
        .container
            .b-single-card
                .b-single-card__img.b-single-card--8.b-single-card--r-4
                    +img(img_1)
                .b-single-card__content.b-single-card--5
                    h2 Classic
                    p Традиционный европейский материал для мощения дорог. Классический формат, отработанная технология.
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)
                        .b-single-card__color-item
                            +img(img_4_color)
                        a(href="#popup-color").b-single-card__color-item.b-single-card__color-item--popup.js-popup
                            span +45
                            +img(img_4_color)
                    a(href='').btn.btn--submit Подробнее

    .b-grid__single.b-grid__single--fullpage
        .b-single-card
            .b-single-card__img
                +img(img_2)
            .container
                .b-single-card__content.b-single-card--5
                    h2 Classic riegel
                    p Новое прочетение классики. Узкий вытянутый формат ригель — яркий тренд в современной архитектуре.
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)
                        .b-single-card__color-item
                            +img(img_4_color)
                    a(href='').btn.btn--submit Подробнее

    .b-grid__single
        .container
            .b-single-card
                .b-single-card__img
                    +img(img_3)
                .b-single-card__content.b-single-card--5
                    h2 keratique
                    p Искуссно состаренная брусчатка, почти такая же, как и та, что украшает большинство дорог старой Европы.

                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                    a(href='').btn.btn--submit Подробнее

    .b-grid__single.b-grid__single--fullpage
        .b-single-card
            .b-single-card__img
                +img(img_4)
            .container
                .b-single-card__content.b-single-card--5
                    h2 keratique riegel
                    p Интересное сочетание явно современного формата и “старинного” внешнего вида материала.
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)

                    a(href='').btn.btn--submit Подробнее
    .b-grid__single
        .container
            .b-single-card
                .b-single-card__img
                    +img(img_5)
                .b-single-card__content.b-single-card--5
                    h2 mosaic
                    p Яркие кубики для самовыражения и творчества в умелых руках могут стать произведением искусства.
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)
                        .b-single-card__color-item
                            +img(img_4_color)
                    a(href='').btn.btn--submit Подробнее


























