include ../mixins/all-mixins
- var img_1 = './images/catalog_detail/01_zoe_02.jpg'

- var img_2 = './images/catalog_detail/Gravelblend_0186_962_01 копия.jpg'

- var img_3 = './images/catalog_detail/EPOS.952.02 копия.jpg'

- var img_4 = './images/catalog_detail/csm_01.aerat.705.01_e15a36bbb7.jpg'

- var img_5 = './images/catalog_detail/AERA_755_04 копия.jpg'

- var img_1_color = './images/catalog_detail/11.jpg'
- var img_2_color = './images/catalog_detail/22.jpg'
- var img_3_color = './images/catalog_detail/33.jpg'
- var img_4_color = './images/catalog_detail/44.jpg'

//- #stena
//- #plitka
//- #terassa
//- #trotuar
//- #prom

.b-grid.b-grid--collection-color
    .b-grid__single
        .container
            .b-single-card
                a(href='').b-single-card__img.b-single-card--8.b-single-card--r-4
                    +img(img_1)
                .b-single-card__content.b-single-card--5
                    h2 ZOÉ
                    p Классические оттенки модных архитектурных направлений: прохладный серый цвет, теплый коричневый цвет и элегантный желтый цвет
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)
                        .b-single-card__color-item
                            +img(img_4_color)
                        a(href="#popup-color").b-single-card__color-item.b-single-card__color-item--popup.js-popup
                            span +45
                            +img(img_4_color)
                    a(href='').btn.btn--submit Подробнее

    .b-grid__single.b-grid__single--fullpage
        .b-single-card
            a(href='').b-single-card__img
                +img(img_2)
            .container
                .b-single-card__content.b-single-card--5
                    h2 GRAVEL BLEND
                    p Классические оттенки модных архитектурных направлений: прохладный серый цвет, теплый коричневый цвет и элегантный желтый цвет
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)
                        .b-single-card__color-item
                            +img(img_4_color)
                    a(href='').btn.btn--submit Подробнее
    .b-grid__single
        .container
            .b-single-card
                a(href='').b-single-card__img
                    +img(img_3)
                .b-single-card__content.b-single-card--5
                    h2 EPOS
                    p Классические оттенки модных архитектурных направлений: прохладный серый цвет, теплый коричневый цвет и элегантный желтый цвет
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                    a(href='').btn.btn--submit Подробнее

    .b-grid__single.b-grid__single--fullpage
        .b-single-card
            .b-single-card__img
                +img(img_4)
            .container
                .b-single-card__content.b-single-card--5
                    h2 AERA T
                    p Классические оттенки модных архитектурных направлений: прохладный серый цвет, теплый коричневый цвет и элегантный желтый цвет
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)

                    a(href='').btn.btn--submit Подробнее
    .b-grid__single
        .container
            .b-single-card
                .b-single-card__img
                    +img(img_5)
                .b-single-card__content.b-single-card--5
                    h2 AERA
                    p Классические оттенки модных архитектурных направлений: прохладный серый цвет, теплый коричневый цвет и элегантный желтый цвет
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)
                        .b-single-card__color-item
                            +img(img_4_color)
                    a(href='').btn.btn--submit Подробнее

    .b-grid__single
        .container
            .b-single-card
                .b-single-card__img.b-single-card--8.b-single-card--r-4
                    +img(img_1)
                .b-single-card__content.b-single-card--5
                    h2 ZOÉ
                    p Классические оттенки модных архитектурных направлений: прохладный серый цвет, теплый коричневый цвет и элегантный желтый цвет
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)
                        .b-single-card__color-item
                            +img(img_4_color)
                        a(href="#popup-color").b-single-card__color-item.b-single-card__color-item--popup.js-popup
                            span +45
                            +img(img_4_color)
                    a(href='').btn.btn--submit Подробнее

    .b-grid__single.b-grid__single--fullpage
        .b-single-card
            .b-single-card__img
                +img(img_2)
            .container
                .b-single-card__content.b-single-card--5
                    h2 GRAVEL BLEND
                    p Классические оттенки модных архитектурных направлений: прохладный серый цвет, теплый коричневый цвет и элегантный желтый цвет
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)
                        .b-single-card__color-item
                            +img(img_4_color)
                    a(href='').btn.btn--submit Подробнее
    .b-grid__single
        .container
            .b-single-card
                .b-single-card__img
                    +img(img_3)
                .b-single-card__content.b-single-card--5
                    h2 EPOS
                    p Классические оттенки модных архитектурных направлений: прохладный серый цвет, теплый коричневый цвет и элегантный желтый цвет
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                    a(href='').btn.btn--submit Подробнее

    .b-grid__single.b-grid__single--fullpage
        .b-single-card
            .b-single-card__img
                +img(img_4)
            .container
                .b-single-card__content.b-single-card--5
                    h2 AERA T
                    p Классические оттенки модных архитектурных направлений: прохладный серый цвет, теплый коричневый цвет и элегантный желтый цвет
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)

                    a(href='').btn.btn--submit Подробнее

    .b-grid__single
        .container
            .b-single-card
                .b-single-card__img
                    +img(img_5)
                .b-single-card__content.b-single-card--5
                    h2 AERA
                    p Классические оттенки модных архитектурных направлений: прохладный серый цвет, теплый коричневый цвет и элегантный желтый цвет
                    .b-single-card__color
                        .b-single-card__color-item
                            +img(img_1_color)
                        .b-single-card__color-item
                            +img(img_2_color)
                        .b-single-card__color-item
                            +img(img_3_color)
                        .b-single-card__color-item
                            +img(img_4_color)
                    a(href='').btn.btn--submit Подробнее

























