.b-blog
    .b-blog__header
        .container
            h1 Как купить
            p Все положения взаимодействия продавца и покупателя регулируются Законодательством РФ и договором купли-продажи. Ознакомиться с полным текстом договора можно
                = ' '
                a(href='')  здесь
                |. Вот его основные тезисы.

    .b-blog__body.b-blog__body--v2
        .container
            .b-blog__right-buy
                .b-blog__right-buy-item
                    span Спциалисты лично или по телефону
                    a(href='tel:74959610053') +7 (495) 961-00-53
                    span бесплатно окажут необходимые технические консультации.
                    span По дополнительному согласованию, возможен выезд специалиста на объект.
                .b-blog__right-buy-item
                    span Как официальный представитель Stroeher на территории России, компания CeramicGroup является субъектом рассмотрения рекламаций в адрес производителя.
                .b-blog__right-buy-icon
                    img(src='./images/icon/how_to_buy.png')

            h2 Оформление заказа
            p.mobile-margin-buy При наличии чертежа или схемы объекта, наши технические специалисты помогут вам составить и оптимизировать смету.


            h2 Оплата
            p Помимо наличных, вы можете оплатить свою покупку картой Visa/MasterCard или безналичным банковским переводом.

            .b-blog__pay-icon
                .b-blog__pay-icon-item
                    .icon-wallet
                    span Наличный расчет
                .b-blog__pay-icon-item
                    .icon-card
                    span Visa MasterCard
                .b-blog__pay-icon-item
                    .icon-bank
                    span Банковский перевод

            .b-blog__note.b-blog__note--tb
                | Специалисты лично или по телефону +7 (495) 961-00-53
                | бесплатно окажут необходимые технические консультации.
                | По дополнительному согласованию, возможен выезд специалиста на объект.

            h2 Гарантия производителя
            .b-blog__paragraph
                p На продукцию Stroeher предоставляется гарантия на эксплуатацию в неблагоприятных температурных условиях (гарантия на морозостойкость) в течение 25 лет. На всю керамическую продукцию, в соответствии с законодательством РФ, если условиями договора не предусмотрено иное, предоставляется гарантия 24 месяца при условии соблюдения требований по укладке и условий эксплуатации, определенных производителем.

            .b-blog__note.b-blog__note--tb  Как официальный представитель S.Anselmo, Stroeher, Kerawil на территории России, компания CeramicGroup является субъектом рассмотрения рекламаций в адрес производителя.

            h2 Возврат и бой
            .b-blog__paragraph.b-blog__paragraph--last
                p В течение месяца с момента покупки, возможен возврат приобретенного товара категории серийной продукции постоянного складского запаса. Серии ограниченного выпуска и продукция выпущенная под заказ, может быть принята под реализацию.
                p Клинкерная плитка, произведённая разными партиями, может иметь незначительные отличия по цвету. При необходимости, мы готовы обменять такой товар.
                p Во время транспортировки допускается бой продукции в объёме до 3%. В случае превышения, будет проведена дополнительная бесплатная отгрузка.




