.b-blog
    .b-blog__header
        .container
            h1 Прайс-листы
            p Просим вас учитывать, что приведенная в прайс-листах информация является уведомительной. В зависимости от конкретных задач, стоимость их решения может существенно меняться. Для того, чтобы составить правильную калькуляцию, необходимы профессиональные навыки. Позвольте нашим менеджерам, предложить свою помощь!

    .b-blog__body
        .container
            .b-blog__price-tab.js-tab-link
                .b-blog__price-tab-item.active Клинкер
                .b-blog__price-tab-item Кирпич ручной формовки
                .b-blog__price-tab-item Брусчатка
                .b-blog__price-tab-item Строительные смеси и химия
                .b-blog__price-tab-item Системные решения
            .b-blog__price-content.js-tab-content
                .b-blog__price.active
                    a(href='').b-price
                        span
                        | ARDEX retail 2018.xls
                    a(href='').b-price
                        span
                        | KERAWIL_retail_2017.xls
                    a(href='').b-price
                        span
                        | Lithofin retail 2018.xls
                    a(href='').b-price
                        span
                        | ARDEX retail 2018.xls
                    a(href='').b-price
                        span
                        | KERAWIL_retail_2017.xls
                    a(href='').b-price
                        span
                        | Lithofin retail 2018.xls
                    a(href='').b-price
                        span
                        | KERAWIL_retail_2017.xls
                    a(href='').b-price
                        span
                        | Lithofin retail 2018.xls
                    a(href='').b-price
                        span
                        span STROEHER_Riemchen_X_19.02.18.xls
                    a(href='').b-price
                        span
                        | STROEHER панели retail.xls
                .b-blog__price
                    a(href='').b-price
                        span
                        | ARDEX retail 2018.xls
                    a(href='').b-price
                        span
                        | KERAWIL_retail_2017.xls
                    a(href='').b-price
                        span
                        | Lithofin retail 2018.xls
                    a(href='').b-price
                        span
                        | ARDEX retail 2018.xls
                    a(href='').b-price
                        span
                        | KERAWIL_retail_2017.xls

                .b-blog__price
                    a(href='').b-price
                        span
                        | ARDEX retail 2018.xls
                    a(href='').b-price
                        span
                        | KERAWIL_retail_2017.xls
                    a(href='').b-price
                        span
                        | Lithofin retail 2018.xls
                    a(href='').b-price
                        span
                        | Lithofin retail 2018.xls
                    a(href='').b-price
                        span
                        | KERAWIL_retail_2017.xls
                    a(href='').b-price
                        span
                        | Lithofin retail 2018.xls
                    a(href='').b-price
                        span
                        span STROEHER_Riemchen_X_19.02.18.xls
                    a(href='').b-price
                        span
                        | STROEHER панели retail.xls
                .b-blog__price
                    a(href='').b-price
                        span
                        | ARDEX retail 2018.xls
                    a(href='').b-price
                        span
                        | KERAWIL_retail_2017.xls
                    a(href='').b-price
                        span
                        | Lithofin retail 2018.xls
                    a(href='').b-price
                        span
                        | ARDEX retail 2018.xls
                    a(href='').b-price
                        span
                        | KERAWIL_retail_2017.xls

                .b-blog__price
                    a(href='').b-price
                        span
                        | ARDEX retail 2018.xls
                    a(href='').b-price
                        span
                        | KERAWIL_retail_2017.xls
                    a(href='').b-price
                        span
                        | Lithofin retail 2018.xls
                    a(href='').b-price
                        span
                        | Lithofin retail 2018.xls
                    a(href='').b-price
                        span
                        | KERAWIL_retail_2017.xls
                    a(href='').b-price
                        span
                        | Lithofin retail 2018.xls
                    a(href='').b-price
                        span
                        span STROEHER_Riemchen_X_19.02.18.xls
                    a(href='').b-price
                        span
                        | STROEHER панели retail.xls


