include ../mixins/all-mixins
- var img_1 = './images/detail_product/steinlinge_373_01.png'

.b-product-journal.b-product-journal--error
    h2 Возможно, вас заинтересуют
        br
        | наши товары
    .b-product-journal__list
        +product_card(img_1, 'Клинкерная плитка')
        +product_card(img_1, 'Кирпич ручной формовки')
        +product_card(img_1, 'Клинкерная брусчатка')
        +product_card(img_1, 'Смеси и химия')
