include ../mixins/all-mixins
- var img_1 = './images/detail/mil-combi-865-0004@2x.png'
- var img_2 = './images/detail/mil-kerabig-ks-01-001@2x.png'
- var img_3 = './images/detail/mil-sasso-515-0002@2x.png'
- var img_4 = './images/detail/roccia-833-02@2x.png'

.b-detail
    .b-detail__top-title
        .container
            span Фасадные системы теплоизоляции
            h1 Система StoTherm Classic
            p Надежная и долговечная органическая система StoTherm Classic.
    .container

        .b-detail__line-card
            .b-detail__line-pic
                img(src='./images/detail/image-5@2x.png')
            .b-detail__line-text
                h3 Органическая трудовоспламеняемая система теплоизоляции фасада с утеплителем из пенополистерола
                p StoTherm Classic свыше 50 лет успешно используется в строительстве. Все эти годы  система непрерывно совершенствовалась и зарекомендовала себя как в высшей степени надежная и долговечная конструкция.
                p StoTherm Classic задает стандарт качества фасадной теплоизоляции - проверенные  на практике решения обеспечили компании Sto мировое лидерство на рынке теплоизоляционных систем с общей площадью сделанных фасадных поверхностей свыше 320 млн. квадратных метров.

        .b-detail-card-material
            h2 Системные материалы
            .b-detail-card-material__list
                a(href='').card-material
                    .card-material__number 1
                    .card-material__header
                        h3 Клеевой состав
                        span Sto–Baukleber
                    .card-material__pic
                        img(src='./images/detail/image-6@2x.png')
                    .card-material__footer Минеральный клеящий раствор.
                a(href='').card-material
                    .card-material__number 2
                    .card-material__header
                        h3 Утеплитель: пенополистирол
                        span Sto–Polystirol–Hartschaumplatte PS15SE
                    .card-material__pic
                        img(src='./images/detail/image-7@2x.png')
                    .card-material__footer Термоизоляционная панель  из пенополистирола согласно EN 13163
                a(href='').card-material
                    .card-material__number 3
                    .card-material__header
                        h3 Крепление
                        span Дюбели Sto-Thermodübel
                    .card-material__pic
                        img(src='./images/detail/image-8@2x.png')
                    .card-material__footer Крепление с изоляционной пластиной с европейским техническим допуском для утопленного или поверхностного монтажа
                a(href='').card-material
                    .card-material__number 4
                    .card-material__header
                        h3 Армирующий состав
                        span StoArmat Classic
                    .card-material__pic
                        img(src='./images/detail/image-9@2x.png')
                    .card-material__footer Органическая готовая к применению армирующая масса с направляющим зерном.
                a(href='').card-material
                    .card-material__number 5
                    .card-material__header
                        h3 Армирующая сетка
                        span Sto-Glasfasergewebe
                    .card-material__pic
                        img(src='./images/detail/image-10@2x.png')
                    .card-material__footer Щелочеустойчивая арматурная ткань
                a(href='').card-material
                    .card-material__number 6
                    .card-material__header
                        h3 Финишное покрытие
                        span Stolit K/R/MP
                    .card-material__pic
                        img(src='./images/detail/image-11@2x.png')
                    .card-material__footer Органическая финишная штукатурка  на искусственных смолах.