.b-blog {
  margin-top: 188px;

  @include bp($bp-ipad-1024) {
    margin-top: 0;
  }
}

.b-blog__about-icon {
  position: absolute;
  top: 100px;
  right: 30px;

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-blog__header {
  padding-top: 72px;
  padding-bottom: 40px;
  background-color: #f4f5fc;

  @include bp($bp-ipad-1024) {
    padding: 120px 0 20px 15px;
  }

  h1 {
    font-family: $fontBold;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 0;
    margin-bottom: 32px;
    text-transform: uppercase;

    @include bp($bp-ipad-768) {
      margin-bottom: 18px;
      font-size: 22px;
      line-height: 1.18;
    }
  }

  p {
    //max-width: 670px;
    max-width: 790px;
    font-family: $fontNormal;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #1b1b1b;
    margin-top: 0;
    margin-bottom: 28px;

    @include bp($bp-ipad-1024) {
      max-width: none;
      margin-bottom: 0;
    }

    @include bp($bp-ipad-768) {
      font-size: 12px;
      line-height: 16px;
    }

    & > a {
      color: #55585f;
      text-decoration: underline;
    }
  }

  img {
    display: block;
    max-width: 100%;

    & + span {
      display: block;
      margin-top: 12px;
      font-family: $fontNormal;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #717171;

    }
  }
}


.b-blog__label {
  display: flex;
  margin-bottom: 40px;

  span {
    display: block;
    padding: 9px 19px 6px;
    font-family: $fontNormal;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.7px;
    text-align: center;
    color: #50505c;
    text-transform: uppercase;
    border: solid 1px rgba(0,0,0,0.2);
    margin-right: 10px;
  }
}


.b-blog__body {
  position: relative;
  padding-top: 70px;

  @include bp($bp-ipad-1024) {
    padding-top: 40px;
  }

  & > .container {
    position: relative;
  }

  .container {
    & > img {
      display: block;
      max-width: 100%;
      margin-bottom: 74px;

      @include bp($bp-ipad-1024) {
        display: none;
      }
    }
  }

  h2 {
    max-width: 790px;
    font-family: $fontBold;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -1px;
    text-align: left;
    color: #000000;
    margin-bottom: 24px;

    @include bp($bp-ipad-1024) {
      padding-left: 15px;
      margin-bottom: 20px;
    }

    @include bp($bp-ipad-768) {
      font-size: 22px;
      line-height: 1.1;
    }
  }

  p {
    max-width: 752px;
    font-family: $fontNormal;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 60px;

    @include bp($bp-ipad-1024) {
      max-width: none;
      padding-left: 15px;
      margin-bottom: 20px;
    }

    @include bp($bp-ipad-768) {
      font-size: 12px;
      line-height: 16px;
    }

    & + h2 {
      @include bp($bp-ipad-1024) {
        margin-top: 40px;
      }
    }

    a {
      color: #50505c;

      &:hover {
        text-decoration: underline;
      }
    }

    b {
      font-family: $fontBold;
      font-weight: 500;
    }
  }

  h5 {
    max-width: 820px;
    font-family: $fontBold;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 38px;

    @include bp($bp-ipad-1024) {
      padding-left: 15px;
      color: #232323;
    }

    @include bp($bp-ipad-768) {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 20px;
    }
  }

  ol {
    width: calc(100% - 222px);
    padding-left: 24px;
    max-width: 820px;

    li {
      max-width: 670px;
      position: relative;
      list-style: none;
      font-family: $fontNormal;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: -0.3px;
      text-align: left;
      color: #000000;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        position: absolute;
        top: 0;
        left: -24px;
        display: inline-block;
        text-align: center;
        font-family: $fontBold;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75;
        letter-spacing: normal;
        color: #000000;
      }
    }
    margin-bottom: 52px;
  }
}

.b-blog__divider {
  position: relative;
  max-width: 605px;
  font-family: $fontBold;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: -1px;
  text-align: left;
  color: #000000;
  padding-left: 30px;
  margin-bottom: 60px;

  @include bp($bp-ipad-1024) {
    max-width: none;
    padding-left: 15px;
    color: #484848;
    letter-spacing: 0;
  }

  @include bp($bp-ipad-768) {
    margin-bottom: 24px;
    font-family: $fontNormal;
    font-size: 14px;
    line-height: 24px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 95%;
    background-color: $yellow;
  }
}

.b-blog__slider {
  max-width: 820px;
  margin-bottom: 64px;

  &:last-child {
    margin-bottom: 0;
  }

  @include bp($bp-ipad-1024) {
    width: 100vw;
    max-width: none;
    height: 100vw;
    margin-left: -15px;
    margin-right: -15px;
  }

  .slick-arrow {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
    z-index: 20;
    padding: 0;
    cursor: pointer;
    margin: auto;
    outline: none;

    @include bp($bp-ipad-1024) {
      top: 50%;
      bottom: auto;
      margin: 0;
      background: rgba(0, 0, 0, .6);
      box-shadow: 0px 1px 7px rgba(0, 0, 0, .3);
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }

  .slick-prev {
    width: 50%;
    height: 100%;
    left: 0;
    right: auto;

    @include bp($bp-ipad-1024) {
      left: 15px;
      width: 30px;
      height: 30px;
    }


    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 40px;
      margin: auto;
      @include svg-i-arrow-left;

      @include bp($bp-ipad-1024) {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        @include svg-arrow-left--tb;
      }
    }
  }

  .slick-next {
    right: 0;
    left: auto;
    width: 50%;
    height: 100%;

    @include bp($bp-ipad-1024) {
      right: 15px;
      width: 30px;
      height: 30px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 40px;
      bottom: 0;
      margin: auto;
      transform: rotate(180deg);
      @include svg-i-arrow-left;

      @include bp($bp-ipad-1024) {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        @include svg-arrow-left--tb;
      }
    }
  }

  .slick-list,
  .slick-track,
  .slick-slide,
  .slick-slide > div {
    height: 100%;
  }
}

.b-blog__slider-item {

  @include bp($bp-ipad-1024) {
    height: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;

    @include bp($bp-ipad-1024) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  span {
    margin-top: 12px;
    display: block;
    font-family: $fontNormal;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;

    @include bp($bp-ipad-1024) {
      position: absolute;
      left: 30px;
      bottom: 30px;
      margin-top: 0;
      color: #fff;
    }

    @include bp($bp-ipad-768) {
      font-size: 12px;
      line-height: 1;
    }
  }
}

.b-blog__quote {
  max-width: 820px;
  padding: 48px 52px 45px;
  font-family: $fontNormal;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 5px 18.6px 1.4px rgba(0, 0, 0, 0.1);
  margin-bottom: 64px;
}
.b-block__right-content {
  display: flex;
  justify-content: flex-start;

  & > img {
    display: block;
    max-width: 820px;
    height: auto;
    margin-bottom: 62px;
  }

  .b-block__text {
    width: 222px;
    margin-left: 125px;
    h4 {
      font-family: $fontNormal;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: -0.5px;
      text-align: left;
      color: #717171;
      margin-bottom: 8px;
      margin-top: 0;
    }
    span {
      display: block;
      font-family: $fontNormal;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #717171;
    }
  }

  .right-content {
    margin-left: 125px;
    width: 194px;
  }

  .right-content__title {
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: -0.5px;
    text-align: left;
    color: #717171;
    margin-bottom: 22px;
  }

  .right-content__blocks {
  }

  .right-content__card {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }
    span {
      display: block;
      font-family: $fontNormal;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #717171;
      margin-top: 11px;
    }
  }
}

.b-block__footer {
  padding-top: 32px;

  h2 {
    font-family: $fontBold;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.b-block__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;
}

.b-block__card {
  width: calc(100%/4);
  max-width: 286px;
  transition: 0.3s ease all;

  &:hover {
    transform: scale(1.02);
    span {
      color: $yellow;
    }
  }

  img {
    display: block;
    max-width: 100%;
  }
  span {
    display: block;
    margin-top: 10px;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: -1px;
    text-align: left;
    color: #111111;
    transition: 0.3s ease all;
  }
}

.b-blog__paragraph {
  margin-bottom: 60px;
  p {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }

    @include bp($bp-ipad-1024) {
      margin-bottom: 15px;
    }
  }

  @include bp($bp-ipad-1024) {
    margin-bottom: 20px;
  }
}

.b-blog__paragraph--last {
  margin-bottom: 100px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 40px;
  }
}

.b-blog__price {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 252px;
}

.b-price {
  width: calc(100%/3);
  height: 38px;
  position: relative;
  font-family: $fontNormal;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 68px;
  padding: 12px 20px 12px 58px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    text-decoration: underline;
  }

  span {
    &:first-child {
      position: absolute;
      top: 0;
      left: 4px;
      width: 37px;
      height: 34px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../images/icon/xls-icon.svg');

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -2px;
        left: -4px;
        width: 22px;
        height: 30px;
        border-radius: 2px;
        background-color: $yellow;
        z-index: -1;
      }
    }
  }
}

.b-price--card {
  flex-direction: column;
  height: auto;
  align-items: flex-start;
  span {
    &:first-child {
      width: 234px;
      height: 118px;
      display: block;
      position: static;
    }
  }

  p {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.b-blog__service {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  @include bp($bp-ipad-1024) {
    display: block;
    display: none;
  }

  &--tb {
    display: none;

    @include bp($bp-ipad-1024) {
      display: block;
      padding-left: 15px;
      margin-bottom: 34px;
    }
  }
}

.b-blog__body--service {
  width: 100%;
  padding-top: 70px;
  margin-bottom: 32px;

  @include bp($bp-ipad-1024) {
    padding-top: 40px;
  }

  .b-grid__column {
    width: calc(((100% / 12) * 4) - 27px);
    display: flex;
    flex-direction: column;

    @include bp($bp-ipad-1024) {
      width: 100%;
      padding-left: 15px;
      padding-right: 0;
    }

    .card-service {
      width: 100%;
    }
  }
}

.b-blog__container-right {
  position: relative;
}

.b-blog__list-firms {
  top: 60px;
  position: absolute;
  left: calc(100% - 420px + 122px);

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-blog__list-firms-items {
  display: flex;
  align-items: center;
  margin-bottom: 56px;

  span {
    display: block;
    font-family: $fontBold;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
    margin-right: 40px;
  }

  img {
    width: 132px;
  }

}

.b-blog__list-firms-items--ardex {
  span {
    margin-right: 32px;
  }
  img {
    width: 86px;
  }
}

.b-blog__bg-ligh-blue {
  position: relative;
  padding-top: 62px;
  margin-bottom: 64px;

  @include bp($bp-ipad-1024) {
    padding: 24px 0 24px 15px;
    margin-bottom: 0;
  }

  h2 {
    padding-top: 16px;
    line-height: 1;
    margin-bottom: 28px;

    @include bp($bp-ipad-1024) {
      padding-top: 0;
    }

    @include bp($bp-ipad-768) {
      line-height: 1.1;
      margin-bottom: 20px;
    }
  }
  & > p {
    padding: 0px 0 61px;
    margin: 0;

    @include bp($bp-ipad-1024) {
      // padding-bottom: 24px;
      padding-bottom: 0;
      color: #484848;
    }

    @include bp($bp-ipad-768) {
      line-height: 16px;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3500px;
    margin-left: -1000px;
    height: 100%;
    z-index: -1;
    background-color: #f4f5fc;
  }

  .b-blog__list-firms {
    top: 64px;
  }
}

.b-blog__bg-ligh-blue--large {
  margin-top: 108px;
  margin-bottom: 0;

  @include bp($bp-ipad-1024) {
    padding: 36px 0 26px;
    margin: 0 0 36px;
  }

  @include bp($bp-ipad-768) {
    margin: 0 0 22px;
  }

  .b-blog__list-firms {
    top: 281px;
  }
  h2 {
    @include bp($bp-ipad-1024) {
      color: #232323;
    }

    @include bp($bp-ipad-768) {

    }
  }

  @include bp($bp-ipad-1024) {
    .b-blog__desc {
      h3 {

      }
      p {
        line-height: 16px;
        color: #484848;
      }
    }
  }

  @include bp($bp-ipad-768) {
    .b-blog__desc {
      h3 {
        margin-bottom: 10px;
      }
    }
  }

  & > p {

    @include bp($bp-ipad-1024) {
      display: none;
    }
  }

  .b-blog__slider {

    @include bp($bp-ipad-1024) {
      display: none;
    }
  }

  .desc {
    font-family: $fontBold;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #717171;
  }
}

.b-blog__block-yellow {
  max-width: 820px;
  width: 100%;
  margin-bottom: 64px;
  background-color: $yellow;
  padding-left: 50px;
  padding-top: 65px;
  padding-bottom: 56px;
  padding-right: 195px;
  box-shadow: 0px 5px 18.6px 1.4px rgba(0, 0, 0, 0.1);

  @include bp($bp-ipad-1024) {
    width: 100vw;
    max-width: none;
    margin-left: -15px;
    margin-right: -15px;
    padding: 24px 20px 24px 30px;
    margin-bottom: 24px;
  }

  h3 {
    font-family: $fontBold;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 20px;

    @include bp($bp-ipad-768) {
      margin-bottom: 14px;
      font-size: 18px;
      line-height: 20px;
    }
  }
  p {
    margin: 0;

    @include bp($bp-ipad-1024) {
      padding-left: 0;
    }
  }
}

.b-blog__block-yellow--long {
  padding-right: 52px;

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-blog__right-img {
  img {
    display: block;
    width: 296px;
  }
  span {
    display: block;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
    margin-top: 20px;
  }
}

.b-blog__list-city {
  position: relative;
  display: flex;
  padding-bottom: 280px;
  margin-bottom: 64px;

  @include bp($bp-ipad-1024) {
    padding: 0 0 0 15px;
    margin-bottom: 24px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 96px;

    &:last-child {
      margin-right: 0;
    }

    @include bp($bp-ipad-768) {
      flex: none;
      margin-right: 20px;
    }

    li {
      font-family: $fontNormal;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: normal;
      text-align: left;
      color: #282828;

      @include bp($bp-ipad-768) {
        font-size: 8px;
        line-height: 1.75;
      }
    }
  }
}

.b-blog__city-map {
  position: absolute;
  left: -22px;
  bottom: 0;
  width: 1223px;
  height: 730px;
  background-size: contain;
  z-index: -1;
  background-image: url("../images/company/invalid_name@2x.png");

  @include bp($bp-ipad-1024) {
    left: 0;
    width: 100vw;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.b-blog__section {
  position: relative;
  margin-top: 40px;
  padding-top: 70px;

  @include bp($bp-ipad-1024) {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 48px;
  }

  h2 {
    margin-bottom: 46px;

    @include bp($bp-ipad-1024) {
      padding: 0px 15px;
    }

    @include bp($bp-ipad-768) {
      margin-bottom: 24px;
    }
  }
  h3 {
    font-family: $fontBold;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 0;
    margin-bottom: 26px;

    @include bp($bp-ipad-1024) {
      display: none;
    }
  }

  .b-blog__list-firms {
    top: 155px;

    @include bp($bp-ipad-1024) {
      position: static;
      display: block;
      padding: 0 0 0 15px;
    }
  }

  & > img {

    @include bp($bp-ipad-1024) {
      display: none;
    }
  }
}

.b-blog__section--top-right {

  .b-blog__list-firms {
    top: 196px;
  }
}

.b-blog__two-img {

  @include bp($bp-ipad-1024) {
    display: none;
  }

  div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 307px;

    img {
      &:first-child {
        width: calc(34% - 19px);
      }
      &:last-child {
        width: 66%;
      }
    }
  }

  span {
    max-width: 654px;
    display: block;
    margin-top: 14px;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
  }
}

.b-blog__slash {
  margin-bottom: 46px;
  display: flex;

  @include bp($bp-ipad-1024) {
    display: none;
  }
}


.b-blog__slash-item {
  font-family: $fontNormal;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  &:after {
    content: '/';
    color: #b5b5b5;
    margin: 0 14px;
  }

  &:last-child {
    &:after {
      content: '';
    }
  }
}

.b-blog__two-p {
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }

  @include bp($bp-ipad-1024) {
    display: none;
  }

  p {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .b-blog__desc & {

    @include bp($bp-ipad-1024) {
      display: block;
    }

    @include bp($bp-ipad-768) {
      margin-bottom: 0;
    }
  }
}

.b-blog__company {
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  @include bp($bp-ipad-1024) {
    margin-bottom: 48px;
  }

  @include bp($bp-ipad-768) {
    margin-bottom: 39px;
  }
}

.b-blog__right-logo {
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 14px;
  }

  img {

    @include bp($bp-ipad-1024) {
      max-width: 100%;
    }
  }

  &--stroeher {
    @include bp($bp-ipad-1024) {
      width: 88px;
    }
  }
  &--sto {
    @include bp($bp-ipad-1024) {
      width: 98px;
    }
  }
  &--ardex {
    @include bp($bp-ipad-1024) {
      width: 38px;
    }
  }
  &--qm {
    @include bp($bp-ipad-1024) {
      width: 94px;
    }
  }
  &--kerawil {
    @include bp($bp-ipad-1024) {
      width: 72px;
      order: 1;
    }
  }
  &--s-anselmo {
    @include bp($bp-ipad-1024) {
      width: 72px;
    }
  }
}

.b-blog__right-text {
  font-family: $fontNormal;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #454545;
  margin-bottom: 32px;

  @include bp($bp-ipad-768) {
    font-size: 11px;
    line-height: 1.1;
  }
}

.b-blog__right-text--first {
  margin-bottom: 98px;

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-blog__right-link {
  display: block;
  font-family: $fontNormal;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #454545;
  text-decoration: none;
  outline: none;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  span {
    display: inline-block;
    border-bottom: 1px dashed #000;
    margin-bottom: 4px;
  }
}

.b-blog__single-img {
  @include bp($bp-ipad-1024) {
    display: none;
  }

  img {
    display: block;
    max-width: 1240px;
    width: 100%;
    height: auto;
  }
  span {
    display: block;
    max-width: 357px;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
    margin-top: 16px;
  }
}

.b-blog__desc {
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @include bp($bp-ipad-1024) {
    margin-bottom: 60px;
  }

  @include bp($bp-ipad-768) {
    margin-bottom: 20px;
  }

  h3 {
    font-family: $fontBold;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 18px;

    @include bp($bp-ipad-1024) {
      padding-left: 15px;
    }

    @include bp($bp-ipad-768) {
      font-size: 18px;
      line-height: 1.1;
    }
  }

  &:last-child {
    padding-bottom: 64px;

    @include bp($bp-ipad-1024) {
      padding-bottom: 0;
    }
  }

  p {

    @include bp($bp-ipad-1024) {
      margin-bottom: 0;
      padding-left: 15px;
    }
  }
}

.b-blog__two-p {

  p {

    @include bp($bp-ipad-768) {
      margin-bottom: 6px;
    }
  }
}

.b-blog__client {
  position: relative;
  padding-top: 70px;
  padding-bottom: 68px;
  text-align: center;

  @include bp($bp-ipad-1024) {
    padding: 0;
    margin-bottom: 30px;
  }

  button {
    display: none;
    margin-top: 20px;
    position: relative;
    z-index: 5;

    @include bp($bp-ipad-1024) {
      margin-top: 15px;
      display: inline-block;
    }
  }
  h2 {
    position: relative;
    line-height: 1;
    margin-bottom: 0;
    z-index: 5;
  }
}

.b-blog__client-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;

  @include bp($bp-ipad-768) {
    margin-bottom: 14px;
  }

  a {
    display: block;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
    text-decoration: none;
    outline: none;
    border-bottom: 1px dashed #000;
    cursor: pointer;

    @include bp($bp-ipad-1024) {
      display: none;
    }
  }
}

.b-blog__client-lisr {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin-left: -10px;
  z-index: 5;

  @include bp($bp-ipad-1024) {
    align-items: stretch;
    width: calc(100% + 10px);
    padding: 15px;
    margin-left: -5px;
  }

  @include bp($bp-640) {
    padding: 0;
  }

  &.b-blog__client--active-6 {
    .b-blog__client-card {
      &:nth-child(-n+12) {
        display: flex;
      }
    }
  }

  &.b-blog__client--active-4 {
    .b-blog__client-card {
      &:nth-child(-n+16) {
        display: flex;
      }
    }
  }
}

.b-blog__client-card {
  margin: 0 10px 19px;
  width: calc(100%/4 - 20px);
  position: relative;
  padding-top: 30px;
  padding-left: 20px;
  background-color: #ffffff;
  border: solid 1px #e7e7e7;
  height: 300px;
  transition: 0.3s ease all;

  @include bp($bp-ipad-1024) {
    width: calc(100% / 2 - 10px);
    height: auto;
    padding: 14px 14px 19px;
    margin: 0 5px 10px;
    flex-direction: column;
    display: none;

    &:nth-child(-n+6) {
      display: flex;
    }
  }

  &:hover {
    box-shadow: 0px 10px 16.9px 1.1px rgba(0, 0, 0, 0.05);
    transform: translateY(-4px);
  }

  h4 {
    font-family: $fontBold;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin: 0 0 2px;

    @include bp($bp-ipad-768) {
      margin-bottom: 6px;
      font-size: 12px;
      line-height: 1;
    }
  }
  .subtitle {
    font-family: $fontNormal;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 10px;
  }

  .bottom {
    position: absolute;
    left: 20px;
    bottom: 16px;
    font-family: $fontNormal;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }

  .square {
    font-family: $fontNormal;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    @include bp($bp-ipad-768) {
      margin-bottom: 20px;
      font-size: 9px;
      line-height: 1.2;
    }
  }

  img {
    position: absolute;
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    max-height: 130px;

    @include bp($bp-ipad-1024) {
      margin-top: auto;
      margin-bottom: 0;
      position: static;
      max-width: 100%;
      transform: none;
      cursor: auto;
    }

    @include bp($bp-640) {
      max-height: 77px;
    }
  }
}
.b-blog__requisites {
  position: relative;
  z-index: 5;
  padding-top: 156px;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  & > h2 {
    margin-bottom: 25px;
  }
  & > p {
    padding: 0;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;

    margin-bottom: 30px;
  }
}

.b-blog__requisites-list {
  display: flex;

}

.b-blog__requisites-item {

  margin-right: 130px;

  &:last-child {
    margin-right: 0;
  }

  p {
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  b {
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    font-family: $fontBold;
    font-weight: 500;
  }
}

.b-block__contacts {
  background-color: #f4f5fc;
  padding-bottom: 68px;

  @include bp($bp-ipad-1024) {
    padding: 15px 0 30px;
  }

  h2 {
    font-family: $fontBold;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 0;
    padding-top: 42px;
    margin-bottom: 40px;
  }
}

.b-block__contacts-slider {
  position: absolute;
  top: 90px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  .select-city {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }


  .select-city__region {
    margin-bottom: 32px;
    p {
      font-family: 'LetoSans';
      display: block;
      font-weight: bold;
      font-size: 12px;
      line-height: 1;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 12px;
    }

  }



  .select-city__item {
    display: block;
    font-family: 'LetoSans';
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    padding: 7px 0;
    color: #fff;

    &:after {
      display: none;
    }

    &.active {
      span {
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: $yellow;
        }
      }
    }
  }
}

.b-block__map {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 81px;
  padding-left: 318px;
  padding-bottom: 80px;

  @include bp($bp-ipad-1024) {
    padding-top: 27px;
    padding-left: 0;
  }
  @include bp($bp-ipad-768) {
    padding-bottom: 37px;
  }

  h3 {
    font-family: 'LetoSans';
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 0;
    margin-bottom: 16px;
  }
}

.b-block__map-city {
  font-family: 'LetoSans';
  font-style: normal;
  font-weight: bold;
  line-height: 64px;
  font-size: 56px;
  letter-spacing: 0.04em;
  color: #fff;

  @include bp($bp-ipad-1024) {
    color: #000;
  }
}

.b-block__map-center {
  margin-top: 30px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 38px;

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-block__map-center--mobile {
  display: none;
  @include bp($bp-ipad-1024) {
    display: block;
    margin-left: 15px;
    margin-top: 16px;
    margin-bottom: 19px;
  }

  .b-block__map-phone {
    font-family: 'LetoSans';
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #484848;
    margin-bottom: 5px;
    @include bp($bp-ipad-768) {
      font-size: 12px;
    }
  }
  .b-block__map-email {
    font-family: 'LetoSans';
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #484848;
    margin: 0;
    text-decoration: none;
    @include bp($bp-ipad-768) {
      font-size: 12px;
    }
  }
}

.b-block__map-mobile-con {
  display: flex;
  & > span {
    font-family: 'LetoSans';
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #484848;
    margin-right: 3px;

    @include bp($bp-ipad-768) {
      font-size: 12px;
    }
  }
}

.b-block__map-phone {
  line-height: 30px;
  font-family: 'LetoSans';
  font-size: 30px;
  letter-spacing: 0.04em;
  color: #fff;
  font-weight: bold;

  @include bp($bp-ipad-1024) {
    color: #000;
    font-size: 20px;
    line-height: 20px;
  }
}

.b-block__map-top {
  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-block__map-top--mobile {
  display: none;
  @include bp($bp-ipad-1024) {
    display: block;
    margin-left: 15px;
  }

  .b-block__map-city {
    @include bp($bp-ipad-1024) {
      font-size: 16px;
      line-height: 16px;
    }

    @include bp($bp-ipad-768) {
      font-size: 12px;
      line-height: 12px;
    }

    color: #232323;
    margin-top: 18px;
    margin-bottom: 12px;
  }
}

.b-block__map-email {
  font-weight: bold;
  line-height: 12px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
  margin-left: 40px;
  margin-bottom: 4px;

  @include bp($bp-ipad-1024) {
    color: #000;
  }
}

.b-block__map-left {
  width: 615px;
  position: relative;

  @include bp($bp-ipad-1024) {
    width: 100%;
  }

  h3 {
    font-family: 'LetoSans';
    position: absolute;
    top: 15px;
    left: 0;
    padding: 4px 25px;
    background: rgba(35, 38, 43, 0.6);
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.04em;
    z-index: 100;
    color: #FFFFFF;
    margin: 0;

    @include bp($bp-ipad-1024) {
      position: static;
      font-size: 18px;
      line-height: 20px;
      color: #232323;
      background: transparent;
      padding: 0;
      margin-left: 15px;
      margin-bottom: 15px;
    }
  }
}

.b-block__map-right {
  margin-top: 34px;
  width: 615px;
  position: relative;

  @include bp($bp-ipad-1024) {
    margin-top: 10px;
    width: 100%;
  }

  h3 {
    font-family: 'LetoSans';
    position: absolute;
    top: 15px;
    left: 0;
    padding: 4px 25px;
    background: rgba(35, 38, 43, 0.6);
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.04em;
    z-index: 100;

    color: #FFFFFF;
    margin: 0;

    @include bp($bp-ipad-1024) {
      position: static;
      font-size: 18px;
      line-height: 20px;
      color: #232323;
      background: transparent;
      padding: 0;
      margin-left: 15px;
      margin-bottom: 15px;
    }
  }
}

.b-block__map-contacts {
  min-height: 40px;
  margin-top: 22px;

  @include bp($bp-ipad-1024) {
    margin-top: 12px;
    min-height: auto;
    margin-left: 15px;
  }

  & > div {
    font-family: 'LetoSans';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-bottom: 10px;

    @include bp($bp-ipad-1024) {
      font-weight: normal;
      font-size: 14px;
      color:  #484848;
    }

    @include bp($bp-ipad-768) {
      font-size: 12px;
      line-height: 16px;
    }

    a {
      color: #fff;

      @include bp($bp-ipad-1024) {
        color: #7A7A7A;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a[data-coord_map] {
    font-family: 'LetoSans';
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 10px;

    @include bp($bp-ipad-1024) {
      margin-top: 9px;
      color: #7A7A7A;
      display: block;
      margin-left: 0;
      font-weight: normal;
      text-decoration: none;
    }

    @include bp($bp-ipad-768) {

      font-size: 10px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  h4 {
    font-family: 'LetoSans';
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    font-size: 12px;
    letter-spacing: 0.04em;

    color: rgba(255, 255, 255, 0.5);
    margin-top: 0;
    margin-bottom: 10px;
  }

  span {
    font-family: 'LetoSans';
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    font-size: 16px;
    letter-spacing: -0.7px;

    color: #FFFFFF;
    margin-bottom: 18px;

    @include bp($bp-ipad-1024) {
      font-weight: normal;
      font-size: 14px;
      color:  #484848;
    }

    @include bp($bp-ipad-768) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  a[href^="mailto:"] {
    font-family: 'LetoSans';
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    font-size: 12px;
    letter-spacing: 0.04em;

    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
    margin-left: 15px;
  }
}



.b-blog__pay-icon {
  display: flex;

  @include bp($bp-ipad-1024) {
    margin-top: -5px;
    align-items: baseline;
    margin-bottom: 12px;
  }
}


.b-blog--company {
  margin-top: 0;

  .b-blog__body {
    @include bp($bp-ipad-768) {
      padding-top: 10px;
    }
  }

}

.b-blog__pay-icon {
  margin-bottom: 95px;

  @include bp($bp-ipad-1024) {
    padding-left: 15px;
    margin-bottom: 20px;
  }
}

.b-blog__pay-icon-item {
  margin-right: 60px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }

  @include bp($bp-ipad-1024) {
    margin-right: 22px;
    display: block;
  }


  span {
    max-width: 130px;
    margin-top: 3px;
    margin-left: 20px;
    font-family: $fontNormal;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    @include bp($bp-ipad-1024) {
      max-width: none;
      margin-left: 0;
    }

    @include bp($bp-ipad-768) {
      font-size: 9px;
      line-height: 12px;
      color: #484848;
      display: block;
      margin-top: 16px;
    }
  }

  .icon-wallet {
    position: relative;
    width: 37px;
    height: 37px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/icon/icon-wallet.png');
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: -7px;
      bottom: -7px;
      width: 35px;
      height: 32px;
      border-radius: 2px;
      background-color: #e3de03;
      z-index: -1;

      @include bp($bp-ipad-768) {
        width: 26px;
        height: 26px;
      }
    }

    @include bp($bp-ipad-1024) {
      margin-left: 7px;
      margin-bottom: 10px;
    }

    @include bp($bp-ipad-768) {
      width: 32px;
      height: 32px;
    }
  }

  .icon-card {
    position: relative;
    width: 54px;
    height: 34px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/icon/icon-card.png');
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: -7px;
      bottom: -7px;
      width: 35px;
      height: 32px;
      border-radius: 2px;
      background-color: #e3de03;
      z-index: -1;

      @include bp($bp-ipad-768) {
        width: 26px;
        height: 26px;
      }
    }

    @include bp($bp-ipad-1024) {
      margin-left: 7px;
      margin-bottom: 10px;
    }

    @include bp($bp-ipad-768) {
      width: 42px;
      height: 26px;
    }
  }

  .icon-bank {
    position: relative;
    width: 38px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/icon/icon-bank.png');
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: -7px;
      bottom: -7px;
      width: 35px;
      height: 32px;
      border-radius: 2px;
      background-color: #e3de03;
      z-index: -1;
      @include bp($bp-ipad-768) {
        width: 26px;
        height: 26px;
      }
    }

    @include bp($bp-ipad-1024) {
      margin-left: 7px;
      margin-bottom: 10px;
    }

    @include bp($bp-ipad-768) {
      width: 29px;
      height: 29px;
    }
  }
}

.b-blog__right-buy {
  width: 280px;
  top: 130px;
  position: absolute;
  left: calc(100% - 400px);

  @include bp($bp-ipad-1024) {
    display: none;
  }
}
.b-blog__right-buy-item {
  span {
    display: block;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #454545;

    &:last-child {
      margin-top: 30px;
    }
  }
  a {
    display: block;
    font-family: $fontBold;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
    margin-top: 10px;
    margin-bottom: 18px;
  }

  &:first-child {
    margin-bottom: 254px;
  }

}

.b-blog__right-buy-icon {
  margin-top: 184px;
  width: 295px;
  height: 229px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: rgba(145, 145, 145, 0.7);

  }
}

.b-blog__price-tab {
  display: flex;
  border-bottom: 7px solid #edeef4;
}

.b-blog__price-tab-item {
  position: relative;
  font-family: $fontBold;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  text-align: left;
  color: #000000;
  margin-right: 38px;
  padding-bottom: 24px;
  cursor: pointer;

  &.active {
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 7px;
      background-color: #e3de03;;
      position: absolute;
      left: 0;
      bottom: -7px;
    }
  }
}

.b-blog__price-content {
  padding-top: 84px;

  & > div {
    display: none;

    &.active {
      display: flex;
    }
  }
}

#map-left {
  width: 100%;
  max-width: 615px;
  height: 294px;
  @include bp($bp-ipad-1024) {
    max-width: 100%;
  }

  @include bp($bp-ipad-768) {
    height: 180px;
  }
}

#map-right {
  width: 100%;
  max-width: 615px;
  height: 294px;
  @include bp($bp-ipad-1024) {
    max-width: 100%;
  }

  @include bp($bp-ipad-768) {
    height: 180px;
  }
}

.b-blog__show-rooms {
  display: none;

  @include bp($bp-ipad-1024) {
    display: block;
    margin-bottom: 36px;
  }
}

.b-blog__show-rooms p {

  @include bp($bp-ipad-768) {
    margin-bottom: 24px;
  }
}

.b-blog__note {

  &--tb {
    display: none;

    &:last-child {
      margin-bottom: 0;
    }

    @include bp($bp-ipad-1024) {
      font-family: $fontThin;
      display: block;
      padding-left: 15px;
      margin-bottom: 30px;
      font-size: 9px;
      line-height: 12px;
      color: #484848;
    }
  }
}

.b-block__contacts h2 {
  font-family: "LetoSans-Bold";
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-top: 0;
  padding-top: 42px;
  margin-bottom: 40px;
}

.b-block__mobile-select {
  display: none;

  @include bp($bp-ipad-1024) {
    position: relative;
    display: block;
    background: #FFFFFF;
    height: 42px;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 20px;
      bottom: 0;
      margin: auto;
      @include svg-arrow-dropdown--black;
      transform: rotate(90deg);
    }

    select {
      font-family: "LetoSans";
      font-size: 12px;
      line-height: 42px;
      padding-left: 15px;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}

.b-block__copy {
  width: 234px;
  position: absolute;
  bottom: 140px;
  left: 20px;

  @include bp($bp-ipad-1024) {
    display: none;
  }

   p {
     font-family: 'LetoSans';
     font-style: normal;
     letter-spacing: .04em;
     margin: 0;
     color: #fff;
     font-weight: 700;
     font-size: 16px;
     line-height: normal;
   }

  a {
    font-family: 'LetoSans';
    font-style: normal;
    letter-spacing: .04em;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    color: rgba(255,255,255,.5);
  }
}

.b-blog__contacts {
  display: none;
  background: #F4F5FC;
  padding-top: 15px;

  @include bp($bp-ipad-1024) {
    display: block;
  }
}

.b-blog__paragraph-desk {

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-blog__paragraph-tb {

  @include bp($bp-ipad-1024) {
    display: block;
  }
}

.b-blog__body--v2 {
  @include bp($bp-ipad-1024) {
    padding-top: 36px;
  }

  h2 {
    @include bp($bp-ipad-1024) {
      line-height: 24px;
      color: #232323;
      margin-bottom: 9px;
    }
  }

  p {
    @include bp($bp-ipad-1024) {
      color: #484848;
    }

    @include bp($bp-ipad-768) {
      line-height: 16px;

      &.mobile-margin-buy {
        margin-bottom: 28px;
      }
    }
  }
}
