.b-breadcrumbs {
  display: flex;
  margin-bottom: 22px;
  text-shadow:  1px 1px 2px black, 0 0 1em black;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  a {
    display: flex;
    align-self: center;
    font-family: $fontNormal;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #eaeaea;

    &:not(:first-child) {
      margin-left: 6px;
    }

    &:after {
      content: '/';
      padding-left: 6px;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }
  span {
    display: flex;
    align-self: center;
    font-family: $fontNormal;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #eaeaea;

    &:not(:first-child) {
      margin-left: 6px;
    }

    &:after {
      content: '/';
      padding-left: 6px;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

.b-breadcrumbs-detail {
  display: flex;
  margin-bottom: 43px;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  a {
    font-family: $fontNormal;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #c4c4c4;

    &:hover {
      text-decoration: underline;
    }

    &:not(:first-child) {
      margin-left: 15px;
    }

    &:after {
      content: '>';
      padding-left: 15px;
    }

    &:last-child {
      color: #7b7b7b;
      pointer-events: none;

      &:hover {
        text-decoration: none;
      }

      &:after {
        content: '';
      }
    }
  }
}


