.b-certificates-slider {
    display: none;

    &:last-child {
        margin-bottom: 0;
    }

    @include bp($bp-ipad-1024) {
        display: block;
        padding: 0 7.5px;
        margin-bottom: 30px;
    }
}

.b-certificates-slider__item {
    padding: 7.5px;
}

.b-certificates-slider img {
    max-width: 100%;
    border: 3px solid #E6DF00;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, .15);
}

.b-certificates-slider .slick-arrow,
.custom-mfp-cerfs .mfp-arrow {
    position: absolute;
    top: 50%;
    z-index: 20;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
    background: rgba(0, 0, 0, .6);
    box-shadow: 0px 1px 7px rgba(0, 0, 0, .3);
    border-radius: 50%;
    font-size: 0;
    transform: translateY(-50%);

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        content: '';
        @include svg-arrow-left--tb;
    }
}

.b-certificates-slider .slick-prev {
    left: 0;
}

.b-certificates-slider .slick-next {
    right: 0;

    &:after {
        transform: rotate(180deg);
    }
}

.custom-mfp-cerfs .mfp-container {
    padding: 0 30px !important;
}

.custom-mfp-cerfs .mfp-arrow {
    z-index: 1050;

    &-left {
        left: 15px;
    }

    &-right {
        right: 15px;
        transform-origin: 50% 50%;
        transform: rotate(180deg);
    }

    &:before {
        content: none;
    }

    &:after {
        border: none;
    }
}

.custom-mfp-cerfs.mfp-gallery .mfp-image-holder img.mfp-img {
    max-height: none !important;
    padding: 44px 0;
}

.custom-mfp-cerfs .mfp-figure {

    &:after {
        display: none;
    }
}

.custom-mfp-cerfs .mfp-close {
    top: 0;
    right: 0;
    padding: 0;
}

