.b-content {
  padding-top: 40px;
  margin-bottom: 60px;

  @include bp($bp-ipad-1024) {
    padding-top: 0;
    margin-bottom: 30px;
  }
}

.b-content__wrap {
  display: flex;
  justify-content: space-between;

  @include bp($bp-ipad-1024) {
    display: block;
  }
}

.b-content__column {

}

.b-content-left {

  @include bp($bp-ipad-1024) {
    margin-bottom: 20px;
  }

  h2 {
    font-family: $fontBold;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: $yellow;
    margin-bottom: 55px;
    text-transform: uppercase;

    @include bp($bp-ipad-1024) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 15px;
      padding-left: 15px;
      padding-bottom: 24px;
      margin-bottom: 0;
      border-bottom: 1px solid #EBEBEB;
      color: #232323;
      font-size: 18px;
      line-height: 1.1;
      text-transform: none;
    }

    &:after {

      @include bp($bp-ipad-1024) {
        flex: none;
        display: block;
        content: '';
        @include svg-arrow-down-black;
        transform: rotate(-90deg);
        transition:  transform .3s ease-in-out
      }
    }
  }
}

.b-content-left.open h2 {

  &:after {
    @include bp($bp-ipad-1024) {
      transform: rotate(0);
    }
  }
}



.b-content-right {
  position: relative;
  text-align: center;

  @include bp($bp-ipad-1024) {
    text-align: center;
  }

  .btn {
    display: none;
    margin-top: 40px;

    @include bp($bp-ipad-1024) {
      display: inline-block;
      margin-top: 30px;
    }
  }
}

.b-content__column--4 {
  width: grid-width(4);

  @include bp($bp-ipad-1024) {
    width: 100%;
  }
}

.b-content__column--8 {
  width: grid-width(8);

  @include bp($bp-ipad-1024) {
    width: 100%;
  }
}
