.b-detail {
  margin-top: 188px;
  width: 100%;

  @include bp($bp-ipad-1024) {
    margin-top: 120px;
  }

  .b-breadcrumbs {
    a {
      color: #000000;
    }

    &+h1 {
      margin-bottom: 0;
    }
  }
}

.b-detail__top-title {
  width: 100%;
  //background-color: #f4f5fc;
  padding-top: 64px;
  padding-bottom: 72px;
  margin-bottom: 42px;

  span {
    display: block;
    font-family: $fontNormal;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 26px;
  }

  h1 {
    font-family: $fontBold;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 27px;
    text-transform: uppercase;

    @include bp($bp-ipad-768) {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 1.18;
    }
  }

  p {
    max-width: 640px;
    font-family: $fontNormal;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: #000000;
    margin-bottom: 0;

    @include bp($bp-ipad-768) {
      font-size: 12px;
      line-height: 16px;
      color: #484848;
      letter-spacing: 0;
    }
  }
}

.b-detail__top-title--list {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 56px;

  @include bp($bp-ipad-1024) {
    padding: 120px 0 20px 15px;
    margin-top: -120px;
    margin-bottom: 30px;
  }
  p {
    max-width: 100%;

    @include bp($bp-ipad-1024) {
      letter-spacing: 0;
    }
  }
}
.b-detail__system-list {
  position: relative;
}
.b-detail__system-list-aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 391px;
  font-family: $fontNormal;
  line-height: 28px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.01em;

  color: #000000;

  @include bp($bp-ipad-1024) {
    position: static;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 30px;
    color: #484848;
    font-weight: normal;
  }

  @include bp($bp-ipad-768) {
    font-size: 12px;
    line-height: 16px;
  }
}

.b-detail__system-list-content {
  padding-left: 421px;
  margin-bottom: 80px;

  @include bp($bp-ipad-1024) {
    padding-left: 0;
    margin-bottom: 33px;
  }
}

.b-detail__system-list-top {

  & > h2 {
    font-family: $fontNormal;
    line-height: 28px;
    font-weight: normal;
    font-size: 20px;

    color: #000000;
    margin-bottom: 21px;

    @include bp($bp-ipad-1024) {
      display: none;
    }
  }

  & > ul {
    padding-left: 0;
    margin-bottom: 84px;
    list-style: none;

    @include bp($bp-ipad-1024) {
      display: none;
    }

    li {
      font-family: $fontNormal;
      line-height: 16px;
      font-size: 16px;

      color: #5C5C5C;

      &:not(:first-child) {
        margin-top: 17px;
      }

      a{
      color: #5C5C5C;
      }
    }
  }
}

.b-detail__system-list-all {
  h3 {
    font-family: $fontBold;
    font-weight: normal;
    line-height: 40px;
    font-size: 36px;

    color: #000000;
    margin-bottom: 34px;

    @include bp($bp-ipad-768) {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  h4 {
    font-family: $fontNormal;
    line-height: 28px;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
    margin-left: 8px;
    margin-bottom: 13px;

    @include bp($bp-ipad-1024) {
      margin-left: 0;
    }

    @include bp($bp-ipad-768) {
      margin-bottom: 16px;
      font-size: 12px;
      line-height: 16px;
    }
  }
  margin-top: 74px;
  padding-right: 40px;

  @include bp($bp-ipad-1024) {
    margin-top: 0;
    padding-right: 0;
  }
  ul {
    margin-left: 8px;
    padding-left: 0;
    margin-bottom: 26px;
    list-style: none;

    @include bp($bp-ipad-1024) {
      margin-left: 0;
      margin-bottom: 16px;
    }

    li {
      position: relative;
      padding-left: 26px;
      font-family: $fontNormal;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 30px;
      color: #5C5C5C;
      letter-spacing: 0.01em;
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }

      @include bp($bp-ipad-1024) {
        padding-left: 18px;
      }

      @include bp($bp-ipad-768) {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 16px;
      }

      a {
       color: #5C5C5C;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        width: 10px;
        height: 10px;
        opacity: 0.7;
        border: solid 1px #000000;
        border-radius: 50%;

        @include bp($bp-ipad-1024) {
          top: 0;
          bottom: 0;
          width: 4px;
          height: 4px;
          margin: auto 0;
          background: #7A7A7A;
          border: none;
          opacity: 1;

        }
      }
    }
  }

  ul + h3 {
    margin-top: 35px;
  }

}

.b-detail__system-list-all--mobile {
  display: none;

  @include bp($bp-ipad-1024) {
    display: block;

    h3 {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 16px;

      &:after {
        margin-left: 40px!important;
      }
    }
  }

  .b-detail__system-list-subdropdown {
    padding-left: 0;
    margin-bottom: 24px;
  }
  .b-detail__system-scheme-list {
    padding-left: 0;
    margin: 0;
  }

  .b-detail__system-scheme-text-wrap {
    p {
      font-family: 'LetoSans';
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 5px;
      color: #484848;

      @include bp($bp-ipad-768) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .b-detail__system-scheme-list ul li:after {

  }
}



.b-detail__top-title-system {
  margin-bottom: 50px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 20px;
  }

  h1 {
    font-family: $fontBold;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 42px;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 17px;
    text-transform: uppercase;

    @include bp($bp-ipad-1024) {
      padding-left: 15px;
    }

    @include bp($bp-ipad-768) {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 1.18;
    }
  }

  p {
    font-family: $fontNormal;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: #000000;
    margin-bottom: 0;

    @include bp($bp-ipad-1024) {
      padding-left: 15px;
      letter-spacing: 0;
    }

    @include bp($bp-ipad-768) {
      font-size: 12px;
      line-height: 12px;
    }
  }
}

.b-detail__system-top {
  display: flex;
  margin-bottom: 60px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 30px;
  }
}

.b-detail__system-scheme-list {
  margin-top: 74px;
  padding-right: 40px;

  @include bp($bp-ipad-1024) {
    padding-left: 15px;
    padding-right: 0;
    margin-top: 30px;
    margin-bottom: 36px;
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 26px;
      font-family: $fontNormal;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 30px;
      color: #000;
      letter-spacing: 0.01em;

      @include bp($bp-ipad-1024) {
        padding-left: 15px;
      }

      @include bp($bp-ipad-768) {
        margin-bottom: 14px;
        font-size: 12px;
        line-height: 1;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        width: 10px;
        height: 10px;
        opacity: 0.7;
        border: solid 1px #000000;
        border-radius: 50%;

        @include bp($bp-ipad-1024) {
          top: 0;
          bottom: 0;
          left: 0;
          width: 4px;
          height: 4px;
          margin: auto 0;
          background: #232323;
          border: none;
        }
      }
    }
  }


}

.b-detail__system-scheme-text {
  margin-top: 62px;

  @include bp($bp-ipad-1024) {
    margin-top: 0;
    display: none;
  }

  @include bp($bp-ipad-768) {

  }

  p {
    font-family: $fontNormal;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: normal;
    color: #5c5c5c;
    margin-bottom: 0;

    @include bp($bp-ipad-1024) {
      padding-left: 15px;
    }

    @include bp($bp-ipad-768) {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.b-detail__system-scheme-text-wrap {
  margin-bottom: 28px;

  @include bp($bp-ipad-768) {
    margin-bottom: 12px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.b-detail__system-scheme {
  margin-bottom: 95px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 34px;
  }

  h2 {
    font-family: $fontBold;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 33px;
  }
}

.b-detail__system-scheme-block {
  display: flex;

  @include bp($bp-ipad-1024) {
    flex-direction: column-reverse;
  }
}
.b-detail__system-scheme-img {
  width: calc(100% - 420px);

  @include bp($bp-ipad-1024) {
    width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;

    @include bp($bp-ipad-1024) {
      display: none;
    }
  }
}
.b-detail-desc--system {
  ol {
    padding-left: 25px;
    margin-bottom: 0;

    & > li {
      font-family: $fontNormal;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 28px;
      letter-spacing: normal;
      color: #000;
      margin-bottom: 28px;
    }
  }
  ul {
    margin-left: -22px;
    margin-top: 14px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 26px;
      font-family: $fontNormal;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      color: #5c5c5c;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        width: 10px;
        height: 10px;
        opacity: 0.7;
        border: solid 1px #000000;
        border-radius: 50%;
      }
    }
  }
}
.b-detail__system-scheme-left {
  width: 420px;
  margin-right: 50px;

  @include bp($bp-ipad-1024) {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-right: 0;
  }

  img {
    display: none;

    @include bp($bp-ipad-1024) {
      display: block;
      width: 100%;
      height: calc(100vw - 15px * 2);
      margin: 0 auto 36px;
      object-fit: cover;
    }
  }
}
.b-detail__system-scheme-list-num {

  @include bp($bp-ipad-1024) {
    padding-left: 15px;
  }

  ol {
    padding-left: 25px;
    margin-bottom: 0;

    @include bp($bp-ipad-1024) {
      padding-left: 20px;
    }

    & > li {
      font-family: $fontNormal;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 28px;
      letter-spacing: normal;
      color: #000;
      margin-bottom: 28px;

      @include bp($bp-ipad-768) {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1.3;
      }
    }
  }
  ul {
    margin-left: -22px;
    margin-top: 14px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 26px;
      font-family: $fontNormal;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      color: #5c5c5c;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }

      @include bp($bp-ipad-768) {
        padding-left: 15px;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 1.3;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        width: 10px;
        height: 10px;
        opacity: 0.7;
        border: solid 1px #000000;
        border-radius: 50%;

        @include bp($bp-ipad-1024) {
          content: none;
        }
      }
    }
  }
}

.b-detail__system-scheme-list--desktop {
  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-detail__line-card {
  display: flex;
  width: 100%;
  margin-bottom: 108px;
}

.b-detail__line-pic {
  width: 33.3%;
  padding-right: 85px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.b-detail__line-text {
  width: 66.7%;
  margin-top: 28px;

  h3 {
    max-width: 623px;
    font-family: $fontBold;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.2px;
    color: #000000;
    margin-bottom: 32px;
  }

  p {
    max-width: 785px;
    font-family: $fontNormal;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #5c5c5c;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.b-detail-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 42px;

  @include bp($bp-ipad-1024) {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.b-detail-card__pic {
  /* width: calc(41.6% - 10px); */
  width: 320px;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.b-detail-card__text {
  margin-top: 52px;
  /* width: calc(58.4% - 10px); */
  width: 920px;

  @include bp($bp-ipad-1024) {
    margin-top: 0;
    width: 100%;
  }

  h1 {
    font-family: $fontBold;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 32px;

    @include bp($bp-ipad-1024) {
      padding-left: 15px;
    }

    @include bp($bp-ipad-768) {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 1.18;
    }
  }

  figure {
    display: none;

    @include bp($bp-ipad-1024) {
      display: block;
      width: 100%;
      height: calc(160 / 360 * 100vw);
      min-height: 160px;
      margin-bottom: 28px;
      border: 1px solid #EBEBEB;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: 0 auto;
    }
  }
}

.b-detail-card__components {
  display: flex;
  margin-bottom: 48px;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  p {
    font-family: $fontBold;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 0;

    &:first-child {
      width: 293px;
    }

    b {
      font-weight: 500;
    }

    span {
      color: #7b7b7b;
    }
  }
}

.b-detail-card__desc {
  max-width: 505px;
  font-family: $fontNormal;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #5c5c5c;

  @include bp($bp-ipad-1024) {
    max-width: none;
    padding-left: 15px;
    font-size: 12px;
    line-height: 1.3;
  }
}

.b-detail-body {

  h2 {
    font-family: $fontBold;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 40px;
  }

  .product-card__info {
    margin-top: 9px;
  }
}

.b-detail-tabs {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 6px solid #edeff5;
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-detail-tabs__item {
  position: relative;
  font-family: $fontBold;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #000000;
  margin-right: 32px;
  cursor: pointer;

  &.active {
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -26px;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: $yellow;
      z-index: 10;
    }
  }
}

.b-detail-content {
  margin-bottom: 72px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 30px;
  }
}

.b-detail-content__item {
  padding-top: 16px;
  background-color: #fff;
  display: none;

  font-family: $fontNormal;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #5c5c5c;


  &.active {
    display: block;
  }

  p {
	// line-height: 10px !important;
  }

  ul {
    padding-left: 0;
    margin-bottom: 65px;
    list-style: none;

    @include bp($bp-ipad-1024) {
      padding-left: 15px;
      margin-bottom: 20px;
    }

    li {
      position: relative;
      padding-left: 26px;
      font-family: $fontNormal;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      color: #5c5c5c;
      margin-bottom: 15px;

      @include bp($bp-ipad-1024) {
        padding-left: 14px;
      }

      @include bp($bp-ipad-768) {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 1.3;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        width: 10px;
        height: 10px;
        opacity: 0.7;
        border: solid 1px #000000;
        border-radius: 50%;

        @include bp($bp-ipad-1024) {
          top: 12px;
          width: 4px;
          height: 4px;
          background: #484848;
          border: none;
          opacity: 0.7;
        }

        @include bp($bp-ipad-768) {
          top: 6px;
        }
      }
    }
  }

  h2 {

    @include bp($bp-ipad-1024) {
      padding-left: 15px;
    }

    @include bp($bp-ipad-768) {
      margin-bottom: 15px;
      font-size: 22px;
      line-height: 1.1;
    }
  }

  & > p {
    font-family: $fontNormal;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #5c5c5c;

    &:last-child {
      margin-bottom: 0;
    }

    @include bp($bp-ipad-1024) {
      padding-left: 15px;
    }

    @include bp($bp-ipad-768) {
      font-size: 12px;
      line-height: 1.3;
    }
  }
}

.b-detail-desc, .b-detail-use {
  max-width: 58.7%;

  @include bp($bp-ipad-1024) {
    max-width: none;
  }
}

.b-detail-tex {
  .b-product-table__content table tr:nth-child(odd) {
    background-color: rgba(244, 245, 253, 0.3);
  }
  .b-product-table__content table tr:nth-child(even) {
    background-color: #f4f5fc;
  }

  .b-product-table__content table tr td {
    &:first-child {
      max-width: 160px;
    }
    &:last-child {
      border-right: none;
    }
  }
}

.b-detail-document {
  padding-bottom: 30px;
  .b-blog__price {
    margin-bottom: 0;
  }
}

.b-icon-file {
  display: flex;
  flex-wrap: wrap;
}

.b-icon-file__item  {
  position: relative;
  padding-left: 58px;
  font-family: $fontNormal;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 42px;
  margin-right: 56px;

  &:hover {
    text-decoration: underline;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: 0;
  }

  &.icon-png {
    &:after {
      @include svg-png-image-document
    }
  }
}

.b-detail-card-material {

  h2 {
    font-family: $fontBold;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 32px;
  }
}

.b-detail-card-material__list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-bottom: 52px;

  .card-material {
    position: relative;
    width: calc(100%/3 - 20px);
    height: 412px;
    padding: 25px 30px 24px 30px;
    margin: 0 10px 20px;
    background-color: #ffffff;
    border: solid 1px #e2e2e2;
  }

  .card-material__number {
    position: absolute;
    top: 25px;
    right: 30px;
    font-family: $fontBold;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #000000;
  }

  .card-material__pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 237px;
    margin: auto;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .card-material__header {
    h3 {
      padding-right: 35px;
      font-family: $fontNormal;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: #5c5c5c;
      margin-bottom: 5px;
    }

    span {
      display: block;
      font-family: $fontBold;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #000000;
    }
  }

  .card-material__footer {
    position: absolute;
    left: 30px;
    bottom: 17px;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #5c5c5c;
  }
}

.b-detail-config {
  margin-bottom: 78px;
}

.b-detail-config__card {
  display: block;
  margin-bottom: 26px;

  img {
   max-width: 100%;
    height: auto;
  }
}

.b-detail__material {
  padding-top: 14px;
  padding-bottom: 37px;
  display: flex;
  align-items: flex-start;
  width: 100%;

  @include bp($bp-ipad-1024) {
    display: block;
    padding-bottom: 30px;
  }
}

.b-detail__aside {
  width: 315px;
  padding-right: 125px;

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-detail__aside-item {
  font-family: $fontBold;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #777777;
  margin-bottom: 24px;

  &.active {
    span {
      &:after {
        background-color: $yellow;
      }
    }
  }


  span {
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 100%;
      height: 6px;
      background-color: transparent;
      transition: .3s ease all;
    }

    &:hover {
      &:after {
        background-color: $yellow;
      }
    }
  }
}

.b-detail__card-material {
  width: calc(100% - 315px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include bp($bp-ipad-1024) {
    width: 100%;
  }
}

.b-detail__system-list-dropdown {

  &:last-child {
    margin-bottom: 0;
  }

  @include bp($bp-ipad-1024) {
    padding-left: 15px;
    margin-bottom: 16px;
  }
}

.b-detail__system-list-subdropdown {

  @include bp($bp-ipad-1024) {
    display: none;
    padding-left: 15px;
    margin-bottom: 16px;
  }
}

.b-detail__system-list-subdropdown > ul {

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-detail__system-list-dropdown > h3,
.b-detail__system-list-subdropdown > h4 {

  @include bp($bp-ipad-1024) {
    display: flex;
    align-items: center;
  }

  &:after {

    @include bp($bp-ipad-1024) {
      flex: none;
      content: '';
      display: block;
      margin-left: 20px;
      @include svg-arrow-right-in-system;
      transition: transform .3s ease-in-out;
    }
  }
}

.b-detail__system-list-dropdown.open > h3,
.b-detail__system-list-subdropdown.open > h4 {

  &:after {
    @include bp($bp-ipad-1024) {
      transform: rotate(90deg);
    }
  }
}

.b-detail__filter {
  display: none;

  @include bp($bp-ipad-1024) {
    display: block;
  }

  h2 {

    @include bp($bp-ipad-1024) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 15px;
      padding-bottom: 24px;
      margin-bottom: 20px;
      font-family: $fontNormal;
      font-size: 18px;
      line-height: 1.1;
      border-bottom: 1px solid #EBEBEB;
    }

    &:after {

      @include bp($bp-ipad-1024) {
        flex: none;
        content: '';
        display: block;
        @include svg-arrow-down-black;
        transform: rotate(-90deg);
        transition: transform .3s ease-in-out;

      }
    }
  }
}

.b-detail__filter.open {

  h2 {

    &:after {
      @include bp($bp-ipad-1024) {
        transform: rotate(0);
      }
    }
  }
}

.b-detail__card-material-btn {
  display: none;

  @include bp($bp-ipad-1024) {
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
}
