.b-download {
  margin-top: 188px;
  background-color: #f4f5fc;
}

.b-download__title {
  padding-top: 73px;
  font-family: $fontBold;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #e3de03;
  margin-bottom: 56px;
}

.b-download__content {
  display: flex;
}

.b-download__left {
  width: 300px;
  margin-bottom: 280px;
}

.b-download__right {
  width: calc(100% - 300px);
  padding-left: 100px;

  .b-blog__price {
    display: none;
    margin-bottom: 0;
    &.active {
      display: flex;
    }
  }

  .b-price {
    width: 50%;
    overflow: visible;
    white-space: normal;
    text-overflow: inherit;
    padding: 0 20px 0 58px;
    display: flex;
    align-items: center;
    span {
      @include svg-XLS;

      &.zip {
        @include svg-ZIP;
      }

      &.pdf {
        @include svg-PDF;
      }
    }

    img {
      width: 234px;
      height: 118px;
      object-fit: cover;
    }
  }

  .b-price--card {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    span {
      &:first-child {
        width: 234px;
        height: 118px;
        display: block;
        position: static;
      }
    }

    p {
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}



.b-download__list {

}

.b-download__item {
  margin-bottom: 24px;
}

.b-download__item-title {
  font-family: $fontBold;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 6px;
  -webkit-font-smoothing: antialiased;
}

.b-download__link  {
  display: block;
  font-family: $fontNormal;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  -webkit-font-smoothing: antialiased;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    text-decoration: underline;
  }
}
