.b-filter {
  padding-right: 65px;

  @include bp($bp-ipad-1024) {
    position: relative;
    padding-right: 0;
    display: none;
  }

  form {

    @include bp($bp-ipad-1024) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      padding-top: 26px;
      background: #ffffff;
    }
  }

  .b-filter__checkbox {
    label {
      transition: 0.3s ease all;
    }
  }

  &.hidden-checkbox {
    .b-filter__checkbox {

      &.active {
        label {
          pointer-events: auto;
          opacity: 1;
        }
      }

      label {
        pointer-events: none;
        opacity: .4;
      }
    }
  }
}

.b-filter__item {
  margin-bottom: 28px;

  &:last-child {
    display: flex;
    align-items: center;

    @include bp($bp-ipad-1024) {
      margin-top: 114px;
      display: flex;
      align-items: center;
    }
  }

  @include bp($bp-ipad-1024) {
    padding-left: 15px;
    margin-bottom: 24px;
  }

  .btn--reset,
  .btn--submit {
    display: none;

    @include bp($bp-ipad-1024) {
      display: inline-block;
    }
  }
}

.b-filter__title {
  font-family: $fontNormal;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;

  @include bp($bp-ipad-1024) {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  &:after {

    @include bp($bp-ipad-1024) {
      flex: none;
      display: block;
      margin-left: 20px;
      content: '';
      @include svg-arrow-small;
      transform: rotate(-90deg);
      transition: transform .3s ease-in-out;
    }

    .open > & {

      @include bp($bp-ipad-1024) {
        transform: rotate(0);
      }
    }
  }
}

.b-filter__choice {
  display: flex;
  flex-wrap: wrap;

  @include bp($bp-ipad-1024) {
    display: block;
  }

  .b-filter__title ~ & {
    @include bp($bp-ipad-1024) {
      display: none;
    }
  }
}

.b-filter__checkbox {
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @include bp($bp-ipad-1024) {
    margin-bottom: 10px;
  }

  label {
    font-family: $fontNormal;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #747474;
    cursor: pointer;
    transition: 0.3s ease all;
    margin-bottom: 0;

    @include bp($bp-ipad-1024) {
      display: flex;
      align-items: center;
      color: #232323;;
    }

    &:before {

      @include bp($bp-ipad-1024) {
        flex: none;
        display: block;
        width: 10px;
        height: 10px;
        padding: 2px;
        background: transparent;
        background-clip: content-box;
        margin-right: 14px;
        border: 1px solid #484848;
        content: '';
        transition: background-color .3s ease-in-out;
        margin-bottom: 2px;
      }
    }
  }
  input {
    display: none;

    &:checked {
      & + label {
        text-decoration: underline;
        color: #000;

        &:before {

          @include bp($bp-ipad-1024) {
            background-color: #484848;
          }
        }
      }
    }
  }
  &:after {
    content: '/';
    display: inline-block;
    font-family: $fontNormal;
    font-size: 14.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #747474;
    transform: translateY(1px);
    margin-right: 5px;
    margin-left: 2px;

    @include bp($bp-ipad-1024) {
      content: none;
    }
  }

  &:last-child {
    &:after {
      content: '';

      @include bp($bp-ipad-1024) {
        content: none;
      }
    }
  }
}
.b-filter__btn {
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }

  @include bp($bp-ipad-1024) {
    flex: 1 0 auto;
    max-width: 160px;
    padding: 0 24px;
    height: 36px;
    line-height: 34px;
  }
}

.b-filter__reset {
  position: relative;
  font-family: $fontNormal;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #747474;
  padding-right: 18px;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: 1px;
    right: 0;
    @include svg-close_black_filter;
  }

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-filter__label {
  display: none;

  &:last-child {
    margin-bottom: 0;
  }

  @include bp($bp-ipad-1024) {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 14px;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 20px;
    font-family: $fontNormal;
    font-size: 9px;
    line-height: 12px;
    color: rgba(35, 35, 35, .6);
  }

  &:before {

    @include bp($bp-ipad-1024) {
      flex: none;
      display: block;
      content: '';
      @include svg-filter;
    }
  }
}

.b-filter--dropdown {
  form {
    padding-top: 0;
  }
  .b-filter__item {
    margin-top: 50px;
  }
}

.b-filter__link  {
  padding-left: 15px;
  font-family: "LetoSans-Bold";
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #777777;
  margin-bottom: 4px;
}
