.b-footer {
  width: 100%;
  background-color: #1c1c1c;

  &--tb {
    display: none;

    @include bp($bp-ipad-1024) {
      display: block;
    }
  }
}

.b-footer--mobile-map {
  @include bp($bp-ipad-1024) {
    background: #F4F5FC;
    padding-top: 15px;
  }
}

.b-footer__top {
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #2b2b2b;;
}

.b-footer__logo {
  position: absolute;
  top: 60px;
  left: 0;
  display: block;
  width: 190px;
  height: 69px;
  background-image: url("../images/Logo_white.svg");
  background-size: contain;
  background-repeat: no-repeat;

}

.b-footer__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.b-footer__column {
  width: grid-width(3);

  h4 {
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      a {
        font-family: $fontNormal;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.17;
        letter-spacing: 0.4px;
        text-align: left;
        color: #a9a9a9;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.b-footer__address {
  margin-bottom: 68px;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff;
    margin: 0;

    &:first-child {
      letter-spacing: 0.7px;
      text-transform: uppercase;
    }

    &.b-footer__phone {
      color: $blue;
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.b-footer__middle {
  margin-top: 40px;

  .b-footer__list {
    align-items: flex-start;
  }
}

.b-footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 26px;
}

.b-footer__copy {
  font-family: $fontNormal;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  @include bp($bp-ipad-1024) {
    font-size: 9px;
    line-height: 1.3;
    color: rgba(255, 255, 255, .5);
  }

  p {
    margin-bottom: 0;
  }
}

.b-footer__social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;

  a {
    font-family: $fontNormal;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 32px;
  }
}

.b-footer__social-item {
  flex: none;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
    margin-left: 0;
  }

  &--inst {

    a {
      @include svg-inst;
    }
  }

  &--fb {

    a {
      @include svg-fb;
    }
  }

  &--vk {

    a {
      @include svg-vk;
    }
  }
}

.b-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include bp($bp-ipad-1024) {
    padding: 26px 15px;
  }
}
