.b-form {

}

.b-form__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.b-form__item {
  position: relative;
  width: calc(50% - 30px);

  input {
    width: 100%;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 38px;
    letter-spacing: normal;
    text-align: left;
    color: rgba(4, 4, 4, 0.6);

    height: 40px;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #E5E5E5;
  }
}

.b-form__checkbox {
  position: relative;
  input {
    opacity: 0;
    position: absolute;
    top: 7px;
    left: 1px;

    &:checked {
      & + label {
        &:before {
          opacity: 1;
        }
      }
    }
  }
  span {
    font-size: 12px;
    line-height: 16px;
    color: #8B8B8B;
    text-decoration: underline;
    cursor: pointer;
  }
  label {
    position: relative;
    padding-left: 26px;
    font-size: 12px;
    line-height: 16px;
    color: #8B8B8B;
    cursor: pointer;



    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #A0A0A0;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
      background-color: $yellow;
      opacity: 0;
      transition: .3s ease-in-out all;
    }
  }
}

.b-form__submit {
  .btn--submit {
    padding-left: 34px;
    padding-right: 34px;
  }
}

.b-form__row--last {
  margin-top: 30px;
}

.b-form__text {
  display: none;
  margin-top: 30px;
  padding-top: 24px;
  padding-left: 26px;
  padding-right: 15px;
  border: 1px solid #CDCDCD;
  height: 255px;
  overflow: hidden;


  p {
    line-height: 20px;
    font-size: 14px;
    color: #595959;
    margin-bottom: 24px;
    padding-right: 24px;


    span {
      display: block;
    }
  }


  .mCSB_container {
    display: flex;
    flex-wrap: wrap;
  }
  .mCSB_inside > .mCSB_container {
    margin-right: 0;
  }

  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #6a6a6a;
    width: 5px;
  }

  .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #e7e7e7;
    width: 3px;
  }

  .mCSB_scrollTools {
    height: calc(100% - 24px);
  }
}
