.b-gallery {

  display: flex;
  flex-direction: column;

  .card {
    margin-bottom: 20px;

    &:hover {
      color: $yellow;
    }
  }

  .card__info {
    h4, p {
      font-size: 14px;
      line-height: 1;
    }
    h4 {
      margin-bottom: 11px;
    }
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.b-gallery--card {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  //justify-content: space-between;

  @include bp($bp-ipad-1024) {
    align-items: stretch;
  }

  .card {
    width: calc(100%/3 - 42px);
    transition: 0.3s ease all;
    margin-bottom: 24px;
    margin-left: 24px;

    @include bp($bp-ipad-1024) {
      width: calc((100% / 2 - 10px) + 10px / 2);
      height: auto;
      padding: 15px 15px 17px;
      margin-left: 0;
      margin-right: 10px;
      margin-bottom: 10px;
      border: 1px solid #EBEBEB;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    .card__wrap-img {
      position: relative;
    }
    img {
      transition: .3s ease-in-out all;
    }
    .link  {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      margin: auto;
      width: 108px;
      height: 26px;
      padding: 9px 0;
      border-radius: 12px;
      background-color: #ffff;
      font-family: $fontNormal;
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 0.7px;
      text-align: center;
      color: #000000;
      text-transform: uppercase;
      transition: 0.3s ease all;

      @include bp($bp-ipad-768) {
        font-size: 9px;
        line-height: 12px;
      }

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }

    p {
      width: 94px;
      display: inline-block;
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
      margin: auto;
      padding-left: 24px;
      font-family: $fontNormal;
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 16px;
      letter-spacing: 0.7px;
      text-align: center;
      color: #ffffff;
      height: 16px;
      text-transform: uppercase;
      pointer-events: none;


      &:after {
        content: '';
        position: absolute;
        top: -2px;
        left: 0;
        @include svg-zoom-increasing-symbol;
      }
    }
    p,.link {
      transition: 0.3s ease all;
      opacity: 0;
      cursor: pointer;

      @include bp($bp-ipad-1024) {
        display: none;
      }
    }

    .card__info {
      h4 {
        a {
          color: #000000;
        }
      }
    }

    &:hover {
      img {
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.15);
        transform: scale(1.05) translateY(-4px);

        @include bp($bp-ipad-1024) {
          box-shadow: none;
          transform: none;
        }
      }

      p,.link {
        opacity: 1;
      }

      .card__info {
        h4 {
          a {
            color: $yellow;
          }
        }
      }
    }
  }
  .card__info {
    position: static;
    background-color: transparent;
    padding: 0;

    h4 {
      font-family: $fontBold;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: #000000;
      margin-bottom: 0;
      margin-top: 12px;
      transition: 0.3s ease all;

      @include bp($bp-ipad-768) {
        margin-top: 10px;
        font-size: 9px;
        line-height: 12px;
      }
    }
  }
}
