.b-grid {
  width: 100%;
  margin-bottom: 20px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 15px;
  }
}

.b-grid__row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  z-index: 10;

  @include bp($bp-ipad-1024) {
    align-items: stretch;
    width: calc(100% + 10px);
    margin-left: -5px;

    &:first-child {
      margin-top: -5px;
    }

    h3 {
      @include bp($bp-ipad-768) {
        font-size: 16px!important;
      }
    }
  }
}

.b-grid__row--mobile {
  display: none;

  @include bp($bp-ipad-1024) {
    margin-top: 10px;
    display: block;
    margin-bottom: 25px;

    .card--catalog {
      background: #C8C8C8;
    }

    h3 {
      &:after {
        display: none!important;
      }
    }
  }
}

.b-grid__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:first-child {
    width: grid-width(5);

    @include bp($bp-ipad-1024) {
      width: 50%;
    }
  }

  &:last-child {
    width: grid-width(7);

    @include bp($bp-ipad-1024) {
      width: 50%;
    }
  }

  @include bp($bp-ipad-1024) {
    width: 50%;
    padding: 0 5px;
  }

  .b-grid__card {
    width: 100%;
    height: 100%;
  }


  //.b-grid__card--5 {
  //  width: calc(((100% / 5) * 5) - 10px);
  //}
  //
  //.b-grid__card--7 {
  //  width: calc(((100% / 7) * 7) - 10px);
  //}
}

.b-grid__single {
  margin-bottom: 124px;

  &:last-child {
    margin-bottom: 0;
  }

  @include bp($bp-ipad-1024) {
    height: calc(180 / 360 * 100vw);
    min-height: 180px;
    margin-bottom: 10px;
  }
}

.b-grid__single-slider {
  position: relative;
  padding-bottom: 40%;
  width: 100%;

  @include bp($bp-ipad-1024) {
    width: 100vw;
    height: 0;
    padding-bottom: calc(100% + 15px * 2);
    margin: 10px -10px;
  }

  .b-grid__card--fullscreen + & {
    @include bp($bp-ipad-1024) {
      margin-top: 5px;
    }
  }

  & + .b-grid__card--fullscreen {
    margin-top: 5px;
  }
}

.b-grid__card {
  margin-bottom: 20px;
  transition: 0.3s ease all;

  @include bp($bp-ipad-1024) {
    flex: auto;
    width: 100%;
    margin: 5px 0;
  }

  &:hover {
    transform: scale(1.03);

    @include bp($bp-ipad-1024) {
      transform: none;
    }

    .card__info {

      h4,
      p {
        color: $yellow;
      }
    }
  }

  &--separate {

    @include bp($bp-ipad-1024) {
      margin-top: 5px;
    }
  }

}

.b-grid__card--hidden-mobile {
  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-grid__card--5 {
  width: grid-width(5);
}

.b-grid__card--7 {
  width: grid-width(7);
}

.b-grid__card--low {

  @include bp($bp-ipad-1024) {
    height: calc(160 / 360 * 100vw);
    min-height: 160px;
  }
}

.b-grid__card--high {

  @include bp($bp-ipad-1024) {
    height: calc(330 / 360 * 100vw);
    min-height: 330px;
  }
}

.b-grid__card--fullscreen {

  @include bp($bp-ipad-1024) {
    width: 100vw;
    min-height: calc(175 / 360 * 100vw);
    margin: 10px -15px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.b-grid__row--animation {
  z-index: 5;

  &+.b-grid__row {
    padding-top: 20px;
  }
}

.b-grid__row--no-bottom {
  pading-bottom: 20px;
  //.b-grid__column {
  //  a {
  //    &:last-child {
  //      margin-bottom: 0;
  //    }
  //  }
  //}
  //
  //& > a {
  //  margin-bottom: 0;
  //}
}

.b-grid--gallery {
  .card {
    img {
      max-height: 854px;
    }
  }

  .card__info {
    padding: 25px 20px 19px;

    h4 {
      font-family: $fontNormal;
      font-size: 24px;
      font-weight: normal;
      line-height: 1;

      @include bp($bp-ipad-768) {
        font-size: 12px;
        line-height: 1;
      }
    }
  }
}

.b-grid--catalog {

  @include bp($bp-ipad-1024) {
    margin-bottom: 10px;
  }

  .b-grid__row {

    @include bp($bp-ipad-1024) {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }

  .b-grid__row-mobile-reverse {
    @include bp($bp-ipad-1024) {
      flex-direction: column;
    }
  }

  .b-grid__card {

    @include bp($bp-ipad-1024) {
      width: 100%;
    }

    &:first-child {
      @include bp($bp-ipad-1024) {
        order: 1;
      }
    }
  }

  .card__wrap {
    padding-top: 81px;
    padding-bottom: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }

  .card__bg {
    top: auto;
    right: 24px;
    bottom: 24px;
    align-self: flex-end;
  }

  .card__bg---icon-1 {
    height: 212px;
  }
}

.b-grid--catalog-detail {
  margin-bottom: 0;
}

.b-grid--collection-color {
  margin-bottom: 0;

  @include bp($bp-ipad-1024) {
    margin-bottom: 30px;
  }
}


.b-grid--collection-text {
  margin-bottom: 0;

  .b-grid__single {
    margin-bottom: 156px;

    &:last-child {
      margin-bottom: 124px;
    }
  }

  .b-single-card__content {
    padding-top: 70px;
    padding-bottom: 70px;

    h2 {
      line-height: 1.33;
      margin-bottom: 36px;
    }
  }
}

.b-grid__single--fullpage {
  .b-single-card {
    justify-content: center;
  }

  .container {
    position: absolute;
    top: 0;
    left: calc((100vw - 1240px) / 2);

    bottom: 0;
    margin: auto;
    height: 85%;
    //width: grid-width-no-margin(5);
    width: 536px;
    padding: 0;

    @include bp($bp-ipad-1024) {
      top: auto;
      left: 0;
      bottom: 0;
      width: 100%;
      margin: 0;
    }
  }

  .b-single-card__content {

    left: 0;
    width: 100%;
    right: auto;
    // left: 24px;
  }
}

.b-grid--blog {
  padding-top: 32px;
  margin-bottom: 72px;

  button {
    display: block;
    margin: auto;
  }

  .b-grid__row {

    &:last-child {
      margin-bottom: 16px;
    }
  }
}

.b-grid--service {
  padding-top: 70px;
  margin-bottom: 32px;

  .b-grid__column {
    width: calc(((100% / 12) * 4) - 27px);
    display: flex;
    flex-direction: column;

    .card-service {
      width: 100%;
    }
  }
}

.b-grid__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.b-grid__card--nohover {
  &:hover {
    transform: scale(1);
  }
}

.b-grid__full-bg {
  margin-top: 10px;
  padding: 72px 0;
  background-color: #f4f5fc;
  margin-bottom: -20px;

  @include bp($bp-ipad-1024) {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    margin-top: 5px;
  }
}

.b-grid__container {
  @include bp($bp-ipad-1024) {
    display: none;
  }

  &--tb {
    display: none;

    @include bp($bp-ipad-1024) {
      display: block;
      margin-bottom: 10px;
    }
  }
}

.b-grid__row > .b-grid__card {

  @include bp($bp-ipad-1024) {
    padding: 0 5px;
  }

  &--fullscreen {
    @include bp($bp-ipad-1024) {
      padding: 0;
    }
  }
}
