.b-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 132px;
  z-index: 150;

  @include bp($bp-ipad-1024) {
    height: 80px;
  }

  .container {
    position: relative;
  }
}

.b-header__logo {
  position: absolute;
  top: 0;
  left: 24px;
  display: block;
  width: 132px;
  height: 132px;
  background-color: $yellow;

  @include bp($bp-ipad-1024) {
    left: 30px;
    width: 80px;
    height: 80px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    @include svg-Logo_yellow;
    //width: 94px;
    //height: 69px;
    //background-image: url("../images/logo_white.png");
    //background-repeat: no-repeat;
    //background-size: contain;
    z-index: 10;

    @include bp($bp-ipad-1024) {
      @include svg-Logo_yellow--tb;
    }
  }
}

.b-header__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 132px);
  height: 39px;
  margin-left: 132px;
  transition: .3s ease-in-out all;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  &.active {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.b-header__list {
  display: flex;
  margin-left: 78px;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;

  & li {
    margin-right: 24px;

    a {
      font-family: $fontNormal;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 40px;
      letter-spacing: normal;
      text-align: left;
      color: rgba(255, 255, 255, 0.7);
      position: relative;
      transition: all 0.25s ease-in-out;

      &:before {
        content: '';
        width: 0;
        left: 50%;
        transition: all 0.25s ease-in-out;
        height: 1px;
        opacity: 0.9;
        background-color: #fff;
        position: absolute;
        bottom: -4px;
      }

      &:hover {
        color: #fff;

        &:before {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

.b-header__city {
  font-family: $fontNormal;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px dashed rgba(255,255,255,.4);
  cursor: pointer;
}

.b-header__bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 132px);
  padding-top: 31px;
  margin-left: 132px;
  transition: .3s ease-in-out all;

  @include bp($bp-ipad-1024) {
    justify-content: flex-end;
    padding-top: 42px;
  }

  &.active {
    transform: translateY(-130px);
    opacity: 0;
  }
}

.b-header__menu {
  display: flex;
  align-items: center;
  margin-left: 78px;
}

.b-header__item {
  padding: 24px 21px 21px;
  font-family: $fontNormal;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  @include bp($bp-ipad-1024) {
    padding: 12px;
  }

  @include bp($bp-ipad-768) {
    font-size: 9px;
    line-height: 1.55;
    letter-spacing: 1px;
  }

  & > a {
    color: #fff;
  }
  &:not(:first-child) {
    position: relative;
    padding: 24px 0 21px;
    margin: 0 21px;

    @include bp($bp-ipad-1024) {
      display: none;
    }

    &:before {
      content: '';
      width: 0;
      left: 50%;
      transition: all 0.25s ease-in-out;
      height: 1px;
      opacity: 0.9;
      background-color: #fff;
      position: absolute;
      bottom: 11px;
    }
  }

  &:hover {
    &:before {
      width: 100%;
      left: 0;
    }
  }
}

.b-header__list-phone {
  position: relative;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  .b-modal--tb-menu & {
    @include bp($bp-ipad-1024) {
      display: block;
    }
  }
}

.b-header__phone {
  font-family: $fontBold;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.b-header__phone--main {
  font-size: 18px;

  @include bp($bp-ipad-768) {
    font-size: 10px;
    line-height: 1.2;
  }
}

.b-header__phone--child {
  position: absolute;
  right: 0;
  bottom: -19px;
  font-size: 16px;
}

.b-header__divider {
  position: absolute;
  bottom: -0.5px;
  left: 0;
  width: calc(100vw);
  height: 1px;
  opacity: 0.2;
  background-color: #ffffff;

}

.b-header__item--active {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.b-header__item--arrow {
  position: relative;
  z-index: 100;

  &:hover {
    .b-header__dropdown {
      opacity: 1;
      visibility: visible;
    }
    &:after {
      transform: rotateX(180deg) translateY(2px);

      @include bp($bp-ipad-1024) {
        transform: none;
      }
    }
  }

  &:after {
    content: '';
    margin-left: 22px;
    margin-bottom: 2px;
    @include svg-i-arrow-down;
    transition: 0.3s ease all;

    @include bp($bp-ipad-1024) {
      margin-left: 11px;
    }

    @include bp($bp-ipad-768) {
      @include svg-i-arrow-down--tb;
    }
  }

  a {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
    }
  }

  &.close {

    &:after {
      @include bp($bp-ipad-1024) {
        transform: rotateX(180deg) translateY(2px);
      }
    }
  }
}

.b-header__item--burger {
  display: none;

  @include bp($bp-ipad-1024) {
    display: flex;
  }
}

.b-header--style-black {
  .b-header__divider {
    background-color: #000;
  }
  .b-header__phone,.b-header__city,.b-header__item,.b-header__list li a {
    color: #000;
  }
  .b-header__city {
    border-bottom: 1px dashed rgb(0,0,0);
  }
  .b-header__item--active {
    color: #fff;
    background-color: rgba(0, 0, 0, 1);
  }
  .b-header__dropdown {
    & > li {
      background-color: rgba(0,0,0,1);
    }

  }
  .b-header__subdropdown {
    & > a {
      background-color: rgba(0,0,0,1);
    }
    hr {
      background-color: rgba(0,0,0,1);
    }
  }
  .b-header__item {
    &:before {
      background-color: #000;
    }
  }

  .b-header__list {
    li {
      a {
        &:before {
          background-color: #000;
        }
      }
    }
  }

  .b-header__burger {
    background-color: rgba(0, 0, 0, 1)
  }

  .b-header__phone {
    @include bp($bp-ipad-1024) {
      display: none;
    }
  }
}

.b-header__dropdown {
  padding-left: 0;
  margin: 0;
  width: 352px;
  position: absolute;
  top: 59px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease all;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  & > li {
    position: relative;
    background-color: rgba(0,0,0,0.7);
    list-style: none;

    &:first-child {
      padding-top: 7px;
    }

    &:last-child {
      padding-bottom: 7px;
    }

    &:hover {
      & > a {
        color: #fff;

        &:after {
          opacity: 1;
          transform: translateX(4px);
        }
      }

      .b-header__subdropdown {
        opacity: 1;
        visibility: visible;
      }
    }

    .b-modal--catalog & {

      @include bp($bp-ipad-1024) {
        background: transparent;
      }
    }
  }

  .b-modal--catalog & {

    @include bp($bp-ipad-1024) {
      position: static;
      display: block;
      width: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
}

.b-header__subitem {
  display: block;
  position: relative;
  font-family: $fontNormal;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #b8b8b8;
  padding: 12px 30px 12px 20px;
  text-transform: none;
  transition: 0.3s ease all;

  &.arrow {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 19px;
      bottom: 0;
      margin: auto;
      width: 6px;
      height: 11px;
      transition: 0.3s ease all;
      background-size: contain;
      opacity: 0.4;
      background-image: url('../images/icon/arrow_menu.png');
    }
  }
}

.b-header__subdropdown {
  padding-left: 0;
  position: absolute;
  top: 0;
  left: 100%;
  width: calc(100% - 88px);
  height: 100%;
  opacity: 0;
  visibility: hidden;

  transition: 0.3s ease all;

  & > a {
    background-color: rgba(0,0,0,0.7);

    &:first-child {
      padding-top: 19px;
    }

    &:last-child {
      padding-bottom: 19px;
    }
    &:hover {
      color: #fff;
    }
  }

  hr {
    position: relative;
    margin: 0;
    height: 14px;
    border: none;
    background-color: rgba(0,0,0,0.7);

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.b-header__select-city {
  opacity: 0;
  visibility: hidden;
  transition: .35s ease-in-out all;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1000;
  padding: 35px 30px;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .select-city {
    max-width: 670px;
    display: flex;
    align-items: flex-start;
  }

  .select-city__region {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
     p {
      text-transform: none;
       font-size: 12px;
       margin-bottom: 19px;
     }
  }

  .select-city__item {
    display: block;
    color: #fff;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.b-header__select-city-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.b-header__select-city-wrap {
  position: relative;
  width: 800px;
  margin: 200px auto 0;
  z-index: 20;
}

.select-city__sub {
  font-family: $fontBold;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.select-city__name {
  font-family: $fontBold;
  font-weight: normal;
  font-size: 60px;
  line-height: 1;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 58px;
}

.select-city__title {
  font-family: $fontBold;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  line-height: 1;
  margin-bottom: 27px;
}

.select-city {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}


.select-city__region {
  p {
    display: block;
    font-family: $fontNormal;
    font-size: 11px;
    line-height: 1;
    color: #9B9B9B;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

}
.select-city__item {
  position: relative;
  font-family: $fontBold;
  font-size: 16px;
  line-height: 1;
  color: #000;
  margin-right: 20px;

  &:last-child {
    margin-right: 0px;
  }

  &.active {
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: $yellow;
    }
  }
}

.b-header__burger {
  display: none;

  @include bp($bp-ipad-1024) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    background: rgba(0, 0, 0, .7);
  }

  &:before,
  span,
  &:after {
    display: block;
    width: 16px;
    height: 2px;
    background: #fff;
  }

  &:before,
  &:after {
    content: '';
  }

  span {
    margin: 4px 0;
  }
}
