
.b-main {
  position: relative;
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 15px;
  }

  &--desk {

    @include bp($bp-ipad-1024) {
      display: none;
    }
  }

  &--tb {
    display: none;

    @include bp($bp-ipad-1024) {
      display: block;
      min-height: 156px;
      padding-bottom: 15px;
      background:#F4F5FC;
    }
  }
}

.b-main__bg {
  position: relative;
  width: 100%;
  height: 752px;
  background-size: cover;

  @include bp($bp-ipad-1024) {
    height: 100vw;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .25;
    z-index: 10;
  }
}

.b-main__content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 50;

  @include bp($bp-ipad-1024) {
    top: calc(160 / 360 * 100vw);
    transform: none;
  }

  h1 {
    max-width: 550px;
    font-family: $fontBold;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 34px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black, 0 0 1em black;

    &:last-child {
      margin-bottom: 0;
    }

    @include bp($bp-ipad-768) {
      margin-bottom: 12px;
      font-size: 22px;
      line-height: 1.18;
    }

    .b-main--tb & {

      @include bp($bp-ipad-1024) {
        color: #232323;
        text-shadow: none;
      }
    }
  }

  p {
    max-width: 460px;
    font-family: $fontNormal;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    margin: 0;

    @include bp($bp-ipad-768) {
      font-size: 12px;
      line-height: 1.5;
    }
  }

  .container {
    position: relative;
  }

  .b-main--tb & {
    top: auto;
    bottom: 15px;
  }
}

.b-main--short {
  &.active {
    .b-main__bg {
      height: 700px;

      &:after {
        opacity: 0;
      }
    }

    .b-main__color {
      cursor: -moz-zoom-out;
      cursor: zoom-out;
    }
  }
  .b-main__bg {
    transition: .3s ease-in-out height;
    height: 498px;

    @include bp($bp-ipad-1024) {
      height: calc(230 / 360 * 100vw);
      min-height: 230px;
    }

    &:after {
      height: 75%;
      background-image: url("../images/gradient_gallery.png");
      background-size: cover;
      background-color: transparent;
      background-position: center center;
      opacity: 1;
      transition: .2s ease-in-out opacity;
    }
  }

  .b-main__content {
    top: auto;
    bottom: 23px;
    transform: none;
    cursor: default;

    @include bp($bp-ipad-1024) {
      bottom: 30px;
    }

    h1 {
      max-width: 800px;
      margin: 0;
    }
  }
}

.b-main--long {
  margin-top: 188px;
  .b-main__bg {
    height: 720px;

    &:after {
      height: 75%;
      background-image: url("../images/gradient_gallery.png");
      background-size: cover;
      background-color: transparent;
      opacity: 1;
    }
  }

  .b-main__content {
    top: auto;
    bottom: 23px;
    transform: none;

    h1 {
      max-width: 800px;
      margin: 0;
    }
  }
}

.b-main--gallery {

  @include bp($bp-ipad-1024) {
    padding-top: 120px;
    padding-bottom: 15px;
    background: #F4F5FC;
  }

  .b-main__bg {

    @include bp($bp-ipad-1024) {
      display: none;
    }
  }

  .b-main__content {

    @include bp($bp-ipad-1024) {
      position: static;
    }

    h1 {

      @include bp($bp-ipad-1024) {
        color: #232323;
        text-shadow: none;
      }
    }
  }
}
.b-main_item{
  cursor: pointer;
}
.b-main__subtitle {
  font-family: $fontNormal;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #eaeaea;
  margin-bottom: 15px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 10px;
    font-size: 10px;
  }
}

.b-main__slogan {
  width: 700px;
  font-family: $fontNormal;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  @include bp($bp-ipad-1024) {
    width: 100vw;
    padding: 26px 15px 26px 30px;
    margin-left: -30px;
    margin-right: -30px;
    background:#0D0E10;
  }

  @include bp($bp-ipad-768) {
    font-size: 12px;
    line-height: 16px;
  }
}

.b-main__desc {
  max-width: 425px;
  margin-top: 14px;
  font-family: $fontNormal;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff;

  @include bp($bp-ipad-1024) {
    font-size: 15px;
    margin-top: 4px;
  }

  @include bp($bp-640) {
    font-size: 12px;
    line-height: 1.2;
  }
}

.b-main__3d {
  position: absolute;
  right: 20px;
  bottom: 5px;
  padding: 14px 23px;
  font-size: 14px;
}

.b-main__color {
  position: absolute;
  right: 270px;
  bottom: 5px;
  padding: 14px 23px;
  font-size: 14px;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.b-main__color--single {
  right: 20px;
}

.b-main__back {
  display: block;
  position: absolute;
  bottom: 17px;
  left: -20px;
  @include svg-i-arrow-left;
  z-index: 100;
}

.b-main--company {
  .b-main__bg {
    height: 828px;

    @include bp($bp-ipad-1024) {
      display: none;
      height: calc(230 / 360 * 100vw);
      min-height: 230px;
      background-position: center;
    }

    &--tb {
      display: none;

      @include bp($bp-ipad-1024) {
        display: block;
        &:after {
          display: none;
        }
      }
    }

    &:after {
      top: auto;
      bottom: 0;
      background-color: transparent;
      background-image: url('../images/company/gradient.png');
      height: 354px;
      width: 100%;
      opacity: 1;

      @include bp($bp-ipad-1024) {
        height: calc(230 / 360 * 100vw);
        min-height: 230px;
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: cover;
        background: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(0, 0, 0, 0.5625) 100%);
      }
    }
  }

  .b-main__content {
    top: auto;
    bottom: 37px;
    transform: translate(0,0);

    @include bp($bp-ipad-1024) {
      position: relative;
      bottom: auto;
    }

    h1 {
      max-width: 700px;
      margin-bottom: 20px;

      @include bp($bp-ipad-1024) {
        position: absolute;
        left: 30px;
        top: -30px;
        margin-bottom: 0;
        transform: translateY(-100%);
      }
    }
  }
}

.b-main--collection {
  position: relative;
  margin-bottom: 126px;
}
