.b-modal {
    padding: 38px 16px 38px 30px;
    background: #0D0E10;

    &--tb-menu {
        min-height: 100%;
        padding: 0 15px;
        transform: translate3d(100%, 0, 0);
        transition: transform .3s ease-in-out;

        .mfp-ready & {
            transform: translate3d(0, 0, 0);
            transition-delay: .4s;
        }

        .mfp-removing & {
            transform: translate3d(100%, 0, 0);
            transition-delay: 0s;
        }
    }
}

.custom-mfp-tb-menu.mfp-bg {
    opacity: 0;
    transition: opacity .3s linear;

    &.mfp-ready {
        opacity: .4;
        transition-delay: 0s;
    }

    &.mfp-removing {
        opacity: 0;
        transition-delay: .4s;
    }
}

.custom-mfp-catalog .mfp-container {
    padding: 80px 0;
}

.custom-mfp-tb-menu .mfp-container {
    padding: 0 0 0 110px;
}

.custom-mfp-tb-menu .mfp-content {
    height: 1px;
    min-height: 100%;
}

.custom-mfp-tb-menu.mfp-ready .mfp-content {
    transform: translateX(0);
    transition-delay: .4s;
}

.custom-mfp-tb-menu.mfp-removing .mfp-content {
    transform: translateX(100%);
}

.b-modal--catalog .b-modal__close {
    padding: 24px 21px 21px;
    color: #fff;
    background: #0D0E10;
    border: none;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.9px;
    text-align: center;
    text-transform: uppercase;

    @include bp($bp-ipad-1024) {
        position: absolute;
        top: 0;
        padding: 12px;
        transform: translateY(-100%);
    }

    @include bp($bp-ipad-768) {
        font-size: 9px;
        line-height: 1.55;
        letter-spacing: 1px;
    }
}

.b-modal--catalog .b-modal__close-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
        content: '';
        margin-left: 22px;
        margin-bottom: 2px;
        @include svg-i-arrow-down;
        transition: 0.3s ease all;

        .mfp-ready & {
            transform: rotateX(180deg) translateY(2px);
        }

        .mfp-removing & {
            transform: none;
        }
    
        @include bp($bp-ipad-1024) {
          margin-left: 11px;
        }

        @include bp($bp-ipad-768) {
            @include svg-i-arrow-down--tb;
        }
    }
}

.b-modal__list,
.b-modal__sublist {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.b-modal__list li {
    color: #DBDBDB;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;

    @include bp($bp-ipad-768) {
        font-size: 12px;
        line-height: 16px;
    }
}

.b-modal__list li a {
    color: inherit;
}

.b-modal__list > li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    &:after {
        display: block;
        content: '';
        @include svg-arrow-dropdown;
        transform-origin: 50% 50%;
        transition: transform .3s ease-in-out;
    }

    &.close {

        &:after {
            transform: rotate(90deg);
        }
    }
}

.b-modal__sublist {
    display: none;
    width: 100%;
    padding-left: 10px;
    margin-top: 20px;
    order: 1;
}

.b-modal__sublist > li {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

.b-modal__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 15px;
    border-bottom: 1px solid #2B2B2B;
}

.b-modal__nav {
    padding: 32px 15px;
    border-bottom: 1px solid #2B2B2B;
}

.b-modal__nav-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.b-modal__nav-item {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.b-modal__nav-item a {
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.9px;
    color: #fff;

    @include bp($bp-ipad-768) {
        font-size: 12px;
        line-height: 16px;  
    }
}