
.mfp-bg {
  &.custom-mfp {
    opacity: 0.4;
  }
}

.b-popup {
  position: relative;
  max-width: 1240px;
  max-height: 876px;
  padding-top: 48px;
  padding-left: 60px;
  padding-bottom: 12px;
  background-color: #fff;
  margin: auto;

  .b-color__title {
    margin-bottom: 0px;
  }

  .mCSB_container {
    padding-top: 36px;
  }
}

.b-popup__close {
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 60px;
  @include  svg-close_popup;
  cursor: pointer;
}

.b-color {

  @include bp($bp-ipad-1024) {
    overflow: hidden;
  }
}

.b-color__title {
  font-family: $fontBold;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 36px;

  span {
    font-family: $fontNormal;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #7b7b7a;
    margin-left: 26px;

    @include bp($bp-ipad-768) {
      font-size: 9px;
      line-height: 1.3;
    }
  }
}

.b-color__list {
  display: flex;
  flex-wrap: wrap;
  //max-height: 745px;
  overflow: hidden;
  margin-right: 27px;

  @include bp($bp-ipad-1024) {
    width: calc(100% + 15px);
    margin-left: -7.5px;
    margin-right: 0;
  }

  .mCSB_container {
    display: flex;
    flex-wrap: wrap;
  }
  .mCSB_inside > .mCSB_container {
    margin-right: 0;
  }

  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #6a6a6a;
    width: 5px;
  }

  .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #e7e7e7;
    width: 3px;
  }

  .mCSB_scrollTools {
    height: calc(100% - 46px);
  }
}

.b-color__item {
  position: relative;
  width: calc(100%/5 - 32px);
  margin-right: 32px;
  margin-bottom: 24px;
  transition: 0.3s ease all;
  outline: none;

  @include bp($bp-ipad-1024) {
    width: calc(100%/3);
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin: 0;
  }

  &:hover {

    img {
      box-shadow: 0px 8px 28px 2px rgba(0, 0, 0, 0.3);
      transform: scale(1.03) translateY(-8px);

      @include bp($bp-ipad-1024) {
        box-shadow: none;
        transform: none;
      }
    }
    p,.link {
      opacity: 1;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: 0.3s ease all;

    @include bp($bp-ipad-1024) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  span {
    display: block;
    margin-top: 13px;
    font-family: $fontBold;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #7b7b7b;

    @include bp($bp-ipad-1024) {
      margin-top: 10px;
      font-size: 9px;
      line-height: 12px;
    }
  }

  .popup {
    display: block;
    outline: none;

    @include bp($bp-ipad-1024) {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 100%;
    }
  }

  .link  {
    position: absolute;
    bottom: 23px;
    left: 0;
    right: 0;
    margin: auto;
    width: 108px;
    height: 26px;
    padding: 9px 0;
    border-radius: 12px;
    background-color: #ffff;
    font-family: $fontNormal;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 10px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    transition: 0.3s ease all;

    @include bp($bp-ipad-768) {
      bottom: 5px;
      width: 80px;
      height: 20px;
      padding: 6px 0;
      font-size: 8px;
      letter-spacing: 0.56px;
    }

    &:hover {
      background-color: #000;
      color: #fff;

      @include bp($bp-ipad-1024) {
        background: #fff;
        color: #000;
      }
    }
  }

  p {
    width: 94px;
    display: inline-block;
    position: absolute;
    bottom: 64px;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 24px;
    font-family: $fontNormal;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #ffffff;
    height: 16px;
    text-transform: uppercase;

    @include bp($bp-ipad-1024) {
      bottom: 50%;
      font-size: 0;
      transform: translateY(50%);
    }

    &:after {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      @include svg-zoom-increasing-symbol;

      @include bp($bp-ipad-1024) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  p,.link {
    transition: 0.3s ease all;
    opacity: 0;
    cursor: pointer;

    @include bp($bp-ipad-1024) {
      opacity: 1;
      display: none;
    }
  }
}

.b-color__item-img {
  position: relative;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.4;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}


.b-popup-sub {
  position: relative;
  max-width: 824px;
  padding: 60px 60px 30px;
  background-color: #fff;
  margin: auto;
}

.b-popup-sub__title {
  font-family: $fontBold;
  line-height: 40px;
  font-size: 32px;
  margin-bottom: 24px;
  padding-right: 200px;

}

.b-popup-sub__desc {
  font-family: $fontNormal;
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 24px;
  padding-right: 100px;
}

.b-popup-sub--success {
  .b-popup-sub__desc {
    padding-right: 0;
  }
}

.b-popup-sub__close {
  position: absolute;
  top: 64px;
  right: 60px;
  @include svg-i-close-popup;
  cursor: pointer;
}
