.b-product {
  padding-top: 30px;

  @include bp($bp-ipad-1024) {
    padding-top: 15px;
  }
  h2 {
    font-family: $fontBold;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.1px;
    text-align: left;
    color: #000000;
    margin-top: 0;
    margin-bottom: 36px;

    @include bp($bp-ipad-1024) {
      padding-left: 15px;
    }

    @include bp($bp-ipad-768) {
      margin-bottom: 17px;
      font-size: 22px;
      line-height: 1.1;
    }
  }

  .btn {
    display: block;
    margin: auto;
  }
}

.b-product__full-bg {
  padding: 72px 0;
  background-color: #f4f5fc;
  margin-bottom: 72px;

  &:last-child {
    margin-bottom: 0;
  }

  @include bp($bp-ipad-1024) {
    padding: 25px 0 0;
    margin-bottom: 35px;
    overflow: hidden;
  }

  .container & {
    @include bp($bp-ipad-1024) {
      width: 100vw;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &--slider {

    @include bp($bp-ipad-1024) {
      padding: 20px 0 0;
    }
  }

  &--show-room {

    &:last-child {
      margin-bottom: 0;
    }

    @include bp($bp-ipad-1024) {
      padding: 0;
      margin-bottom: 35px;
    }
  }
}

.b-product__full-bg--first {
  margin-top: -72px;
}

//
// start product-info
//

.b-product-info {
  margin-bottom: 100px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 34px;
  }

  h2 {

    @include bp($bp-ipad-768) {
      margin-bottom: 24px;
      font-size: 12px;
      line-height: 1;
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

.b-product-info__text {
  display: flex;
  justify-content: space-between;

  @include bp($bp-ipad-1024) {
    display: block;
  }

  span {
    width: grid-width(4);
    font-family: $fontBold;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    text-align: left;
    color: #000000;
    padding-right: 46px;

    @include bp($bp-ipad-1024) {
      display: none;
    }
  }

  p {
    width: grid-width(8);
    font-family: $fontNormal;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #5c5c5c;

    @include bp($bp-ipad-1024) {
      width: 100%;
      padding-left: 15px;
    }

    @include bp($bp-ipad-1024) {
      font-size: 12px;
      line-height: 1.2;
    }
  }
}

.b-product-color {
  margin-bottom: 72px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 5px;
  }

  .b-color__list {
    overflow: visible;
    margin-bottom: 8px;

    @include bp($bp-ipad-1024) {
      margin-bottom: 0;
    }
  }

  .b-color__item {
    margin-bottom: 40px;

    @include bp($bp-ipad-1024) {
      margin-bottom: 15px;
    }
  }

  .btn {
    display: block;
    margin: auto;
  }
}

.b-product-el {}

.b-product-el--mobile-sq {
  .b-product-el__row {
    .product-card__img {
      @include bp($bp-ipad-1024) {
        padding-top: 100%;
      }
    }
  }
}

.b-product-el__row {
  margin-bottom: 70px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 15px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .product-card__img {

    @include bp($bp-ipad-1024) {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 74%;
    }

    img {

      @include bp($bp-ipad-1024) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.b-product-el__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  width: calc(100% + 60px);
  margin-left: -30px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 0;
  }

  .product-card {
    margin: 0 30px 40px;
    width: 265px;
  }

  .product-card__desc {
    font-size: 14px;
    font-weight: 500;
    color: #989898;

    @include bp($bp-ipad-1024) {
      margin-top: 4px;
      font-size: 9px;
      line-height: 1.3;
    }
  }

  .product-card__title {
    font-size: 14px;
    font-weight: 500;
    color: #111111;

    @include bp($bp-ipad-1024) {
      font-size: 9px;
      line-height: 1.3;
    }
  }
}


.b-product-el__list--col-3 {
  justify-content: flex-start;
  width: calc(100% + 40px);
  margin-left: -20px;

  .product-card {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100%/3 - 40px);

    h3 {
      font-family: $fontBold;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: #000000;
      margin-bottom: 0;

      @include bp($bp-ipad-768) {
        font-size: 9px;
        line-height: 1.3;
      }
    }
  }
}

.b-product-el__list {

  @include bp($bp-ipad-1024) {
    width: calc(100% + 15px);
    margin-left: -7.5px;
  }

  .product-card {
      @include bp($bp-ipad-1024) {
      width: calc(100% / 3);
      padding: 0 7.5px;
      margin: 0 0 15px;
    }
  }
}

.b-product-image {
  margin: 96px 0 72px;

  @include bp($bp-ipad-1024) {
    margin: 30px 0 15px;
  }

  .slick-arrow {
    display: block;
    position: absolute;
    top: -64px;
    bottom: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
    z-index: 20;
    padding: 0;
    cursor: pointer;
    margin: auto;
  }

  .slick-prev {
    left: 40px;
    right: auto;
    @include svg-i-arrow-left
  }

  .slick-next {
    right: 40px;
    left: auto;
    transform: rotate(180deg);
    @include svg-i-arrow-left
  }
}

.b-product-image__img {
  padding-top: 35px;

  @include bp($bp-ipad-1024) {
    padding-top: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.b-product-image--slider {
  margin-top: 0;

  .b-product-image__img {
    padding-top: 0;
  }
}

.b-product-image__item {
  h3 {
    font-family: $fontBold;
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }

  span {
    display: block;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    color: #7b7b7b;
  }
}

.b-product-categories {
  width: 100%;
  margin-bottom: 122px;

  @include bp($bp-ipad-1024) {
    width: 100vw;
    margin: 0 -15px 30px;
  }

  .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 0;
    background-color: $yellow;
    border: none;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    outline: none;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .slick-next {
    transform: rotate(180deg);
    right: -55px;

    &:after {
      @include svg-arrow-left-blog;
    }

    @include bp($bp-1280) {
      right: -15px;
    }
  }

  .slick-prev {
    left: -55px;

    &:after {
      @include svg-arrow-left-blog;
    }

    @include bp($bp-1280) {
      left: -15px;
    }
  }
}

.b-product-categories__list {
  position: relative;
  width: 100%;
  //display: flex;
  //justify-content: space-between;

  @include bp($bp-1280) {
    padding: 0 50px;
  }

  @include bp($bp-ipad-1024) {
    padding: 0;
  }

  &:before,
  &:after {

    @include bp($bp-ipad-1024) {
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      content: '';
      display: block;
      width: 20px;
      background: radial-gradient(20px 50px at 100% 52.84%, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }

  &:before {
    left: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &:after {
    right: 0;
  }

  @include bp($bp-480) {
    .slick-slide {
      width: 124px;
    }
  }
}

.b-product-categories__item {
  width: calc(100%/6);
  text-align: center;
  padding: 0 5px;

  @include bp($bp-ipad-1024) {
    width: calc(100%/4);
  }

  @include bp($bp-ipad-768) {
    max-width: 140px;
    padding: 0 10px;
  }

  div {
    margin: auto;
    width: 121px;
    height: 121px;
    background-color: #edeef4;
    border-radius: 100%;

    @include bp($bp-ipad-768) {
      width: 45px;
      height: 45px;
    }
  }

  span {
    margin-top: 17px;
    display: block;
    font-family: $fontBold;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    text-align: center;
    color: #111111;

    @include bp($bp-ipad-768) {
      font-family: $fontNormal;
      margin-top: 12px;
      font-weight: normal;
      font-size: 11px;
      line-height: 1.1;
    }
  }

  img {
    width: 121px;
    height: 121px;

    @include bp($bp-ipad-768) {
      width: 45px;
      height: 45px;
    }
  }
}

.b-product-table {
  margin-bottom: 70px;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  &--tb {
    display: none;

    @include bp($bp-ipad-1024) {
      display: block;
      margin-bottom: 36px;
    }
  }
}

.b-product-table__tabs {
  display: flex;
  width: 100%;
  border-bottom: 7px solid transparent;
}

.b-product-table__tabs-item {
  position: relative;
  font-family: $fontBold;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  text-align: left;
  color: #000000;
  margin-right: 38px;
  padding-bottom: 24px;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    width: calc(100% + 38px);
    height: 7px;
    position: absolute;
    left: 0;
    bottom: -7px;
    background-color: #edeef4;
  }

  &.active {
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 7px;
      background-color: #e3de03;
      position: absolute;
      left: 0;
      bottom: -7px;
    }
  }

  &:last-child {
    &:before {
      width: calc(100% + 4px);
    }

    &.active {
      &:after {
        width: calc(100% + 4px);
      }
    }
  }
}

.b-product-table__content {
  position: relative;

  & > div {
    display: none;

    &.active {
      display: block;
    }
  }

  table th:first-child,
  table tr td:first-child {
    position: absolute;
    left: 0;
    width: 370px;
    height: auto;

    @include bp($bp-ipad-1024) {
      position: static;
      max-width: 214px;
    }
  }

  table {
    margin-left: 370px;

    @include bp($bp-ipad-1024) {
      width: 100%;
      margin-left: 0;
      border: 1px solid #EBEBEB;
    }

    span {
      cursor: pointer;
    }

    tr {
      background-color: #f4f5fc;

      &:last-child {
        th {
          &:nth-child(1) {
            border-bottom: 1px solid #edeef4;
          }
        }
      }

      th {
        &:first-child {
          background-color: #fff;
          border-left: 1px solid #edeef4;
        }
      }

      &:nth-child(odd) {
        background-color: #fcfcfe;

        th {
          &:first-child {
            background-color: inherit;
          }
        }
      }

      th {
        padding: 15px 20px 12px;
        min-height: 42px;
        font-family: $fontNormal;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        text-align: left;
        color: #000000;
        border-right: 1px solid #edeef4;
        min-width: 156px;
        white-space: nowrap;
        overflow: hidden;
      }

      td {
        min-width: 250px;
        padding: 15px 20px 12px;
        font-family: $fontNormal;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: rgba(4, 4, 4, 0.8);
        border-right: 1px solid #edeef4;
        white-space: nowrap;
        vertical-align: top;

        @include bp($bp-ipad-1024) {
          padding: 12px 10px 12px 16px;
          white-space: initial;
        }

        @include bp($bp-ipad-768) {
          min-width: initial;
          font-size: 11px;
          line-height: 1.1;
        }
      }
    }
  }

  .b-product-table__dropdown & {

    @include bp($bp-ipad-1024) {
      display: none;
    }
  }
}

.b-product-table__first {
  overflow: auto;
}

.b-product-table__second {
  overflow: auto;

  table {

    tr {
      th {
        font-family: $fontBold;
        font-weight: 500;
      }
    }
  }
}

.b-product-table__third {
  overflow: auto;

  .b-blog__price {
    padding-top: 60px;
    padding-left: 46px;
    background-color: #f4f5fc;
    margin-bottom: 0;
  }

  .b-price {
    z-index: 100;
  }
}

.b-product-table--img {
  tr:first-child td {
    padding: 0px;
    background-color: #FFF;
  }

  tr:nth-child(2) td,
  tr:nth-child(2) td:first-child,
  tr:nth-child(2) th:first-child {
    height: 107px;
    white-space: normal;
  }

  tr:first-child th,
  tr:first-child td img {
    height: 77px;
  }
}

.b-product-table__dropdown {

  &:last-child {
    margin-bottom: 0;
  }

  @include bp($bp-ipad-1024) {
    margin-bottom: 20px;
  }
}

.b-product-table__dropdown h3 {

  @include bp($bp-ipad-1024) {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 15px;
    font-family: $fontBold;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;

    &:after {
      display: block;
      margin-left: 20px;
      content: '';
      @include svg-arrow-down-black;
      transform: rotate(-90deg);
      transition: transform .3s ease-in-out;
    }
  }
}

.b-product-table__dropdown.open h3 {
  &:after {
    transform: rotate(0);
  }
}

.b-blog__price {}

.b-product-more {
  margin-bottom: 70px;

  .product-card {
    margin-bottom: 40px;

    .product-card__img {
      border: solid 1px #e2e2e2;
    }
  }
}

.b-product-more--single {
  .product-card {
    margin-bottom: 8px;
  }
}

.b-product-more__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  .product-card {
    width: 286px;
    text-align: center;

    img {
      margin: auto;
      padding: 24px 0;
    }
  }
}

.b-product-journal {
  margin-bottom: 90px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 30px;
    overflow: hidden;
  }
}

.b-product-journal__list {
  display: flex;
  justify-content: space-between;

  @include bp($bp-ipad-1024) {
    flex-wrap: wrap;
    width: calc(100% + 10px);
    margin-left: -5px;
  }

  .product-card {
    width: 286px;

    @include bp($bp-ipad-1024) {
      width: calc(100% / 2);
      padding: 0 5px;
      margin-bottom: 15px;
    }

    &:nth-child(n + 3) {
      @include bp($bp-1280) {
        display: none;
      }
    }
  }

  .product-card__img {

    @include bp($bp-ipad-1024) {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 100%;
    }
  }

  .product-card__desc {

    @include bp($bp-ipad-1024) {
      display: none;
    }
  }
  .product-card__desc--mobile {
    display: none;
    @include bp($bp-ipad-1024) {
      display: block;
      margin-top: 2px;
    }
  }
}

.b-product-slider__product-slider {
  position: relative;
  height: 100%;
}

.b-product-slider {
  h2 {
    font-family: $fontBold;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.1px;
    text-align: left;
    color: #000000;
    margin-top: 0;
    margin-bottom: 36px;
    padding-left: calc((100vw - 1240px)/2);

    @include bp($bp-ipad-1024) {
      padding-left: 30px;
    }

    @include bp($bp-ipad-768) {
      margin-bottom: 16px;
      font-size: 22px;
      line-height: 1.1;
    }
  }

  &--show-room {

    h2 {
      @include bp($bp-ipad-1024) {
        display: none;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    display: block;
    font-size: 0;
    background-color: transparent;
    width: 34px;
    height: 24px;
    background-size: contain;
    background-image: url('../images/icon/arrow-slider-left.png');
    padding: 0;
    border: none;
    z-index: 100;
    cursor: pointer;

    @include bp($bp-ipad-1024) {
      width: 30px;
      height: 30px;
      background: rgba(0, 0, 0, .6);
      box-shadow: 0px 1px 7px rgba(0, 0, 0, .3);
      border-radius: 50%;
    }

    &:after {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      margin: auto;
      content: '';
      @include svg-arrow-left--tb;

      @include bp($bp-ipad-1024) {
        display: block;
      }
    }
  }

  .slick-active {
    span {
      opacity: 1;
    }

    .product-slider__img {
      &:after {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }

  .slick-prev {
    top: 0;
    left: 292px;
    bottom: 0;
    margin: auto;
    outline: none;

    @include bp($bp-ipad-1024) {
      left: 17px;
    }
  }

  .slick-next {
    top: 0;
    transform: rotate(180deg);
    right: 292px;
    bottom: 0;
    margin: auto;
    outline: none;

    @include bp($bp-ipad-1024) {
      right: 17px;
    }
  }
}

.product-slider {
  display: flex;

  @include bp($bp-ipad-1024) {
    width: 100vw;
    height: calc(175 / 360 * 100vw);
    min-height: 175px;
  }

  .slick-track,
  .slick-slide,
  .slick-slide > div {
    @include bp($bp-ipad-1024) {
      height: 100%;
    }
  }

  .b-product-slider--show-room & {

    @include bp($bp-ipad-1024) {
      height: 100vw;
      min-height: 100vw;
    }
  }
}

.b-product-slider__arrow {
  position: absolute;
  width: 100%;
  height: 100%;
}

.b-product-slider__arrow-v2 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.product-slider__item {
  padding: 0 52px;

  @include bp($bp-ipad-1024) {
    position: relative;
    height: 100%;
    padding: 0;
  }

  span {
    display: block;
    font-family: $fontNormal;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #5c5c5c;
    margin-top: 19px;
    transition: 0.3s ease all;
    opacity: 0;

    @include bp($bp-ipad-1024) {
      color: #fff;
      position: absolute;
      left: 30px;
      bottom: 28px;
    }

    @include bp($bp-ipad-768) {
      font-size: 12px;
      line-height: 1;
    }
  }
}
.product-slider__item-text {

  @include bp($bp-ipad-1024) {
    position: absolute;
    left: 30px;
    bottom: 28px;
    max-width: 345px;
  }

  @include bp($bp-ipad-768) {
    max-width: 230px;
  }

  h3 {
    display: none;

    @include bp($bp-ipad-1024) {
      display: block;
      margin-top: 0;
      margin-bottom: 6px;
      font-family: $fontBold;
      font-size: 36px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -0.1px;
      text-align: left;
      color: #fff;
    }

    @include bp($bp-ipad-768) {
      margin-bottom: 14px;
      font-size: 22px;
      line-height: 1.18;
    }
  }

  span {

    @include bp($bp-ipad-1024) {
      position: static;
      max-width: 345px;
    }
  }
}

.product-slider__img {
  position: relative;

  @include bp($bp-ipad-1024) {
    width: 100%;
    height: 100%;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease all;
  }

  img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;

    @include bp($bp-ipad-1024) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.b-product-gallery {
  margin-bottom: 72px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 15px;
  }

  button {
    position: relative;

    span {
      transition: .3s ease-in-out all;
    }

    &.active {
      background-color: rgba(227, 222, 3, 0.8);

      span {
        opacity: 0;
      }
    }
  }

  .preloader {
    top: 0;
    width: 24px;
    height: 24px;

    div {

      &:before,
      &:after {
        border: 2px solid #747474;
      }
    }
  }
}


.b-product-gallery__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 0;
  }
}

.b-product-gallery__item {
  margin-right: 80px;
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    position: relative;
    width: calc(100% / 3 - 15px + 15px / 3);
    height: 0;
    padding-top: calc(100% / 3 - 15px + 15px / 3);
    margin-bottom: 15px;
    margin-right: 15px;

    &:nth-child(4) {
      display: none;
    }
  }


  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-child(3n) {

    @include bp($bp-ipad-1024) {
      margin-right: 0;
    }
  }

  img {

    @include bp($bp-ipad-1024) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //width: calc((100%/4)- ((3 * 40px)/3));
  //width: calc((100%/4)- ((3 * 40px)/3));
}

.b-product-gallery__popup {
  .mfp-arrow {
    margin-top: 0;
    top: 40px;
    width: calc(50% + 45px);
    height: calc(100% - 80px);
    opacity: .9;

    @include bp($bp-ipad-1024) {
      top: 50%;
      width: 30px;
      height: 30px;
      background: rgba(0, 0, 0, .6);
      box-shadow: 0px 1px 7px rgba(0, 0, 0, .3);
      border-radius: 50%;
    }


    &:after {
      display: none;
    }

    @include bp($bp-ipad-1024) {

    }
  }

  .mfp-arrow-left {
    left: -45px;

    @include bp($bp-ipad-1024) {
      left: 0;
      transform: translate(-50%, -50%);
    }

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border: none;
      opacity: 1;
      margin: auto;
      @include svg-i-left-arrow_white-gallery;
      transition: .3s ease-in-out all;
      z-index: 10000;

      @include bp($bp-ipad-1024) {
        right: 0;
        @include svg-arrow-left--tb;
      }
    }
  }

  .mfp-arrow-right {
    right: -45px;

    @include bp($bp-ipad-1024) {
      right: 0;
      transform: translate(50%, -50%);
    }

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: auto;
      right: 0;
      border: none;
      opacity: 1;
      margin: auto;
      transform: rotate(180deg);
      @include svg-i-left-arrow_white-gallery;
      transition: .3s ease-in-out all;
      z-index: 10000;

      @include bp($bp-ipad-1024) {
        left: 0;
        @include svg-arrow-left--tb;
      }
    }
  }

  &--color {
    .mfp-arrow {

    }

    .mfp-arrow-right {
      @include bp($bp-640) {
        right: 25px;
      }
    }

    .mfp-arrow-left {
      @include bp($bp-640) {
        left: 25px;
      }
    }

    .mfp-close {

    }

    .mfp-container {

      @include bp($bp-640) {
        padding: 10px !important;
      }
    }

    .mfp-content,
    .mfp-figure,
    .mfp-figure figure,
    .mfp-figure img.mfp-img {
      //
      //@include bp($bp-ipad-1024) {
      //  width: 100%;
      //  height: 100%;
      //}
    }

    .mfp-figure img.mfp-img {

      //@include bp($bp-ipad-1024) {
      //  max-height: none !important;
      //  object-fit: cover;
      //}
    }

    figcaption {
      display: none;

      //@include bp($bp-ipad-1024) {
      //  position: absolute;
      //  top: 30px;
      //  left: 15px;
      //  display: block;
      //  width: 100%;
      //  font-family: LetoSans;
      //  font-size: 22px;
      //  line-height: 26px;
      //  text-transform: uppercase;
      //  color: #FFFFFF;
      //  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
      //}

      .mfp-bottom-bar {

        //@include bp($bp-ipad-1024) {
        //  display: flex;
        //  align-items: center;
        //}

        &:before {

          //@include bp($bp-ipad-1024) {
          //  display: block;
          //  width: 30px;
          //  height: 30px;
          //  margin-right: 20px;
          //  content: '';
          //  background: rgba(13, 14, 16, .6);
          //  box-shadow: 0px 1px 7px rgba(0, 0, 0, .3);
          //  border-radius: 50%;
          //}
        }

        &:after {

          //@include bp($bp-ipad-1024) {
          //  position: absolute;
          //  left: 15px;
          //  top: 50%;
          //  display: block;
          //  content: '';
          //  @include svg-back;
          //  transform: translate(-50%, -50%);
          //}
        }
      }
    }
  }
}


.b-product-journal--error {
  margin-bottom: 36px;
  h2 {
    color: #4B4B4B;
  }
}

.b-product-journal__list .product-card__img img {
  max-width: 286px;
  //height: 160px;
  object-fit: cover;

  @include bp($bp-ipad-1024) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    height: 100%;
    object-fit: cover;
  }
}

.b-product-yt {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 100px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 30px;
  }
}
.b-product-yt iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.b-product__other {
  display: block;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  &--tb {
    display: none;

    &:last-child {
      margin-bottom: 0;
    }

    @include bp($bp-ipad-1024) {
      display: block;
      margin-bottom: 30px;
      text-align: center;
    }

    .b-product__full-bg & {
      padding: 11px 0 15px;
    }

    .b-detail-body & > h2 {

      @include bp($bp-ipad-1024) {
        padding-left: 15px;
        text-align: left;
      }

      @include bp($bp-ipad-768) {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 1.1;
      }
    }

    ul {
      padding: 0;
      padding-left: 10px;
      margin: 0;
      margin-left: 20px;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    li {
      margin-bottom: 16px;
      text-align: left;
      color: #484848;

      &:last-child {
        margin-bottom: 0;
      }
    }

    li a {
      font-family: $fontNormal;
      color: inherit;
      font-size: 12px;
      line-height: 1.3;
    }
  }
}

.b-product-more--hidden-mobile {
  @include bp($bp-ipad-1024) {
    display: none;
  }
}
