.b-select-filter {
  margin-bottom: 84px;
}

.b-select-filter__wrap {
  display: flex;
  justify-content: space-between;
}

.b-select-filter__item {
  position: relative;
  width: calc((100%/5) - ((4 * 16px)/4));
  cursor: pointer;

  &.checked {
    .b-select-filter__block {
      background-color: $yellow;
    }

    .b-select-filter__close {
      opacity: 1;
      visibility: visible;
    }
  }

  &:after {
    content: '';
    position: absolute;
    right: 17px;
    bottom: 19px;
    margin: auto;
    @include svg-arrow-down;
    transition: 0.3s ease all;
  }

  &:last-child {
    margin-right: 0;
  }

  &.active {
    &:after {
      transform: rotateX(180deg);
    }
  }
}

.b-select-filter__block {
  width: 100%;
  height: 75px;
  background-color: #eeeeee;
  box-shadow: 0px 2px 3px 0 rgba(18, 18, 18, 0.24);
  transition: 0.3s ease all;
}

.b-select-filter__close {
  position: absolute;
  top: 18px;
  right: 19px;
  z-index: 10;
  @include svg-close_filter_black;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease all;
}

.b-select-filter__name {
  padding-top: 17px;
  font-family: $fontNormal;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #747474;
  padding-left: 16px;
  -webkit-font-smoothing: antialiased;
}

.b-select-filter__select {
  padding-top: 11px;
  font-family: $fontBold;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
  padding-left: 16px;
  padding-right: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 27px;
  -webkit-font-smoothing: antialiased;
}

.b-select-filter__dropdown {
  position: absolute;
  width: 100%;
  top: 99%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #eeeeee;
  box-shadow: 0px 3px 3px 0 rgba(18, 18, 18, 0.24);
  padding: 0 17px 24px;
  transition: 0.3s ease all;
  z-index: 100;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  button {
    padding-right: 37px;
    padding-left: 37px;
  }
}

.b-select-filter__dropdown-wrap {
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow: hidden;
  padding-right: 10px;

  &.mCustomScrollbar {
    padding-top: 3px;
  }

  .mCSB_outside + .mCSB_scrollTools {
    right: -12px;
  }

  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #6a6a6a;
  }

  &.hidden-checkbox {
    .b-select-filter__checkbox {
      opacity: 0.25;

      label {
        cursor: default;
      }

      &.active {
        opacity: 1;

        label {
          cursor: pointer;
        }
      }
    }
  }
}

.b-select-filter__checkbox {
  position: relative;
  margin: 8px 0;
  transition: 0.3s ease all;

  label {
    position: relative;
    padding-left: 24px;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
    cursor: pointer;
    transition: 0.3s ease all;
    margin-bottom: 0;

    &:after {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      display: block;
      width: 13px;
      height: 13px;
      border: solid 1px #b8b8b8;
      transition: 0.3s ease all;
    }
  }
  input {
    display: none;

    &:checked {
      & + label {
       &:after {
         border: solid 1px $yellow;
         background-color: $yellow;
       }
       &:before {
         content: '';
         position: absolute;
         top: -1px;
         left: 2px;
         width: 16px;
         height: 14px;
         background-size: contain;
         background-repeat: no-repeat;
         background-image: url('../images/icon/verification_mark.svg');
         z-index: 10;
       }
      }
    }
  }
}

.b-select-filter--col-4 {
  margin-top: 40px;

  .b-select-filter__item {
    width: calc((100% / 4) - ((3 * 16px) / 4));
  }
}
