.b-single-card {
  display: flex;
  position: relative;

  @include bp($bp-ipad-1024) {
    height: 100%;
  }

  &:before {

    @include bp($bp-ipad-1024) {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.93%, rgba(0, 0, 0, .65) 100%);
    }
  }
} 

.b-single-card__img {

  img {
    max-width: 100%;
    height: auto;

    @include bp($bp-ipad-1024) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
}

.b-single-card__content {
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  transform: translateY(-50%);
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 46px;
  padding-left: 62px;
  padding-right: 59px;
  box-shadow: 0px 5px 11.2px 2.8px rgba(18, 18, 18, 0.1);

  @include bp($bp-ipad-1024) {
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    padding: 0 0 24px 30px;
    background: transparent;
    box-shadow: none;
    transform: none;
  }

  h2 {
    font-family: $fontBold;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;

    @include bp($bp-ipad-1024) {
      color: #fff;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, .9);
    }

    @include bp($bp-ipad-768) {
      margin-bottom: 10px;
      font-size: 22px;
      line-height: 1.1;
    }
  }

  p {
    font-family: $fontNormal;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #5c5c5c;
    margin-top: 0;
    margin-bottom: 30px;

    @include bp($bp-ipad-1024) {
      color: #fff;
    }

    @include bp($bp-ipad-768) {
      margin-bottom: 0;
      font-size: 11px;
      line-height: 1.18;
    }
  }

  a {
    color: #000;
  }

  .card__list {
    margin-bottom: 34px;
  }

  .card__list ul li {
    line-height: 1.43;
    margin-bottom: 19px;
    color: #000;

    a {
      &:hover {
        color: #000;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:after {
      top: 5px;
      bottom: auto;
    }
  }
}

.b-single-card__color {
  margin-bottom: 46px;
  display: flex;

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-single-card__color-item {
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }

  img {
    width: 100%;
    height: 100%;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    height: 14px;
    font-family: $fontNormal;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    z-index: 10;
  }
}

.b-single-card__color-item--popup {
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
  }
}

.b-single-card--8 {
  width: grid-width(8);
}

.b-single-card--5 {
  width: grid-width-no-margin(5);
}

.b-single-card--r-4 {
  margin-right: grid-width(4);
}

.b-single-card .btn {

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-single-card__img {

  @include bp($bp-ipad-1024) {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }
}

.b-single-card__content {

  @include bp($bp-ipad-1024) {
    width: 100%;
    max-width: 316px;
  }
}