.b-slider-filter {
  width: 100%;
  background-color: #000000;
  margin-top: -40px;
  margin-bottom: 120px;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  &.scroll {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    z-index: 100;
  }
}
#sub-scroll {
  width: 100%;
  height: 54px;
  margin-top: -40px;

  @include bp($bp-ipad-1024) {
    display: none;
  }
}
.b-slider-filter__wrap {

}

.b-slider-filter__list {
    display: flex;
  //justify-content: space-between;

  .slick-arrow {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
    z-index: 20;
    padding: 0;
    cursor: pointer;
    margin: auto;
  }

  .slick-prev {
    left: -36px;
    right: auto;
    @include svg-arrow_left_slider-top
  }

  .slick-next {
    right: -36px;
    left: auto;
    transform: rotate(180deg);
    @include svg-arrow_left_slider-top
  }

  .slick-slide {
    outline: none;
    &:hover {
      .b-slider-filter__item {
        color: rgba(255, 255, 255, 0.7);
      }
    }
    &:active {
      .b-slider-filter__item {
        color: #ffffff;
      }
    }
  }

  .slick-active {
    .b-slider-filter__item {
      color: #ffffff;
    }
    &:hover {
      .b-slider-filter__item {
        color: #ffffff;
      }
    }
  }
}

.b-slider-filter__item {
  display: inline-block;
  font-family: $fontNormal;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: rgba(145, 145, 145, 0.7);
  text-transform: uppercase;
  transition: 0.3s ease all;
  padding: 20px 16px;
  cursor: pointer;

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }

  &:hover {
    color: #ffffff;
  }

  &.active {
    color: #ffffff;
  }
  &.js-anchor--last {
    opacity: 0;
    transition: .1s ease-in all;
  }
  &.show {
    opacity: 1;
  }
}

.b-slider-filter--company {
  height: 54px;
  margin-bottom: 0;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  .b-slider-filter__list {
    justify-content: flex-start;
  }

  .b-slider-filter__item {
    color: rgba(145, 145, 145, 1);

    &:hover {
      color: #fff;
    }
  }
}
