.b-tabs-label {
  position: absolute;
  bottom: 18px;
  right: 26px;
}

.b-tabs-label__list {
  display: flex;
}

.b-tabs-label__item  {
  font-family: $fontNormal;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 19px 6px;
  background-color: rgba(0,0,0,0.7);
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s ease all;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: #e3de03;
    color: #747474;
  }
}

.b-tabs-label__item--active {
  background-color: #e3de03;
  color: #747474;
}