.b-tooltip {
  position: absolute;
  padding: 30px;
  background-color: #fff;
  width: 100%;
  max-width: 460px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
  transition: .3s ease-in-out all;
  z-index: 1000;

  //&:after {
  //  content: '';
  //  display: block;
  //  position: absolute;
  //  top: 12px;
  //  left: -14px;
  //  margin: auto;
  //  width: 14px;
  //  height: 14px;
  //  border-top: 7px solid transparent;
  //  border-left: 7px solid transparent;
  //  border-right: 7px solid black;
  //  border-bottom: 7px solid transparent;
  //  opacity: .7;
  //}

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.b-tooltip__wrap {
  font-family: $fontNormal;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  color: #fff;
}

.b-tooltip__title {

  font-family: $fontBold;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0.05em;
  margin-bottom: 10px;

  color: #000000;
}

.b-tooltip__text {
  font-family: $fontNormal;
  line-height: 20px;
  font-size: 12px;
  color: #5C5C5C;
}


.b-tooltip__close {
  cursor: pointer;
  position: absolute;
  top: -18px;
  right: -18px;
  @include svg-i-close-popup_mini;
}

.b-tooltip-color {

}

.b-tooltip-color__wrap {

}

.b-tooltip-color__title {

}

.b-tooltip-color__gallery {

}
