//
//#map-left, #map-right {
//  width: 100%;
//  max-width: 615px;
//  height: 294px;
//
//  @include bp($bp-ipad-1024) {
//    max-width: none;
//    height: calc(180 / 360 * 100vw);
//  }
//
//  // @include bp($bp-ipad-768) {
//  //   max-width: 100%;
//  // }
//
//  // @include bp($bp-640) {
//  //   height: 140px;
//  // }
//}
////
////.select-city {
////  width: 100%;
////  display: flex;
////  align-items: flex-start;
////  justify-content: space-between;
////}
////
////
////.select-city__region {
////  margin-bottom: 32px;
////  @include bp($bp-ipad-768) {
////    margin-bottom: 16px;
////  }
////
////  p {
////    font-family: 'LetoSans';
////    display: block;
////    font-weight: bold;
////    font-size: 12px;
////    line-height: 1;
////    color: rgba(255, 255, 255, 0.5);
////    margin-bottom: 12px;
////
////    @include bp($bp-ipad-768) {
////      font-size: 10px;
////      margin-bottom: 2px;
////    }
////  }
////
////}
////
////.select-city__item {
////  font-family: 'LetoSans';
////  position: relative;
////  font-size: 16px;
////  line-height: 20px;
////  color: #ffffff;
////  padding: 7px 0;
////
////  @include bp($bp-ipad-768) {
////    font-size: 10px;
////  }
////
////  &.active {
////    span {
////      position: relative;
////      &:after {
////        content: '';
////        display: block;
////        position: absolute;
////        bottom: -4px;
////        left: 0;
////        width: 100%;
////        height: 3px;
////        background-color: $yellow;
////      }
////    }
////
////  }
////}
//
//.b-block__contacts-slider {
//  position: absolute;
//  top: 90px;
//  left: 20px;
//  display: flex;
//  flex-direction: column;
//  align-items: flex-end;
//  margin-bottom: 20px;
//
//  @include bp($bp-ipad-1024) {
//    display: none;
//  }
//
//  // @include bp($bp-ipad-768) {
//  //   display: none;
//  //   top: 110px;
//  //   padding-top: 10px;
//  //   padding-left: 55px;
//  //   width: 220px;
//  //   background: rgba(32, 32, 32, 0.85);
//  //   z-index: 1000;
//  // }
//
//  // @include bp($bp-640) {
//  //   top: 47px;
//  // }
//
//  &.active {
//    display: block;
//  }
//
//  .select-city {
//    flex-direction: column;
//  }
//
//  .select-city__item {
//    display: block;
//    font-family: 'LetoSans';
//    font-size: 16px;
//    font-weight: bold;
//    font-style: normal;
//    font-stretch: normal;
//    line-height: 1;
//    letter-spacing: normal;
//    text-align: left;
//
//    @include bp($bp-ipad-768) {
//      font-size: 14px;
//      padding: 4px 0;
//    }
//
//    &.active {
//      &:after {
//        display: none;
//      }
//    }
//
//  }
//}
//
////.select-city--tb {
////  display: none;
////
////  &:last-child {
////    margin-bottom: 0;
////  }
////
////  @include bp($bp-ipad-1024) {
////    position: relative;
////    display: block;
////    padding: 0 15px;
////    margin-bottom: 28px;
////  }
////
////  &:after {
////    position: absolute;
////    top: 0;
////    bottom: 0;
////    right: 35px;
////    display: block;
////    margin: auto 0;
////    content: '';
////    @include svg-arrow-select;
////  }
////}
////
////.select-city--tb select {
////  width: 100%;
////  height: 42px;
////  padding: 0 20px 0 15px;
////  background: #fff;
////  border: 2px solid rgba(0, 0, 0, .25);
////  -webkit-appearance: none;
////     -moz-appearance: none;
////          appearance: none;
////  font-family: $fontNormal;
////  font-size: 12px;
////  line-height: 38px;
////  color: #7A7A7A;
////
////  &::-ms-expand {
////      display: none;
////  }
////}
//
////.b-block__map {
////  display: flex;
////  flex-direction: column;
////  width: 100%;
////  padding-top: 81px;
////  padding-left: 318px;
////  padding-bottom: 80px;
////
////  @include bp($bp-ipad-1024) {
////    // padding-left: 240px;
////    // padding-top: 60px;
////    // padding-bottom: 60px;
////    padding: 0;
////  }
////
////  // @include bp($bp-ipad-768) {
////  //   padding-top: 40px;
////  //   padding-bottom: 30px;
////  //   padding-left: 0;
////  // }
////
////  // @include bp($bp-640) {
////  //   padding-top: 24px;
////  //   padding-bottom: 23px;
////  // }
////
////  h3 {
////    font-family: 'LetoSans';
////    font-size: 18px;
////    font-weight: 500;
////    font-style: normal;
////    font-stretch: normal;
////    line-height: 1;
////    letter-spacing: normal;
////    text-align: left;
////    color: #000000;
////    margin-top: 0;
////    margin-bottom: 16px;
////  }
////}
////
////.b-block__map-city {
////  position: relative;
////  font-family: 'LetoSans';
////  font-style: normal;
////  font-weight: bold;
////  line-height: 64px;
////  font-size: 56px;
////  letter-spacing: 0.04em;
////  color: #fff;
////
////  // @include bp($bp-ipad-768) {
////  //   display: inline-block;
////  //   line-height: 54px;
////  //   font-size: 40px;
////  // }
////
////  // @include bp($bp-640) {
////  //   line-height: 25px;
////  //   font-size: 21px;
////  //   letter-spacing: 0.01em;
////  // }
////
////  &:after {
////    content: '';
////    display: none;
////    position: absolute;
////    top: 22px;
////    right: -41px;
////
////    border-bottom: 15px solid transparent;
////    border-left: 15px solid transparent;
////    border-right: 15px solid transparent;
////    border-top: 15px solid $white;
////
////    // @include bp($bp-ipad-768) {
////    //   display: block;
////    // }
////    // @include bp($bp-640) {
////    //   top: 9px;
////    //   right: -29px;
////    //   border-width: 8px;
////    // }
////  }
////
////
////}
////
////.b-block__map-center {
////  margin-top: 30px;
////  display: flex;
////  align-items: flex-end;
////  margin-bottom: 38px;
////
////  // @include bp($bp-ipad-768) {
////  //   margin-top: 20px;
////  //   margin-bottom: 20px;
////  // }
////
////  // @include bp($bp-640) {
////  //   margin-top: 9px;
////  //   margin-bottom: 16px;
////  // }
////}
////
////.b-block__map-phone {
////  line-height: 30px;
////  font-family: 'LetoSans';
////  font-size: 30px;
////  letter-spacing: 0.04em;
////  color: #fff;
////  font-weight: bold;
////
////  // @include bp($bp-ipad-768) {
////  //   font-size: 24px;
////  //   line-height: 24px;
////  // }
////
////  // @include bp($bp-640) {
////  //   font-size: 12px;
////  //   line-height: 1;
////  //   letter-spacing: 0.04em;
////  // }
////}
////
////.b-block__map-email {
////  font-weight: bold;
////  line-height: 12px;
////  font-size: 12px;
////  letter-spacing: 0.04em;
////  color: rgba(255, 255, 255, 0.5);
////  text-decoration: underline;
////  margin-left: 40px;
////  margin-bottom: 4px;
////
////  // @include bp($bp-640) {
////  //   font-size: 10px;
////  //   letter-spacing: 0.04em;
////  //   margin-bottom: 0;
////  //   margin-left: 30px;
////  // }
////}
////
////.b-block__map-left {
////  width: 100%;
////  position: relative;
////  h3 {
////    font-family: 'LetoSans';
////    position: absolute;
////    top: 15px;
////    left: 0;
////    padding: 4px 25px;
////    background: rgba(35, 38, 43, 0.6);
////    font-style: normal;
////    font-weight: bold;
////    line-height: 24px;
////    font-size: 16px;
////    letter-spacing: 0.04em;
////    z-index: 100;
////    color: #FFFFFF;
////    margin: 0;
////
////    @include bp($bp-ipad-1024) {
////      position: static;
////      padding: 0 15px;
////      margin-bottom: 14px;
////      background: none;
////      color: #232323;
////      font-size: 18px;
////      line-height: 1.1;
////    }
////
////    // @include bp($bp-640) {
////    //   top: 10px;
////    //   font-size: 9px;
////    //   line-height: 18px;
////    //   padding: 0px 13px;
////    // }
////  }
////}
////
////.b-block__map-right {
////  margin-top: 34px;
////  width:100%;
////  position: relative;
////
////  @include bp($bp-ipad-1024) {
////    margin-top: 30px;
////  }
////
////  // @include bp($bp-640) {
////  //   margin-top: 24px;
////  // }
////
////  h3 {
////    font-family: 'LetoSans';
////    position: absolute;
////    top: 15px;
////    left: 0;
////    padding: 4px 25px;
////    background: rgba(35, 38, 43, 0.6);
////    font-style: normal;
////    font-weight: bold;
////    line-height: 24px;
////    font-size: 16px;
////    letter-spacing: 0.04em;
////    z-index: 100;
////
////    color: #FFFFFF;
////    margin: 0;
////
////    @include bp($bp-ipad-1024) {
////      position: static;
////      padding: 0;
////      margin: 14px;
////      background: none;
////      color: #232323;
////      font-size: 18px;
////      line-height: 1.1;
////    }
////
////    // @include bp($bp-640) {
////    //   top: 10px;
////    //   font-size: 9px;
////    //   line-height: 18px;
////    //   padding: 0px 13px;
////    // }
////  }
////}
////
////.b-block__map-contacts {
////  min-height: 40px;
////  margin-top: 22px;
////
////  @include bp($bp-ipad-1024) {
////    padding: 0 0 0 15px;
////    margin-top: 18px;
////  }
////
////  // @include bp($bp-640) {
////  //   margin-top: 8px;
////  //   min-height: auto;
////  // }
////
////  & > div {
////    font-family: 'LetoSans';
////    font-size: 16px;
////    font-weight: bold;
////    font-style: normal;
////    font-stretch: normal;
////    line-height: normal;
////    letter-spacing: normal;
////    text-align: left;
////    color: #fff;
////    margin-bottom: 10px;
////
////    @include bp($bp-ipad-1024) {
////      margin-bottom: 14px;
////      color: #484848;
////    }
////
////    @include bp($bp-ipad-768) {
////      font-size: 12px;
////      line-height: 1.6;
////    }
////
////    // @include bp($bp-640) {
////    //   line-height: 14px;
////    //   font-size: 9px;
////    //   letter-spacing: 0.04em;
////    //   margin-bottom: 0;
////    // }
////    a {
////      color: #fff;
////
////      &:hover {
////        text-decoration: underline;
////      }
////    }
////  }
////
////  a[data-coord_map] {
////    font-family: 'LetoSans';
////    font-style: normal;
////    font-weight: bold;
////    line-height: 1;
////    font-size: 12px;
////    letter-spacing: 0.04em;
////    text-decoration: underline;
////    color: rgba(255, 255, 255, 0.5);
////    margin-left: 10px;
////
////    @include bp($bp-ipad-1024) {
////      display: block;
////      margin-left: 0;
////      margin-top: 8px;
////      color: #7A7A7A;
////    }
////
////    @include bp($bp-ipad-768) {
////      font-size: 10px;
////      line-height: 1.6;
////    }
////
////    // @include bp($bp-640) {
////    //   line-height: 14px;
////    //   font-size: 7px;
////    //   letter-spacing: 0.04em;
////    // }
////
////    &:hover {
////      text-decoration: none;
////    }
////  }
////
////  h4 {
////    font-family: 'LetoSans';
////    font-style: normal;
////    font-weight: bold;
////    line-height: 1;
////    font-size: 12px;
////    letter-spacing: 0.04em;
////
////    color: rgba(255, 255, 255, 0.5);
////    margin-top: 0;
////    margin-bottom: 10px;
////
////    @include bp($bp-ipad-1024) {
////      color: #232323;
////    }
////  }
////
////  span {
////    font-family: 'LetoSans';
////    font-style: normal;
////    font-weight: bold;
////    line-height: 1;
////    font-size: 16px;
////    letter-spacing: -0.7px;
////
////    color: #FFFFFF;
////    margin-bottom: 18px;
////
////    @include bp($bp-ipad-1024) {
////      color: #484848;
////    }
////
////    @include bp($bp-ipad-768) {
////      font-size: 10px;
////      line-height: 1.6;
////    }
////
////    // @include bp($bp-640) {
////    //   line-height: 14px;
////    //   font-size: 9px;
////    //   letter-spacing: 0.04em;
////    //   margin-bottom: 3px;
////    // }
////  }
////
////  a[href^="mailto:"] {
////    font-family: 'LetoSans';
////    font-style: normal;
////    font-weight: bold;
////    line-height: 1;
////    font-size: 12px;
////    letter-spacing: 0.04em;
////
////    color: rgba(255, 255, 255, 0.5);
////    text-decoration: underline;
////    margin-left: 15px;
////
////    @include bp($bp-ipad-1024) {
////      color: #484848;
////      text-decoration: none;
////    }
////  }
////}
//
//
//.b-block__copy {
//  width: 234px;
//  position: absolute;
//  bottom: 140px;
//  left: 20px;
//
//  @include bp($bp-ipad-768) {
//    position: static;
//    width: 100%;
//    padding-bottom: 30px;
//  }
//
//  p {
//    font-family: 'LetoSans';
//    font-style: normal;
//    font-weight: bold;
//    line-height: normal;
//    font-size: 16px;
//    letter-spacing: 0.04em;
//    margin: 0;
//    color: #FFFFFF;
//
//    // @include bp($bp-640) {
//    //   line-height: 14px;
//    //   font-size: 9px;
//    //   letter-spacing: 0.04em;
//    // }
//  }
//
//  a {
//    font-family: 'LetoSans';
//    font-size: 12px;
//    font-style: normal;
//    font-weight: normal;
//    line-height: normal;
//
//    letter-spacing: 0.04em;
//    text-decoration: underline;
//
//    color: rgba(255, 255, 255, 0.5);
//
//    // @include bp($bp-640) {
//    //   display: block;
//    //   line-height: 12px;
//    //   font-size: 8px;
//    //   letter-spacing: 0.02em;
//    // }
//  }
//}
