.single-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @include bp($bp-ipad-1024) {
    height: 100%;
  }

  .slick-arrow {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
    z-index: 20;
    padding: 0;
    cursor: pointer;
    margin: auto;
  }

  .slick-prev {
    left: 40px;
    right: auto;
    @include svg-i-arrow-left
  }

  .slick-next {
    right: 40px;
    left: auto;
    transform: rotate(180deg);
    @include svg-i-arrow-left
  }

  .slick-list,
  .slick-track,
  .slick-slide > div {

    @include bp($bp-ipad-1024) {
      height: 100%;
    }
  }
}

.single-slider__item {
  display: block;
  position: relative;

  @include bp($bp-ipad-1024) {
    height: 100%;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .33);
    z-index: 100;
  }

  img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    @include bp($bp-ipad-1024) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.single-slider__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 350px;
  margin: 0 auto;
  z-index: 1000;

  @include bp($bp-1190) {
    top: 290px;
  }

  @include bp($bp-ipad-1024) {
    top: auto;
    left: 30px;
    bottom: 24px;
    right: auto;
    max-width: 430px;
    margin-left: 0;
  }

  @include bp($bp-ipad-768) {
    max-width: 286px;
  }

  h2,
  p {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    @include bp($bp-ipad-1024) {
      text-align: left;
    }
  }

  h2 {
    font-family: $fontBold;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.33;
    margin-bottom: 20px;
    text-transform: uppercase;

    @include bp($bp-ipad-768) {
      margin-bottom: 14px;
      font-size: 22px;
      line-height: 1.18;
    }
  }

  p {
    max-width: 460px;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    margin: 0 auto;

    @include bp($bp-ipad-1024) {
      max-width: none;
      margin-left: 0;
    }

    @include bp($bp-ipad-768) {
      font-size: 12px;
      line-height: 1;
    }
  }
}
