doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="/styles/guideline.css")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -var links = []

        -links.push({'url': '../../lvl_2_00_filter', 'name': '00 Фильтр'});
        -links.push({'url': '../../lvl_2_01_collection_klinker', 'name': '01 Коллекция клинкера'});
        -links.push({'url': '../../lvl_2_02_collection_kirpich', 'name': '02 Коллекция кирпича'});
        -links.push({'url': '../../lvl_2_03_collection_sistem', 'name': '03 Коллекция системных решений'});
        -links.push({'url': '../../lvl_2_04_collection_brushatka', 'name': '04 Коллекция брусчатки'});
        -links.push({'url': '../../lvl_2_05_collection_chimia', 'name': '05 Коллекция химии'});


        h2 01 Каталог lvl 2 Выбор коллекций
        ol
            each link in links
                li
                    a(href!=link.url+'.html')=link.name
