doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="/styles/guideline.css")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -var links = []

        -links.push({'url': '../../lvl_4_01_klinker', 'name': '01 Клинкер'});
        -links.push({'url': '../../lvl_4_02_ruchnik', 'name': '02 Ручник'});
        -links.push({'url': '../../lvl_4_03_brushatka', 'name': '03 Брусчатка'});
        -links.push({'url': '../../lvl_4_04_chimia', 'name': '04 Химия'});
        -links.push({'url': '../../lvl_4_05_system_reshenia_version_2', 'name': '05 Системные решения'});
        -links.push({'url': '../../lvl_4_05_system_reshenia__POPUP', 'name': '05 Системные решения c POPUP'});
        -links.push({'url': '../../lvl_4_05_system_reshenia_spisok', 'name': '05 Системные решения список'});



        h2 01 Каталог lvl 4 Уровень карточки товара

        ol
            each link in links
                li
                    a(href!=link.url+'.html')=link.name
