doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="/styles/guideline.css")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -var links = []

        -links.push({'url': '../home', 'name': 'страница - Главная'});

        h2 Главная

        ol
            each link in links
                li
                    a(href!=link.url+'.html')=link.name
