$media-queries: true;


$bp-2k: 1921px;
$bp-1920: 1920px;
$bp-1600: 1600px;
$bp-1504: 1504px;
$bp-1440: 1440px;
$bp-1366: 1366px;
$bp-1280: 1280px;
$bp-1240: 1240px;
$bp-1190: 1190px;
$bp-ipad-1024: 1024px;
$bp-1000: 1000px;
$bp-800: 960px;
$bp-894: 894px;
$bp-780: 780px;
$bp-ipad-768: 768px;
$bp-736: 736px;
$bp-700: 700px;
$bp-640: 640px;
$bp-iphone5-max: 568px;
$bp-iphone-max: 480px;
$bp-540-n: 540px;
$bp-540: 480px;
$bp-480: 480px;
$bp-479: 479px;
$bp-414: 414px;
$bp-410: 410px;
$bp-398: 398px;
$bp-375: 375px;
$bp-360: 360px;
$bp-320: 320px;
$bp-min: 479;

@mixin bp($point) {
  @if ($media-queries) {
    // start desktop

    @if $point == $bp-2k {
      @media // Very Large Screens
      only screen and (min-width: #{$bp-2k}) {
        @content;
      }
    }
    @if $point == $bp-1920 {
      @media // Desktops and Laptops
      only screen and (max-width: #{$bp-1920}) {
        @content;
      }
    }
    @if $point == $bp-1600 {
      @media // Desktops and Laptops
      only screen and (max-width: #{$bp-1600}) {
        @content;
      }
    }
    @if $point == $bp-1504 {
      @media // Desktops and Laptops
      only screen and (max-width: #{$bp-1504}) {
        @content;
      }
    }
    @if $point == $bp-1440 {
      @media // Desktops and Laptops
      only screen and (max-width: #{$bp-1440}) {
        @content;
      }
    }
    @if $point == $bp-1366 {
      @media // Desktops and Laptops
      only screen and (max-width: #{$bp-1366}) {
        @content;
      }
    }
    @if $point == $bp-1280 {
      @media // Desktops and Laptops
      only screen and (max-width: #{$bp-1280}) {
        @content;
      }
    }
    @if $point == $bp-1240 {
      @media // Desktops and Laptops
      only screen and (max-width: #{$bp-1240}) {
        @content;
      }
    }
    @if $point == $bp-1190 {
      @media // Desktops and Laptops
      only screen and (max-width: #{$bp-1190}) {
        @content;
      }
    }
    // end desktop

    @if $point == $bp-ipad-1024 {
      @media // iPad-Mini (portrait and landscape)
      only screen and (max-width: #{$bp-ipad-1024}){
        @content;
      }
    }
    @if $point == $bp-1000 {
      @media // iPad-Mini (portrait and landscape)
      only screen and (max-width: #{$bp-1000}){
        @content;
      }
    }
    @if $point == $bp-894 {
      @media
      only screen and (max-width: #{$bp-894}){
        @content;
      }
    }
    @if $point == $bp-780 {
      @media
      only screen and (max-width: #{$bp-780}){
        @content;
      }
    }
    @if $point == $bp-800 {
      @media // iPad-Mini (portrait and landscape)
      only screen and (max-width: #{$bp-800}){
        @content;
      }
    }
    @if $point == $bp-640 {
      @media // iPad-Mini (portrait and landscape)
      only screen and (max-width: #{$bp-640}){
        @content;
      }
    }
    @if $point == $bp-ipad-768 {
      @media // iPad (portrait and landscape)
      only screen and (max-width: #{$bp-ipad-768}) {
        @content;
      }
    }
    @if $point == $bp-736 {
      @media // iPad (portrait and landscape)
      only screen and (max-width: #{$bp-736}) {
        @content;
      }
    }

    @if $point == $bp-700 {
      @media // iPad (portrait and landscape)
      only screen and (max-width: #{$bp-700}) {
        @content;
      }
    }

    @if $point == $bp-540-n {
      @media // iPad (portrait and landscape)
      only screen and (max-width: #{$bp-540-n}) {
        @content;
      }
    }

    @if $point == $bp-540 {
      @media // iPad (portrait and landscape)
      only screen and (max-width: #{$bp-540}) {
        @content;
      }
    }

    @if $point == $bp-480 {
      @media // iPad (portrait and landscape)
      only screen and (max-width: #{$bp-480}) {
        @content;
      }
    }
    @if $point == $bp-479 {
      @media // iPad (portrait and landscape)
      only screen and (max-width: #{$bp-479}) {
        @content;
      }
    }
    @if $point == $bp-414 {
      @media // iPad (portrait and landscape)
      only screen and (max-width: #{$bp-414}) {
        @content;
      }
    }
    @if $point == $bp-410 {
      @media // iPad (portrait and landscape)
      only screen and (max-width: #{$bp-410}) {
        @content;
      }
    }
    @if $point == $bp-398 {
      @media // iPad (portrait and landscape)
      only screen and (max-width: #{$bp-398}) {
        @content;
      }
    }
    @if $point == $bp-375 {
      @media // iPad (portrait and landscape)
      only screen and (max-width: #{$bp-375}) {
        @content;
      }
    }
    @if $point == $bp-360 {
      @media // iPad (portrait and landscape)
      only screen and (max-width: #{$bp-360}) {
        @content;
      }
    }
    @if $point == $bp-320 {
      @media // iPad (portrait and landscape)
      only screen and (max-width: #{$bp-320}) {
        @content;
      }
    }

    //@if $point == $bp-min {
    //  @media // Very Large Screens
    //  only screen and (min-width: #{$bp-min}) and (orientation: landscape) {
    //    @content;
    //  }
    //}
  }
}
