.card-material {
  position: relative;
  width: calc((100%/2) - 16px);
  padding: 48px 24px 55px 180px;
  border: 1px solid #E5E5E5;
  margin-bottom: 35px;
  //height: 230px;

  @include bp($bp-1240) {
    width: 100%;
  }

  @include bp($bp-ipad-1024) {
    width: calc((100%/2) - 5px);
    margin-bottom: 10px;
    padding: 15px 14px 10px;
    height: auto;
  }
}

.card-material__wrap {
}

.card-material__img {
  position: absolute;
  top: calc(50% - 10px);
  left: 24px;
  transform: translateY(-50%);

  @include bp($bp-ipad-1024) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    width: 100px;
    height: 100px;
    margin: 0 auto 24px;
    transform: none;
  }
}

.card-material__img img{
	max-width: 130px;
  max-height: 150px;

  @include bp($bp-ipad-1024) {
    max-width: 100%;
    max-height: auto;
    display: block;
  }
}

.card-material__text {
  a, h3 {
    font-family: $fontBold;
    font-weight: 500;
    line-height: 1;
    font-size: 16px;
    color: #000000;
    margin-bottom: 16px;

    @include bp($bp-ipad-768) {
      font-size: 12px;
      margin-bottom: 10px;
      color: #232323;
    }
  }

  p {
    font-family: $fontNormal;
    line-height: 24px;
    font-size: 14px;
    color: #5C5C5C;
    margin-bottom: 0;

    @include bp($bp-ipad-768) {
      font-size: 9px;
      line-height: 12px;
    }
  }
}

.card-material__footer {
  position: absolute;
  left: 24px;
  bottom: 16px;
  width: calc(100% - 48px);
  display: flex;
  justify-content: space-between;

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.card-material__select {
  position: relative;
  padding-right: 20px;

  span {
    font-family: $fontBold;
    font-weight: 500;
    line-height: 1;
    font-size: 14px;
    color: #000;
    cursor: pointer;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 2px;
    right: 0;
    bottom: 0;
    margin: auto;
    @include svg-i-arrow-down_black-min;
  }
}

.card-material__select-wrap {
  & > span {

    &:nth-child(2) {
      margin-left: 3px;
      font-family: $fontNormal;
      font-weight: normal;
      color: #5C5C5C;
    }
  }
}

.card-material__select_noitem{
  &:after {
    display: none;
  }
}

.card-material__select-dropdown {
  position: absolute;
  top: 28px;
  left: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
  padding: 14px 12px;
  z-index: 10;
  min-width: 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease all;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  & > span {
    display: block;
    font-family: $fontNormal;
    font-weight: normal;
    color: #5C5C5C;
    margin-bottom: 11px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

