.card {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 638px;

    @include bp($bp-ipad-1024) {
      width: 100%;
      height: 100%;
      max-height: initial;
      object-fit: cover;


    }
  }

  &.dark {
    position: relative;

    img {
      object-position: center;
    }
    &:after {
      content: '';
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.4);
      z-index: 10;

      @include bp($bp-ipad-1024) {
        display: block;
      }
    }

    .card__wrap {
      z-index: 20;
    }
  }
}


.card__wrap {
  position: relative;
  padding-left: 42px;
  padding-right: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  @include bp($bp-ipad-1024) {
    max-width: 560px;
    padding: 26px 30px;
    margin: 0 auto;
  }
}

.card__list {
  position: relative;
  z-index: 1;

  h3 {
    font-family: $fontBold;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #040404;
    margin-bottom: 0;

    @include bp($bp-ipad-768) {
      font-size: 18px;
      line-height: 1.1;
    }

    a {
      color: #040404;
    }
  }

  ul {
    padding: 0;
    margin: 22px 0 0;
    list-style: none;

    @include bp($bp-ipad-768) {
      margin-top: 18px;
    }

    li {
      position: relative;
      font-family: $fontNormal;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.29;
      letter-spacing: normal;
      text-align: left;
      color: #040404;
      padding-left: 22px;

      &:last-child {
        margin-bottom: 0;
      }

      @include bp($bp-ipad-768) {
        font-size: 9px;
        line-height: 1.55;
        margin-bottom: 9px;
      }

      &:after {
        content: '';
        position: absolute;
        top: -4px;
        left: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: 8px;
        height: 8px;
        opacity: 0.56;
        border: solid 1px #000000;
        border-radius: 50%;
        transition: 0.3s ease all;
      }

      &:hover {
        &:after {
          content: '';
          transform: scale(1.4);
        }
      }


      a {
        color: #040404;
        transition: 0.3s ease all;

        &:hover {
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }
  }
}

.card__bg {
  position: absolute;
  top: 0;
  right: 54px;
  bottom: 0;
  margin: auto;

  background-size: cover;
  background-position: center center;
}

.card__info {
  position: absolute;
  bottom: 20px;
  padding: 14px 17px;
  background-color: rgba(0, 0, 0, .5);

  @include bp($bp-ipad-1024) {
    left: 0;
    right: auto;
    bottom: 0;
    width: 100%;
    padding: 12px 15px;
  }

  h4,
  p {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin: 0;
    transition: 0.3s ease all;
  }

  h4 {
    font-family: $fontBold;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }

    @include bp($bp-ipad-768) {
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 1;
    }
  }

  p {
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;

    @include bp($bp-ipad-768) {
      font-size: 9px;
      line-height: 1.22;
    }
  }

}

.card--catalog {
  background-color: $yellow;
}

.card--info-left {
  .card__info {
    left: 20px;

    @include bp($bp-ipad-1024) {
      left: 0;
      right: auto;
      width: auto;
    }
  }
}

.card--info-right {
  .card__info {
    right: 20px;

    @include bp($bp-ipad-1024) {
      right: auto;
      left: 0;
      width: auto;
    }
  }
}

.card--catalog-image {

  .card__wrap {
    position: absolute;
    top: 0;
    left: 0;
  }

  .card__list {

    h3,
    li,
    a {
      color: #ffffff;
    }

    a {
      &:hover {
        color: $yellow;
      }
    }

    li {
      &:after {
        border-color: #fff;

        @include bp($bp-ipad-1024) {
          background: #ffffff;
          opacity: 1;
        }
      }
    }

    h3 {
      a {
        color: #040404;
      }
    }
  }
}

.card__bg---icon-1 {
  right: 24px;
  width: 256px;
  height: 256px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon/Каталог_товаров.png");

  @include bp($bp-ipad-1024) {
    right: 25px;
  }

  @include bp($bp-ipad-768) {
    top: calc(36 / 360 * 100vw);
    width: 124px;
    height: 124px;
  }
}

.card__bg---icon-2 {
  right: 30px;
  width: 256px;
  height: 256px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon/Клинкер_и_керамика.png");

  @include bp($bp-ipad-1024) {
    right: 25px;
  }

  @include bp($bp-ipad-768) {
    top: calc(42 / 360 * 100vw);
    width: 118px;
    height: 118px;
  }
}

.card__bg---icon-3 {
  right: 0;
  width: 256px;
  height: 256px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon/Строительные_смеси.png");

  @include bp($bp-ipad-1024) {
    right: 25px;
  }

  @include bp($bp-ipad-768) {
    width: 118px;
    height: 118px;
    top: 17px;
    right: 15px;
  }
}

.card--accordion {

  @include bp($bp-ipad-1024) {
    height: 70px;
    transition: height .3s ease-in-out;
  }

  .card__wrap {

    @include bp($bp-ipad-1024) {
      width: 100%;
      max-width: none;
      padding: 0;
    }
  }

  .card__list {

    @include bp($bp-ipad-1024) {
      width: 100%;
    }

    h3 {

      @include bp($bp-ipad-1024) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 20px 24px 30px;
      }

      &:after {

        @include bp($bp-ipad-1024) {
          display: block;
          content: '';
          transition: transform .3s ease-in-out;
        }
      }
    }

    ul {

      @include bp($bp-ipad-1024) {
        position: relative;
        display: none;
        margin: 0;
        padding: 24px 15px;
      }

      &:before {

        @include bp($bp-ipad-1024) {
          position: absolute;
          top: 0;
          left: 15px;
          right: 15px;
          display: block;
          height: 1px;
          content: '';
        }
      }
    }

    li {

      @include bp($bp-ipad-1024) {
        margin-left: 15px;
      }
    }
  }

  &.open {

    .card__list {

      h3 {

        &:after {
          @include bp($bp-ipad-1024) {
            transform: scaleY(-1);
          }
        }
      }
    }
  }
}

.card--mobile-img {
  &.card--catalog {
    @include bp($bp-ipad-1024) {
      background-color: transparent;
    }
  }
  img {
    display: none;

    @include bp($bp-ipad-1024) {
      display: block;
    }
  }

  @include bp($bp-ipad-1024) {
    .card__wrap {
      position: absolute;
      top: 0;
      left: 0;
    }

    .card__list {

      h3,
      li,
      a {
        color: #ffffff;
      }

      a {
        &:hover {
          color: $yellow;
        }
      }

      li {
        &:after {
          border-color: #fff;

          @include bp($bp-ipad-1024) {
            background: #ffffff!important;
            opacity: 1;
          }
        }
      }

      h3 {
        a {
          color: #040404;
        }
      }

      &:before {
        @include bp($bp-ipad-1024) {
          background: #fff!important;
        }
      }
    }
  }
}

.card--accordion.card--catalog {

  .card__list {
    h3 {

      &:after {
        @include bp($bp-ipad-1024) {
          @include svg-arrow-down-black;
        }
      }
    }

    ul {

      &:before {

        @include bp($bp-ipad-1024) {
          background: #232323;
        }
      }
    }

    li {

      @include bp($bp-ipad-768) {
        font-size: 12px;
        line-height: 16px;
      }

      &:after {

        @include bp($bp-ipad-1024) {
          background: #232323;
          opacity: 1;
        }
      }
    }
  }
}

.card--accordion.card--catalog-image {
  .card__list {
    h3 {

      &:after {

        @include bp($bp-ipad-1024) {
          @include svg-arrow-down-white;
        }
      }
    }

    ul {

      &:before {

        @include bp($bp-ipad-1024) {
          background: #fff;
        }
      }
    }

    li {

      @include bp($bp-ipad-768) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

.card--accordion.card--mobile-img  {

  .card__list {
    h3 {

      &:after {
        @include bp($bp-ipad-1024) {
          @include svg-arrow-down-white;
        }
      }
    }

    ul {

      &:before {

        @include bp($bp-ipad-1024) {
          background: #fff!important;
        }
      }
    }

    li {

      @include bp($bp-ipad-768) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}


