.card-service {
  padding: 28px 26px 38px;
  box-shadow: 0px 3px 8px 0.5px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  border: solid 1px #e7e7e7;
  margin-bottom: 40px;
  transition: 0.3s ease all;

  &:last-child {
    margin-bottom: 0;
  }

  @include bp($bp-ipad-1024) {
    padding: 0;
    margin-bottom: 40px;
    box-shadow: none;
    border: none;
  }

  &:hover {
    box-shadow: 0px 10px 16.9px 1.1px rgba(0, 0, 0, 0.09);
    transform: translateY(-6px);

    @include bp($bp-ipad-1024) {
      box-shadow: none;
      transform: none;
    }
  }

  h3 {
    font-family: $fontBold;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 24px;

    @include bp($bp-ipad-768) {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 1.1;
    }
  }

  img {
    max-width: 100%;
    height: auto;

    @include bp($bp-ipad-1024) {
      display: none;
    }
  }

  p {
    margin-top: 35px;
    margin-bottom: 0;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    @include bp($bp-ipad-1024) {
      padding: 0;
      margin-top: 0;
    }

    @include bp($bp-ipad-768) {
      font-size: 12px;
      line-height: 16px;
    }
  }
}