.card-blog {
  display: block;
  position: relative;
  margin-bottom: 40px;
  transition: 0.3s ease all;

  &:hover {
    transform: scale(1.03);

    .card-blog__title {
      h3, span {
        color: $yellow;
      }
    }
  }
}

.card-blog--col-4 {
  width: calc((100%/12) * 4 - 27px);
}

.card-blog--col-8 {
  width: calc((100%/12) * 8 - 13px);
}

.card-blog__label {
  position: absolute;
  top: 20px;
  left: 30px;
  padding: 9px 15px 6px;
  font-family: $fontNormal;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 25;
}

.card-blog__label--action {
  background-color: rgba(227, 45, 3, 0.7);
}

.card-blog__img {
  position: relative;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: #000;
    z-index: 10;
  }
}

.card-blog__title {
  position: absolute;
  left: 30px;
  bottom: 18px;
  z-index: 20;

  h3 {
    font-family: $fontBold;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: -1.2px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 0;
    padding-right: 32px;
    transition: 0.3s ease all;
  }

  span {
    margin-top: 7px;
    display: block;
    font-family: $fontNormal;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    transition: 0.3s ease all;
  }
}

.card-blog__desc {
  padding: 28px 30px 32px;
  background-color: #ffffff;
  border-left: solid 1px #e7e7e7;
  border-right: solid 1px #e7e7e7;
  border-bottom: solid 1px #e7e7e7;

  p {
    position: relative;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin: 0;
    max-height: 94px;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 35px;
      background-size: contain;
      left: 0;
      bottom: -21px;
      background-image: url('../images/blog/6_3.png');
      z-index: 10;
    }
  }
}