.product-card {
  transition: 0.3s ease all;

  &:hover {
    transform: scale(1.02);

    @include bp($bp-ipad-1024) {
      transform: none;
    }

    .product-card__title, .product-card__desc {
      color: $yellow;
    }
  }
}

.product-card__img {
  img {
    max-width: 100%;
    height: auto;
  }
}

.product-card__info {
  margin-top: 16px;

  @include bp($bp-ipad-1024) {
    margin-top: 5px;
  }
}

.product-card__title, .product-card__desc {
  font-family: $fontBold;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;

}

.product-card__desc {
  word-break: break-all;
}

.product-card__title {
  color: #111111;
  transition: 0.3s ease all;

  @include bp($bp-ipad-768) {
    font-size: 12px;
    line-height: 1;
  }
}

.product-card__desc {
  color: #989898;
  padding-right: 10px;
  transition: 0.3s ease all;

  @include bp($bp-ipad-768) {
    margin-top: 4px;
    padding-right: 0;
    font-size: 9px;
    line-height: 1.3;
  }
}
