mixin fullscreen-slide--company(slogan, desc, href, number_1, text_1, number_2, text_2, img)
    .b-fullscreen-slide__item.js-slide(
    data-slider-slogan=slogan
    data-slider-desc=desc
    data-slider-href=href
    data-slider-1-number=number_1
    data-slider-1-text=text_1
    data-slider-2-number=number_2
    data-slider-2-text=text_2)
        .b-fullscreen-slide__bg
            img(src=img)