mixin product_card(src, title, desc)
    a.product-card.js-zoom-color(href='http://2018.ceramicgroup.ru/img/catalog_item/icon/1985.jpg' title=title)
        .product-card__img
            img(src=src)
        .product-card__info
            .product-card__title #{title}
            .product-card__desc #{desc}
