extends _layout
block title
    title Главная страница
block content
    - var img_11 = './img/catalog_item/small/1.jpg'
    - var img_22 = './img/catalog_item/small/2.jpg'
    - var img_3 = './img/catalog_item/small/3.jpg'
    - var img_4 = './img/catalog_item/small/4.jpg'
    .b-wrapper
        include blocks/header-404

        .b-product

            .container
                .b-error
                    .b-error__img
                        img(src='./images/icon/404.png')
                    .b-error__title Запрошенная вами
                        br
                        | страница не найдена

                include blocks/b-product-journal-404

                include blocks/_b-product-journal

