include mixins/all-mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name="format-detection" content="telephone=no")

        link(rel='shortcut icon' type='image/x-icon' href='/favicons/favicon.ico')
        link(rel='apple-touch-icon-precomposed' sizes='57x57' href='/favicons/apple-touch-icon-57x57-precomposed.png')
        link(rel='apple-touch-icon-precomposed' sizes='76x76' href='/favicons/apple-touch-icon-76x76-precomposed.png')
        link(rel='apple-touch-icon-precomposed' sizes='120x120' href='/favicons/apple-touch-icon-120x120-precomposed.png')
        link(rel='apple-touch-icon-precomposed' sizes='152x152' href='/favicons/apple-touch-icon-152x152-precomposed.png')
        link(rel='apple-touch-icon-precomposed' sizes='180x180' href='/favicons/apple-touch-icon-180x180-precomposed.png')
        link(rel='icon' sizes='192x192' href='/favicons/touch-icon-192x192.png')

        link(rel='stylesheet' href="./css/style.css?ver=911")
        //link(rel='stylesheet' href="/styles/print.css" media="print")
        //script(src="./js/preloader.js")



        block title
            title Заголовок по умолчанию
    body
        block content

    include ./blocks/modals/catalog
    include ./blocks/modals/tb-menu

    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    script(src="./js/bundle.js")
    script.
      (function (w, d, s, h, id) {
        w.roistatProjectId = id;
        w.roistatHost = h;
        var p = d.location.protocol == "https:" ? "https://" : "http://";
        var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/" + id + "/init";
        var js = d.createElement(s);
        js.async = 1;
        js.src = p + h + u;
        var js2 = d.getElementsByTagName(s)[0];
        js2.parentNode.insertBefore(js, js2);
      })(window, document, 'script', 'cloud.roistat.com', '23f87af9b1d010fea664b08bf9560f12');
      window.marker_office = [55.881911, 37.547652];
      window.map_office = [55.881911, 37.547652];
      window.marker_stock = [55.759994, 37.167845];
      window.map_stock = [55.759994, 37.167845];



