extends _layout
block title
    title Главная страница
block content
    .b-wrapper
        include blocks/_header

        .b-main
            .b-main__bg(style='background-image: url("./images/main__bg.jpg")')
            .b-main__content
                .container
                    h1 Создаем красоту фасадов и мостовых
                    p Поставляем отделочные материалы лучших европейских производителей и учим, как их правильно применять

        include blocks/_b-grid
        include blocks/_b-footer
        include blocks/_b-footer--tb

