doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="/styles/guideline.css")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -var links = []

        -links.push({'url': 'home', 'name': 'Главная'});
        -links.push({'url': 'menu_lvl_2_02_about_company', 'name': 'О компании'});
        -links.push({'url': '02_photobank_1', 'name': 'Готовые объекты'});
        -links.push({'url': 'menu_lvl_2_03_service', 'name': 'Сервис'});
        -links.push({'url': 'menu_lvl_2_01_how_to_buy', 'name': 'Как купить'});
        -links.push({'url': 'lvl_2_00_filter', 'name': 'Кирпич ручной формовки - Фильтр'});
        -links.push({'url': 'lvl_1_vibor_category', 'name': 'Каталог товаров'});
        -links.push({'url': 'lvl_2_01_collection_klinker', 'name': 'Клинкер Коллекция'});
        -links.push({'url': 'lvl_3_01_klinker', 'name': 'Клинкер AERA'});
        -links.push({'url': 'lvl_3_02_rychnik', 'name': 'Ручник SUPERIOR LINE'});
        -links.push({'url': 'lvl_3_03_brushantka', 'name': 'Брусчатка HANDFORMKLINKER'});
        -links.push({'url': 'lvl_3_04_chimia', 'name': 'Строительные смеси и химия'});
        -links.push({'url': 'lvl_4_05_system_reshenia_version_2', 'name': 'Системные решения'});
        -links.push({'url': 'lvl_4_04_chimia', 'name': 'Химия детальная'});
        -links.push({'url': 'lvl_4_05_system_reshenia_spisok', 'name': 'Системные решения список'});

        //h2 Список свёрстанных страниц

        ol
            each link in links
                li
                    a(href!=link.url + '.html')=link.name
//doctype html
//html(lang='ru')
//    head
//        meta(charset="UTF-8")
//        link(rel='stylesheet' href="/styles/guideline.css")
//        title Гайдлайн проекта
//    body
//        // Сверстанные страницы
//        -var links = []
//
//        -links.push({'url': 'main/index', 'name': '0 Главная'});
//
//        -links.push({'url': 'menu_first_lvl/index', 'name': '1 Меню первого уровня'});
//        -links.push({'url': 'menu_second_lvl/index', 'name': '2 Меню второго уровня'});
//        -links.push({'url': '', 'name': '---'});
//        -links.push({'url': '', 'name': '---'});
//        -links.push({'url': '404', 'name': '404'});
//        -links.push({'url': 'download', 'name': 'Скачать'});
//
//
//
//
//
//         -links.push({'url': '', 'name': 'Ссылки без распределения'});
//         -links.push({'url': '', 'name': '--->'});
//         -links.push({'url': '', 'name': '--->'});
//        // -links.push({'url': 'product_detail', 'name': 'Продукт детальная'});
//        // -links.push({'url': '', 'name': '--------'});
//        -links.push({'url': 'product_detail_1', 'name': 'Продукт детальная Тротуарный кирпич-ригель 1'});
//        // -links.push({'url': 'product_detail_2', 'name': 'Продукт детальная Handformklinker 2'});
//        -links.push({'url': 'product_detail_3', 'name': 'Продукт детальная Formklinker 3'});
//        -links.push({'url': 'product_detail_4', 'name': 'Продукт детальная Брусчатка Kerawil 4'});
//        -links.push({'url': 'product_detail_5', 'name': 'Продукт детальная Мозаичный кирпич 8х60х60 5'});
//        -links.push({'url': 'product_detail_6', 'name': 'Продукт детальная Classic 6'});
//        -links.push({'url': 'product_detail_7', 'name': 'Продукт детальная KERAVETTE 210 braun 7'});
//        // -links.push({'url': 'product_detail_8', 'name': 'Продукт детальная Macchiato Sabia 8'});
//        // -links.push({'url': 'product_detail_9', 'name': 'Продукт детальная AERA 710 crio 9'});
//        // -links.push({'url': 'product_detail_10', 'name': 'Продукт детальная Superior Line 10'});
//        // -links.push({'url': '', 'name': '--------'});
//        //
//        // -links.push({'url': 'blog', 'name': 'Блог'});
//        // -links.push({'url': 'blog_detail', 'name': 'Блог детальная'});
//
//        //-links.push({'url': '', 'name': '--------'});
//
//
//        // -links.push({'url': 'gallery_detail', 'name': 'Гарелея детальная'});
//        // -links.push({'url': 'gallery_detail_2', 'name': 'Гарелея детальная 2'});
//        //-links.push({'url': 'gallery_list', 'name': 'Гарелея список'});
//        //-links.push({'url': '', 'name': '--------'});
//        // -links.push({'url': 'how_to_buy', 'name': 'Как купить'});
//        // -links.push({'url': 'price', 'name': 'Прайс-листы'});
//        //-links.push({'url': '', 'name': '--------'});
//        // -links.push({'url': 'service', 'name': 'Сервис'});
//        // -links.push({'url': 'company', 'name': 'О компании'});
//        //-links.push({'url': '', 'name': '--------'});
//        // -links.push({'url': 'detail', 'name': 'Детальная'});
//
//        // -links.push({'url': 'config', 'name': 'Конфигуратор'});
//
//        //-links.push({'url': '', 'name': '--------'});
//
//
//        h2 Список свёрстанных страниц
//
//        ol
//            each link in links
//                li
//                    a(href!=link.url+'.html')=link.name
