extends _layout
block title
    title Главная страница
block content
    .b-wrapper
        include blocks/_header

        .b-main.b-main--short
            .b-main__bg(style='background-image: url("./images/collection/chim/10.png")')
            .b-main__content
                .container

                    .b-breadcrumbs
                        a(href='') Главная
                        a(href='') Каталог
                    h1 СИСТЕМНЫЕ РЕШЕНИЯ


        include mixins/all-mixins
        - var img_1 = './images/collection/chim/ardex_w_820_auf_gipskarton_020.jpg'

        - var img_2 = './images/collection/chim/k_15_2.jpg'

        - var img_3 = './images/collection/chim/1467017644_dorozhka_iz_bruschatki_s_vodonepronicaemymi_shvami_ukladka_bruschatki_zatirka_shvov.jpg'

        - var img_4 = './images/collection/chim/kf_20_a_300_dpi_10_x_13_cm.jpg'

        - var img_5 = './images/collection/chim/11.jpg'

        - var img_6 = './images/collection/chim/abdichten_dusche_s_1_k_007.jpg'

        - var img_1_color = './images/catalog_detail/11.jpg'
        - var img_2_color = './images/catalog_detail/22.jpg'
        - var img_3_color = './images/catalog_detail/33.jpg'
        - var img_4_color = './images/catalog_detail/44.jpg'

        include blocks/_b-slider-filter

        .b-grid.b-grid--collection-text
            .b-grid__single
                .container
                    .b-single-card
                        .b-single-card__img.b-single-card--8.b-single-card--r-4
                            +img(img_1)
                        .b-single-card__content.b-single-card--5
                            h2 ДЛЯ ФАСАДА
                            .card__list
                                ul
                                    li
                                        a(href='') Система утепления со штукатурным слоем
                                    li
                                        a(href='') Система утепления с клинкерной плиткой
                                    li
                                        a(href='') Термопанели
                                    li
                                        a(href='') Системы теплоизоляции для деревянного, каркасного и каркасно-панельного домостроения
                                    li
                                        a(href='') Штукатурные системы для минеральных оснований с декоративной штукатуркой

                                    li
                                        a(href='') Штукатурные системы для минеральных оснований  с клинкерной плиткой

                                    li
                                        a(href='') Системы санирования и реставрации зданий


                                    li
                                        a(href='') Система вентилируемых фасадов


                            a(href='').btn.btn--submit Подробнее

            .b-grid__single.b-grid__single--fullpage
                .b-single-card
                    .b-single-card__img
                        +img(img_2)
                    .container
                        .b-single-card__content.b-single-card--5
                            h2 ДЛЯ ПОЛА
                            .card__list
                                ul
                                    li
                                        a(href='') Системы укладки клинкерных ступеней и плитки  на улице
                                    li
                                        a(href='') Системы укладки клинкерных ступеней и плитки в помещении

                                    li
                                        a(href='') Системы для промышленных полов и парковок с керамической плиткой

                                    li
                                        a(href='') Системы для промышленных наливных полов

                                    li
                                        a(href='') Дренажные системы для балконов, террас, лестниц  и оснований, подверженных деформациям


                            a(href='').btn.btn--submit Подробнее

            .b-grid__single
                .container
                    .b-single-card
                        .b-single-card__img
                            +img(img_3)
                        .b-single-card__content.b-single-card--5
                            h2 ДЛЯ МОЩЕНИЯ
                            .card__list
                                ul
                                    li
                                        a(href='') Клеевые системы укладки для брусчатки, тротуарной плитки и террасных пластин
                                    li
                                        a(href='') Связанные дренажные системы

                            a(href='').btn.btn--submit Подробнее





        include blocks/_b-footer
        include blocks/_b-popup




