extends _layout
block title
    title Главная страница
block content
    - var img_11 = './images/catalog_item/small/1.jpg'
    - var img_22 = './images/catalog_item/small/2.jpg'
    - var img_3 = './images/catalog_item/small/3.jpg'
    - var img_4 = './images/catalog_item/small/4.jpg'
    .b-wrapper
        include blocks/_header

        .b-main.b-main--short
            .b-main__bg(style='background-image: url("./images/detail_product/aera_710_06.png")')
            .b-main__content
                .container
                    //- .b-main__subtitle Наполная плитка Ströher
                    h1 AERA
                    //- .b-main__desc Керамический природный камень - это новая фактурная керамика первоклассного уровня.

        .b-product
            .container
                include blocks/_b-product-info
                include blocks/_b-product-color

            .b-product__full-bg
                include blocks/_b-product-el

            .container
                include blocks/_b-product-el_1
                include blocks/_b-product-image

            .b-product__full-bg
                include blocks/_b-product-slider

            .container
                include blocks/_b-product-categories

                include blocks/_b-product-table
                include blocks/_b-product-table--tb

                //.b-product-image.b-product-image--slider
                //    h2 Готовые объекты визуализации
                //    .b-product-image__img.js-product-slider-single
                //        .b-product-image__item
                //            img(src='./images/home_page/29@2x.jpg')
                //            h3 Университет Бакингемшир
                //            span Эйлсбери, Англия
                //        .b-product-image__item
                //            img(src='./images/home_page/29@2x.jpg')
                //            h3 Университет Бакингемшир
                //            span Эйлсбери, Англия



                .b-product-gallery.js-ajax-gallery(data-catalog-id='16' data-last='4')
                    h2 Фотогалерея
                    .b-product-gallery__content
                        a(href=img_11).js-gallery.b-product-gallery__item
                            +img(img_11)
                        a(href=img_22).js-gallery.b-product-gallery__item
                            +img(img_22)
                        a(href=img_3).js-gallery.b-product-gallery__item
                            +img(img_3)
                        a(href=img_4).js-gallery.b-product-gallery__item
                            +img(img_4)


                    //- button.btn.btn--more.js-button-gallery-more Показать еще


                include blocks/_b-product-more

            .b-product__full-bg.b-product__full-bg--show-room
                .b-product-slider.b-product-slider--show-room
                    h2 Увидеть своими глазами

                    .b-product-slider__product-slider
                        .b-product-slider__arrow-v2
                        .product-slider.js-product-slider-v2
                            a.product-slider__item(href='#')
                                .product-slider__img
                                    img(src='./images/office/Москва.jpg')
                                .product-slider__item-text
                                    h3 Увидеть своими глазами
                                    span Шоу-рум компании в Москве
                            a.product-slider__item(href='#')
                                .product-slider__img
                                    img(src='./images/office/Краснодар.jpg')
                                .product-slider__item-text
                                    h3 Увидеть своими глазами
                                    span Шоу-рум компании в Краснодаре
                            a.product-slider__item(href='#')
                                .product-slider__img
                                    img(src='./images/office/Новосибирск.jpg')
                                .product-slider__item-text
                                    h3 Увидеть своими глазами
                                    span Шоу-рум компании в Новосибирске
                            a.product-slider__item(href='#')
                                .product-slider__img
                                    img(src='./images/office/Екат.jpg')
                                .product-slider__item-text
                                    h3 Увидеть своими глазами
                                    span Шоу-рум компании в Екатеринбурге
                            a.product-slider__item(href='#')
                                .product-slider__img
                                    img(src='./images/office/Владивосток.jpg')
                                .product-slider__item-text
                                    h3 Увидеть своими глазами
                                    span Шоу-рум компании во Владивостоке

            .container
                include blocks/_b-product-journal


        include blocks/_b-footer
        include blocks/_b-footer--tb
