
extends _layout
block title
    title Главная страница
block content
    include ./mixins/all-mixins
    .b-wrapper
        include blocks/_header--black

        .b-main.b-main--long
            .b-main__bg(style='background-image: url("./images/detail_product_number/1.jpg")')

            .b-main__content
                .container
                    a(href='').b-main__back
                    h1 AERA 710 crio
                    a(href='').b-main__3d.btn.btn--more Скачать 3D текстуры

        .b-product
            .b-product__full-bg.b-product__full-bg--first
                - var img_1q = './images/detail_product/17.jpg'

                .b-product-el
                    .container
                        .b-product-el__row
                            h2 Форматы
                            .b-product-el__list
                                +product_card(img_1q, 'Артикул: 8081', 'Габариты: 240х240х10 mm')
                                +product_card(img_1q, 'Артикул: 8081', 'Габариты: 240х240х10 mm')
                                +product_card(img_1q, 'Артикул: 8081', 'Габариты: 240х240х10 mm')
                                +product_card(img_1q, 'Артикул: 8081', 'Габариты: 240х240х10 mm')
                            button.btn.btn--more Показать еще
                        .b-product-el__row
                            h2 Спец. элементы
                            .b-product-el__list
                                +product_card(img_1q, 'Артикул: 8081', 'Габариты: 240х240х10 mm')
                                +product_card(img_1q, 'Артикул: 8081', 'Габариты: 240х240х10 mm')
                                +product_card(img_1q, 'Артикул: 8081', 'Габариты: 240х240х10 mm')
                                +product_card(img_1q, 'Артикул: 8081', 'Габариты: 240х240х10 mm')
                            button.btn.btn--more Поqказать еще
            .container
                .b-product-image.b-product-image--slider
                    h2 Готовые объекты визуализации
                    .b-product-image__img.js-product-slider-single
                        .b-product-image__item
                            img(src='./images/home_page/29@2x.jpg')
                            h3 Университет Бакингемшир
                            span Эйлсбери, Англия
                        .b-product-image__item
                            img(src='./images/home_page/29@2x.jpg')
                            h3 Университет Бакингемшир
                            span Эйлсбери, Англия

                include blocks/_b-product-table


        include blocks/_b-subscribe

        include blocks/_b-footer
