extends _layout
block title
    title Главная страница
block content
    .b-wrapper
        include blocks/_header

        .b-main.b-main--short
            .b-main__bg(style='background-image: url("./images/collection/chim/10.png")')
            .b-main__content
                .container

                    .b-breadcrumbs
                        a(href='') Главная
                        a(href='') Каталог
                    h1 ХИМИЯ


        include blocks/_b-slider-filter

        include blocks/b-grid--collection


        include blocks/_b-footer
        include blocks/_b-popup




