
extends _layout
block title
    title Главная страница
block content
    include ./mixins/all-mixins
    .b-wrapper
        include blocks/_header--black

        .b-main.b-main--long
            .b-main__bg(style='background-image: url("./images/detail_product_number/2.jpg")')

            .b-main__content
                .container
                    a(href='').b-main__back
                    h1 Macchiato Sabia
                       br
                       |  Fine smooth 250-55 (MCF)
                    a(href='').b-main__3d.btn.btn--more Скачать 3D текстуры

        .b-product
            .b-product__full-bg.b-product__full-bg--first
                - var img_1q = './images/detail_product/product_1.png'

                .b-product-el
                    .container
                        .b-product-el__row
                            h2 Форматы
                            .b-product-el__list.b-product-el__list--col-3
                                a.product-card(href='')
                                    .product-card__img
                                        img(src=img_1q)
                                    .product-card__info
                                        h3 Евроформат (NF) 240×70 мм

                                a.product-card(href='')
                                    .product-card__img
                                        img(src=img_1q)
                                    .product-card__info
                                        h3 Итальянский 250×55 мм
                                a.product-card(href='')
                                    .product-card__img
                                        img(src=img_1q)
                                    .product-card__info
                                        h3 Corso 500×40×мм

            .container
                .b-product-image.b-product-image--slider
                    h2 Готовые объекты визуализации
                    .b-product-image__img.js-product-slider-single
                        .b-product-image__item
                            img(src='./images/home_page/29@2x.jpg')
                            h3 Университет Бакингемшир
                            span Эйлсбери, Англия
                        .b-product-image__item
                            img(src='./images/home_page/29@2x.jpg')
                            h3 Университет Бакингемшир
                            span Эйлсбери, Англия

                include blocks/_b-product-table


        include blocks/_b-subscribe

        include blocks/_b-footer
