extends _layout
block title
    title Главная страница
block content
    - var img_11 = 'http://dev.ceramicgroup.ru/img/photo_item/icon/253.jpg'
    - var img_22 = 'http://dev.ceramicgroup.ru/img/photo_item/icon/232.jpg'
    - var img_3 = 'http://dev.ceramicgroup.ru/img/photo_item/icon/243.jpg'
    - var img_4 = 'http://dev.ceramicgroup.ru/img/photo_item/icon/254.jpg'
    .b-wrapper
        include blocks/_header
        include mixins/all-mixins
        .b-main.b-main--short
            .b-main__bg(style='background-image: url("./images/detail_product_number/2.jpg")')

            .b-main__content
                .container
                    .b-main__subtitle Итальянский кирпич ручной работы S.ANSELMO
                    h1 Superior Line
                    .b-main__desc Утонченный характер и изащная простота для любителей классики

        .b-product
            .container
                .b-product-info
                    h2 Классический и миниматистичный
                    .b-product-info__text
                        span Классическая серия кирпича ручной работы для ценителей винтажности
                        p Серия Superior наиболее универсальна, используя этот материал можно создать как эффект винтажности, так и хорошо вписаться в современные тренды. Классические вариации цвета от серовато-бежевого до темно-красного дополняются сериями бруччиато — с особым эффектом «подпалин», точно таким же, какой даёт обжиг в старинных угольных печах
                include blocks/_b-product-color

            .b-product__full-bg

                - var img_1 = './images/detail_product/product_10.png'


                .b-product-el
                    .container
                        .b-product-el__row
                            h2 Евроформат (NF) 240×70 мм
                            .b-product-el__list.b-product-el__list--col-3
                                a.product-card(href='')
                                    .product-card__img
                                        img(src=img_1)
                                    .product-card__info
                                        h3 Целый кирпич
                                        .product-card__desc Вес : 2,5 кг
                                        .product-card__desc Расход в кв.м : 48 шт
                                a.product-card(href='')
                                    .product-card__img
                                        img(src=img_1)
                                    .product-card__info
                                        h3 Половинка
                                        .product-card__desc Вес : 2,5 кг
                                        .product-card__desc Расход в кв.м : 48 шт
                                a.product-card(href='')
                                    .product-card__img
                                        img(src=img_1)
                                    .product-card__info
                                        h3 Спил кирпича
                                        .product-card__desc Вес : 2,5 кг
                                        .product-card__desc Расход в кв.м : 48 шт

                        .b-product-el__row
                            h2 Итальянский 250×55 мм
                            .b-product-el__list.b-product-el__list--col-3
                                a.product-card(href='')
                                    .product-card__img
                                        img(src=img_1)
                                    .product-card__info
                                        h3 Целый кирпич
                                        .product-card__desc Вес : 2,5 кг
                                        .product-card__desc Расход в кв.м : 48 шт
                                a.product-card(href='')
                                    .product-card__img
                                        img(src=img_1)
                                    .product-card__info
                                        h3 Половинка
                                        .product-card__desc Вес : 2,5 кг
                                        .product-card__desc Расход в кв.м : 48 шт
                                a.product-card(href='')
                                    .product-card__img
                                        img(src=img_1)
                                    .product-card__info
                                        h3 Спил кирпича
                                        .product-card__desc Вес : 2,5 кг
                                        .product-card__desc Расход в кв.м : 48 шт

                        .b-product-el__row
                            h2 Corso 500×40×мм
                            .b-product-el__list.b-product-el__list--col-3
                                a.product-card(href='')
                                    .product-card__img
                                        img(src=img_1)
                                    .product-card__info
                                        h3 Целый кирпич
                                        .product-card__desc Вес : 2,5 кг
                                        .product-card__desc Расход в кв.м : 48 шт
                                a.product-card(href='')
                                    .product-card__img
                                        img(src=img_1)
                                    .product-card__info
                                        h3 Половинка
                                        .product-card__desc Вес : 2,5 кг
                                        .product-card__desc Расход в кв.м : 48 шт
                                a.product-card(href='')
                                    .product-card__img
                                        img(src=img_1)
                                    .product-card__info
                                        h3 Спил кирпича
                                        .product-card__desc Вес : 2,5 кг
                                        .product-card__desc Расход в кв.м : 48 шт


            .container
                include blocks/_b-product-categories

                include blocks/_b-product-table

                .b-product-gallery.js-ajax-gallery(data-catalog_item_id='92' data-last='')
                    h2 Фотогалерея
                    .b-product-gallery__content
                        a(href=img_11).js-gallery.b-product-gallery__item
                            +img(img_11)
                        a(href=img_22).js-gallery.b-product-gallery__item
                            +img(img_22)
                        a(href=img_3).js-gallery.b-product-gallery__item
                            +img(img_3)
                        a(href=img_4).js-gallery.b-product-gallery__item
                            +img(img_4)


                    //- button.btn.btn--more.js-button-gallery-more Показать еще

                - var img_13 = './images/detail_product/31.jpg'
                .b-product-more.b-product-more--single.b-product-more--hidden-mobile
                    h2 Вам также могут потребоваться
                    .b-product-more__list
                        a.product-card(href='')
                            .product-card__img
                                img(src=img_13)
                            .product-card__info
                                .product-card__title Грунт
                        a.product-card(href='')
                            .product-card__img
                                img(src=img_13)
                            .product-card__info
                                .product-card__title Грунт
                        a.product-card(href='')
                            .product-card__img
                                img(src=img_13)
                            .product-card__info
                                .product-card__title Грунт
                        a.product-card(href='')
                            .product-card__img
                                img(src=img_13)
                            .product-card__info
                                .product-card__title Грунт

                include blocks/_b-product-journal


        include blocks/_b-footer
        include blocks/_b-footer--tb
