extends _layout
block title
    title Главная страница
block content
    .b-wrapper
        include blocks/_header


        .b-main.b-main--short

            .b-main__bg(style='background-image: url("./images/collection/brushatca/header.png")')
            .b-main__content
                .container

                    .b-breadcrumbs
                        a(href='') Главная
                        a(href='') Каталог
                    h1 БРУСЧАТКА

        include blocks/_b-slider-filter

        include blocks/b-grid--catalog-detail_v3


        include blocks/_b-footer
        include blocks/_b-popup




