extends _layout
block title
    title Главная страница
block content
    .b-wrapper
        include blocks/_header

        .b-main.b-main--short
            .b-main__bg(style='background-image: url("./images/catalog_detail/Группа 9.jpg")')
            .b-main__content
                .container

                    .b-breadcrumbs
                        a(href='') Главная
                        a(href='') Каталог
                    h1 КЛИНКЕРНАЯ ПЛИТКА STROEHER

        include blocks/_b-slider-filter

        include blocks/b-grid--catalog-detail


        include blocks/_b-footer
        include blocks/_b-footer--tb
        include blocks/_b-popup




