extends _layout
block title
    title Главная страница
block content
    - var img_11 = './img/catalog_item/small/1.jpg'
    - var img_22 = './img/catalog_item/small/2.jpg'
    - var img_3 = './img/catalog_item/small/3.jpg'
    - var img_4 = './img/catalog_item/small/4.jpg'
    .b-wrapper
        include blocks/_header

        .b-main.b-main--short
            .b-main__bg.js-anim-header(style='background-image: url("http://2018.ceramicgroup.ru/img/catalog_item/big/111.jpg")')
            .b-main__content
                .container
                    .b-breadcrumbs
                        a(href='') Главная
                        a(href='') Каталог
                    h1 AERA
                    .b-main__color.b-main__color--single.btn.btn--more.js-anim-header Показать цвет

                    //a(href='').b-main__3d.btn.btn--more Скачать 3D текстуры

        .b-product
            .container
                include blocks/_b-product-info
                include blocks/_b-product-color

            .b-product__full-bg
                include blocks/_b-product-el

            .container
                include blocks/_b-product-el_1
                include blocks/_b-product-image

            .b-product__full-bg
                include blocks/_b-product-slider

            .container
                include blocks/_b-product-categories

                include blocks/_b-product-table

                //.b-product-image.b-product-image--slider
                //    h2 Готовые объекты визуализации
                //    .b-product-image__img.js-product-slider-single
                //        .b-product-image__item
                //            img(src='./images/home_page/29@2x.jpg')
                //            h3 Университет Бакингемшир
                //            span Эйлсбери, Англия
                //        .b-product-image__item
                //            img(src='./images/home_page/29@2x.jpg')
                //            h3 Университет Бакингемшир
                //            span Эйлсбери, Англия


                .b-product-gallery.js-ajax-gallery(data-catalog-id='32' data-last='4')
                    h2 Готовые объекты визуализации
                    .b-product-gallery__content
                        a(href=img_11).js-gallery.b-product-gallery__item
                            +img(img_11)
                        a(href=img_22).js-gallery.b-product-gallery__item
                            +img(img_22)
                        a(href=img_3).js-gallery.b-product-gallery__item
                            +img(img_3)
                        a(href=img_4).js-gallery.b-product-gallery__item
                            +img(img_4)

                    button.btn.btn--more.js-button-gallery-more
                        span Показать еще
                        .preloader
                            div
                            div


                include blocks/_b-product-more

                include blocks/_b-product-journal


        include blocks/_b-footer
