extends _layout
block title
    title Главная страница
block content
    .b-wrapper
        include blocks/_header--black

        include blocks/_b-detail_v2_new




        include blocks/_b-footer
        include blocks/_b-footer--tb



