extends _layout
block title
    title Главная страница
block content
    .b-wrapper
        include blocks/_header

        .b-main.b-main--short.b-main--gallery
            .b-main__bg(style='background-image: url("./images/detail_product_number/5.jpg")')
            .b-main__content
                .container
                    .b-breadcrumbs

                        a(href='') Главная
                        a(href='') Каталог
                    h1 Кирпич ручной формовки
                    //- a(href='').b-main__3d.btn.btn--more Коллекции


        include blocks/_b-content



        include blocks/_b-footer
        include blocks/_b-footer--tb

