extends _layout
block title
    title Главная страница
block content
    .b-wrapper
        include blocks/_header

        .b-main.b-main--company
            .b-main__bg(style='background-image: url("./images/company/header_img.jpg")')
            .b-main__bg.b-main__bg--tb(style='background-image: url("./images/company/company-tb.jpg")')
            .b-main__content
                .container


                    h1 клинкер. керамика. мастерство
                    .b-main__slogan С гордостью представляем бизнес, который объединил сотни энтузиастов в одну команду. Эти люди посвятили жизнь созданию красоты фасадов из кирпича ручной формовки, брусчатых дорожек, террас и входных групп, украшенных немецкими клинкерными ступенями и плиткой.
        #sub-scroll
            .b-slider-filter.b-slider-filter--company.js-scroll-sub-menu
                .container
                    .b-slider-filter__wrap
                        .b-slider-filter__list
                            a(href='#business').b-slider-filter__item.js-anchor Наш бизнес
                            a(href='#advantages').b-slider-filter__item.js-anchor Преимущества
                            a(href='#client').b-slider-filter__item.js-anchor Наши клиенты
                            a(href='#contacts').b-slider-filter__item.js-anchor Контакты
                            a(href='#sub-scroll').b-slider-filter__item.js-anchor.js-anchor--last В начало

        include blocks/_b-blog--company



        include blocks/_b-footer
        include blocks/_b-footer--tb
        include blocks/_b-popup


