
extends _layout
block title
    title Главная страница
block content
    include ./mixins/all-mixins
    .b-wrapper
        include blocks/_header

        .b-main.b-main--short
            .b-main__bg(style='background-image: url("./images/detail_product_number/5.jpg")')
            .b-main__content
                .container
                    //- .b-main__subtitle Узкий кирпич Kerawil
                    h1 Тротуарный кирпич-ригель
                    //- .b-main__desc Для ценителей необычных форм, и иключительных решений

        .b-product
            .container
                .b-product-info
                    h2 Необычные формы для необычных дизайнерских решений
                    .b-product-info__text
                        span Уникальная серия формового кирпича
                        p Тротуарный кирпич-ригель Kerawil - это уникальный узкий кирпич немецкого завода Kerawil, который поможет придать вашему тротуару неповторимый стиль, и красоту вашим дизайнерским решениям
                    +img('./images/detail_product/16.jpg')

                - var img_1 = './images/detail_product/10.png'

                - var img_2 = './images/detail_product/10.png'
                - var img_2_zoom = './images/detail_product/10_zoom.png'

                .b-product-color
                    .b-product-color__wrap
                        h2 Цветовые решения

                        .b-color
                            .b-color__list.js-custom-scroll
                                .b-color__item
                                    .b-color__item-img
                                        a(href=img_2_zoom title='Selmo (BB)').popup.js-zoom-color
                                            img(src=img_1)
                                        p Увеличить
                                        a(href='').link Подробнее
                                    span Selmo (BB)

                                .b-color__item
                                    .b-color__item-img
                                        a(href=img_2_zoom title='Selmo (BB)').popup.js-zoom-color
                                            +img(img_1)
                                        p Увеличить
                                        a(href='').link Подробнее
                                    span Selmo (BB)



                                .b-color__item
                                    .b-color__item-img
                                        a(href=img_2_zoom title='Selmo (BB)').popup.js-zoom-color
                                            +img(img_1)
                                        p Увеличить
                                        a(href='').link Подробнее
                                    span Selmo (BB)

                                .b-color__item
                                    .b-color__item-img
                                        a(href=img_2_zoom title='Selmo (BB)').popup.js-zoom-color
                                            +img(img_1)
                                        p Увеличить
                                        a(href='').link Подробнее
                                    span Selmo (BB)

                                .b-color__item
                                    .b-color__item-img
                                        a(href=img_2_zoom title='Selmo (BB)').popup.js-zoom-color
                                            +img(img_1)
                                        p Увеличить
                                        a(href='').link Подробнее
                                    span Selmo (BB)


            .b-product__full-bg
                - var img_1q = './images/detail_product/product_1.png'

                .b-product-el
                    .container
                        .b-product-el__row
                            h2 Форматы
                            .b-product-el__list.b-product-el__list--col-3
                                +product_card(img_1q, 'Тип: Riegel DEZI-52', 'Габариты: 200х52х52 мм')
                                +product_card(img_1q, 'Тип: Riegel DEZI-52', 'Габариты: 200х52х52 мм')
                                +product_card(img_1q, 'Тип: Riegel DEZI-52', 'Габариты: 200х52х52 мм')
                                +product_card(img_1q, 'Тип: Riegel DEZI-52', 'Габариты: 200х52х52 мм')
                                +product_card(img_1q, 'Тип: Riegel DEZI-52', 'Габариты: 200х52х52 мм')

                            button.btn.btn--more Показать еще


            .container
                include blocks/_b-product-categories

                include blocks/_b-product-table

                include blocks/_b-product-more

                include blocks/_b-product-journal

        include blocks/_b-subscribe

        include blocks/_b-footer
        include blocks/_b-footer--tb
