
extends _layout
block title
    title Главная страница
block content
    include ./mixins/all-mixins
    .b-wrapper
        include blocks/_header

        .b-main.b-main--short
            .b-main__bg(style='background-image: url("./images/detail_product_number/3.jpg")')

            .b-main__content
                .container
                    .b-main__subtitle Брусчатка Kerawil
                    h1 Keratique
                    .b-main__desc Утонченный характер и изащная простота с особенным эффектом старины

        .b-product
            .container
                .b-product-info
                    h2 Винтажная с эффектом старины
                    .b-product-info__text
                        span Классическая серия брусчатки с античным взглядом
                        p Брусчатка Kerawil Keratique - это уникальный продукт немецкого завода Kerawil, внешний вид которого достигается специальной технологией "состаривания".Эта красивая, прочная и долговечная брусчатка придаст дорожкам уникальность, и сохранит неизменный вид на долгие года

                include blocks/_b-product-color

            .b-product__full-bg
                - var img_1q = './images/detail_product/product_1.png'

                .b-product-el
                    .container
                        .b-product-el__row
                            h2 Форматы
                            .b-product-el__list.b-product-el__list--col-3
                                +product_card(img_1q, 'Тип: Riegel DEZI-52', 'Габариты: 200х52х52 мм')
                                +product_card(img_1q, 'Тип: Riegel DEZI-52', 'Габариты: 200х52х52 мм')

                            button.btn.btn--more Показать еще


            .container
                include blocks/_b-product-categories

                include blocks/_b-product-table

                include blocks/_b-product-more

                include blocks/_b-product-journal

        include blocks/_b-subscribe

        include blocks/_b-footer
