
extends _layout
block title
    title Главная страница
block content
    include ./mixins/all-mixins
    .b-wrapper
        include blocks/_header

        .b-main.b-main--short
            .b-main__bg(style='background-image: url("./images/detail_product_number/1.jpg")')

            .b-main__content
                .container
                    a(href='').b-main__back
                    h1 KERAVETTE 210 braun
                    a(href='').b-main__3d.btn.btn--more Скачать 3D текстуры

        .b-product
            .container
                .b-product-image.b-product-image--slider
                    h2 Готовые объекты визуализации
                    .b-product-image__img.js-product-slider-single
                        .b-product-image__item
                            img(src='./images/home_page/29@2x.jpg')
                            h3 Университет Бакингемшир
                            span Эйлсбери, Англия
                        .b-product-image__item
                            img(src='./images/home_page/29@2x.jpg')
                            h3 Университет Бакингемшир
                            span Эйлсбери, Англия

                include blocks/_b-product-table
            .b-product__full-bg.b-product__full-bg--slider
                include blocks/_b-product-slider

        include blocks/_b-subscribe

        include blocks/_b-footer
        include blocks/_b-footer--tb
