.mfp-hide#modal-catalog.b-modal.b-modal--catalog
    button.b-modal__close.js-modal-close(
        aria-label='Закрыть'
    )
        span.b-modal__close-wrapper Каталог

    ul.b-modal__list
        li  Галерея
            ul.b-modal__sublist
                li
                    a(href='#') Плитка для стен и фасадов
                li 
                    a(href='#') Напольная плитка и ступени
                li
                    a(href='#') Тротуарная плитка
                li 
                    a(href='#') Промышленная плитка
                li
                    a(href='#') Подбор по параметрам
        li.b-modal__item
            a(href='#') Клинкерная плитка и ступени Stroeher
        li.b-modal__item
            a(href='#') Кирпич ручной формовки S.Anselmo
        li.b-modal__item
            a(href='#') Строительные смеси и химия
        li.b-modal__item
            a(href='#') Системные решения
        li.b-modal__item
            a(href='#') и еще