.mfp-hide#modal-tb-menu.b-modal.b-modal--tb-menu
    .b-modal__head
        .b-header__city.js-show-city Москва
        .b-header__list-phone
            span.b-header__phone.b-header__phone--main +7 (499) 348-85-65
            span.b-header__phone.b-header__phone--child
    nav.b-modal__nav
        ul.b-modal__nav-list
            li.b-modal__nav-item
                a(href='#') О компании
            li.b-modal__nav-item
                a(href='#') Как купить?
            li.b-modal__nav-item
                a(href='#') Сервис
            li.b-modal__nav-item
                a(href='#') Журнал
            li.b-modal__nav-item
                a(href='#') Контакты
    .b-modal__foot