doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="/styles/guideline.css")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -var links = []

        -links.push({'url': '../../lvl_1_vibor_category', 'name': 'Выбор категорий'});


        h2 01 Каталог lvl 1 Выбор категорий

        ol
            each link in links
                li
                    a(href!=link.url+'.html')=link.name
