* {
  -webkit-font-smoothing: antialiased;
  /* test */
}

.b-wrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: calc(1240px + 24px*2);
  padding: 0 24px;
  margin: 0 auto;
  position:relative;

  @include bp($bp-ipad-1024) {
    padding: 0 15px;
  }

  .b-main &,
  .b-header & {
    @include bp($bp-ipad-1024) {
      padding: 0 30px;
    }
  }

  .b-grid__single & {

    @include bp($bp-ipad-1024) {
      padding: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.btn {
  display: inline-block;
  height: 38px;
  font-family: $fontNormal;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #747474;
  background-color: transparent;
  padding: 15px 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease all;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }

  @include bp($bp-ipad-768) {
    font-size: 11px;
  }
}

.btn--submit {
  border-radius: 20px;
  background-color: $yellow;

  &:hover {
    box-shadow: 0px 3.8px 14px -4.7px rgba(0, 0, 0, 0.3)
  }

}

.btn--more {
  border-radius: 20px;
  background-color: $yellow;
  padding: 15px 44px;

  @include bp($bp-ipad-1024) {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  }

  @include bp($bp-ipad-768) {
    padding-left: 28px;
    padding-right: 28px;
  }

  &:hover {
    box-shadow: 0px 3.8px 14px -4.7px rgba(0, 0, 0, 0.3)
  }
}

.btn--dis {
  background-color: rgba(196, 196, 196, 0.7);
  color: #747474;
}

.btn--reset {
  border: 1px solid #232323;
  border-radius: 20px;
}

.b-not-found {
  padding-top: 200px;
  width: 100%;
  display: block;
  font-family: $fontNormal;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.skrollable {
  /*
   * First-level skrollables are positioned relative to window
   */
  position:fixed;

  /*
   * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
   */
  z-index:100;
}

.skrollr-mobile .skrollable {
  /*
      May cause issues on Android default browser (see #331 on GitHub).
  */
  position:absolute;
}

.skrollable .skrollable {
  /*
   * Second-level skrollables are positioned relative their parent skrollable
   */
  position:absolute;
}

.skrollable .skrollable .skrollable {
  /*
   * Third-level (and below) skrollables are positioned static
   */
  position:static;
}

.whereami{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 50px;
  background: rgba(0,0,0,0.7);
  color: #FFF;
  text-align: center;
  font-size: 40px;
  z-index: 10000;
}

.preloader {
  opacity: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  &.active {
    opacity: 1;
  }
}
.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  animation: animatePreloader 1s infinite linear;
  transform-origin: 50% 100%;
}
.preloader div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  border: 3px solid $yellow;
  border-radius: 50%;
  box-sizing: border-box;
}
.preloader div:nth-child(2) {
  width: 60%;
  height: 60%;
  top: 20%;
  animation: animatePreloader 0.5s infinite linear;
}
@keyframes animatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(360deg);
  }
}

.b-error {

}

.b-error__img {
  margin-bottom: 50px;
  img {
    width: 688px;
    height: 662px;
  }
}

.b-error__title  {
  font-family: $fontBold;
  line-height: 64px;
  font-size: 54px;
  letter-spacing: -0.004em;
  color: #272727;
  margin-bottom: 34px;
}

.sroll-top {
  position: fixed;
  right: 100px;
  bottom: 100px;
  @include svg-upwards-arrow;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out all;

  @include bp($bp-1440) {
    right: 24px;
    bottom: 80px;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
