$fontNormal: 'LetoSans';
$fontBold: 'LetoSans-Bold';
$fontThin: 'LetoSans-Thin';
$Stem: '';

//color
$yellow: #e3de03;
$blue: #2f9ade;
$white: #fff;
//$lightWhite: rgba(255, 255, 255, 0.6);
//$lightWhitePlus: rgba(255, 255, 255, 0.3);
//$black: #000;
//$blackBrown: #2a2a2a;
//$green: #77b82b;
//$lightBlack: rgba(0, 0, 0, 0.3);
//$darkBlack: rgba(0, 0, 0, 0.6);
//// $error: #d44444;
//$error: #ff1010;
//$bgBrown: #343434;
$columns: 12;
$gutter: 10px;
$gutter_blog: 24px;

@function grid-width($cols) {
  @return calc(((100% / #{$columns}) * #{$cols}) - #{$gutter});
}

@function grid-width_blog($cols) {
  @return calc(((100% / #{$columns}) * #{$cols}) - #{$gutter_blog});
}


@function grid-width-no-margin($cols) {
  @return calc(((100% / #{$columns}) * #{$cols}));

}



